<form class="form__adSettings">
    <ul class="wizard__group">
        <li ng-repeat="choice in AdSettingsCtrl.adChoices.display" class="wizard__choice wizard__choice--textOnly wizard__choice--ads">
            <input id="displayAd_{{choice.value}}" type="radio"
                name="minireel-category" ng-model="AdSettingsCtrl.model.display.waterfall" ng-value="choice.value"
                class="modal__radioBtn" />
            <label class="wizard__hitarea" for="displayAd_{{choice.value}}"><span class="ir">{{choice.name}}</span></label>
            <div class="wizard__copy">
                <h2 class="wizard__title">{{choice.name}}</h2>
                <p class="wizard__p">{{choice.description}}</p>
            </div>
        </li>
    </ul>
</form>
<input type="button" value="Save Settings" ng-click="AdManagerCtrl.saveSettings(AdSettingsCtrl.model)">