<div class="modalBody__group modalBody__group--sideTabs mrAdManager__videoServer">
    <form c6-alias="NewCtrl.mode as config">
        <h1 class="forms__name--title">Choose Companion Ad Server</h1>
        <p>If companion ads are shown, how do you want to load the <strong>companion ads</strong> for this MiniReel?</p>
        <div class="halfCol">
            <label class="radiobox" for="videoServer_c6First">
                <input id="videoServer_c6First" type="radio" 
                    name="minireel-mode"
                    class="radiobox__input"/>
                <span class="btn__label faa fab"> 
                    Use Cinema6 ad server <em>first</em>, <br> 
                    with your ad server as a backup.
                </span>
            </label>
            <label class="radiobox" for="videoServer_c6Only">
                <input id="videoServer_c6Only" type="radio" 
                    name="minireel-mode"
                    class="radiobox__input"/>
                <span class="btn__label faa fab"> 
                    Use Cinema6 ad server <em>only</em>, <br> 
                    <em>no backup ad server.</em>
                </span>
            </label>
        </div>
        <div class="halfCol">
            <label class="radiobox" for="videoServer_pubFirst">
                <input id="videoServer_pubFirst" type="radio" 
                    name="minireel-mode"
                    class="radiobox__input"/>
                <span class="btn__label faa fab"> 
                    Use your ad server <em>first</em>, <br> 
                    with Cinema6 ad server as a backup.
                </span>
            </label>
            <label class="radiobox" for="videoServer_pubOnly">
                <input id="videoServer_pubOnly" type="radio" 
                    name="minireel-mode"
                    class="radiobox__input"/>
                <span class="btn__label faa fab"> 
                    Use your ad server <em>only</em>, <br> 
                    <em>no backup ad server.</em>
                </span>
            </label>
        </div>

    </form>
    <p class="modalBody__fineprint typo--danger"><strong>*</strong> Indicates required field.</p>
</div>
<footer class="modalFooter__group">
    <button class="btnAction btnAction--first" c6-sref="{{NewCtrl.returnState}}" title="Cancel">Cancel</button>
    <ng-switch on="NewCtrl.tabs.length">
        <button ng-switch-when="1" ng-click="NewCtrl.save()" class="btnAction btnAction--success btnAction--last" type="button" title="Done!" ng-disabled="!NewCtrl.title">I&rsquo;m Done!</button>
        <button ng-switch-default ng-click="NewCtrl.nextTab()" ng-disabled="!NewCtrl.title" class="btnAction btnAction--primary btnAction--last" type="button" title="Next Step">Next Step</button>
    </ng-switch>
    <p class="modalFooter__guideText">Step {{NewCtrl.tabs.indexOf(NewCtrl.currentTab) + 1}} of {{NewCtrl.tabs.length}}</p>
</footer>

<!--
    {{choice.name}}
    {{choice.description}}
-->