<div class="modalBody__group modalBody__group--sideTabs mrAdManager__videoServer">
    <form c6-alias="AdSettingsCtrl.adChoices.display as config">
        <h1 class="forms__name--title">Choose Companion Ad Server</h1>
        <p class="forms__introText">If companion ads are shown, how do you want to load the <strong>companion ads</strong> for this MiniReel?</p>
        <div class="twoCol">
            <label class="radiobox radiobox--hasLabel" for="videoServer_c6First">
                <input id="videoServer_c6First" type="radio" 
                    name="minireel-mode"
                    class="radiobox__input"
                    ng-model="AdSettingsCtrl.model.settings.display.waterfall"
                    value="cinema6-publisher"/>
                <span class="btn__icon faa fab">
                    &nbsp;
                </span>
                <span class="btn__label">
                    Use Cinema6 ad server <em>first</em>, <br> 
                    with your ad server as a backup.
                </span>
            </label>
            <label class="radiobox radiobox--hasLabel" for="videoServer_c6Only">
                <input id="videoServer_c6Only" type="radio" 
                    name="minireel-mode"
                    class="radiobox__input"
                    ng-model="AdSettingsCtrl.model.settings.display.waterfall"
                    value="cinema6"/>
                <span class="btn__icon faa fab">
                    &nbsp;
                </span>
                <span class="btn__label">
                    Use Cinema6 ad server <em>only</em>, <br> 
                    <em>no backup ad server.</em>
                </span>
            </label>
        </div>
        <div class="twoCol">
            <label class="radiobox radiobox--hasLabel" for="videoServer_pubFirst">
                <input id="videoServer_pubFirst" type="radio" 
                    name="minireel-mode"
                    class="radiobox__input"
                    ng-model="AdSettingsCtrl.model.settings.display.waterfall"
                    value="publisher-cinema6"/>
                <span class="btn__icon faa fab">
                    &nbsp;
                </span>
                <span class="btn__label">
                    Use your ad server <em>first</em>, <br> 
                    with Cinema6 ad server as a backup.
                </span>
            </label>
            <label class="radiobox radiobox--hasLabel" for="videoServer_pubOnly">
                <input id="videoServer_pubOnly" type="radio" 
                    name="minireel-mode"
                    class="radiobox__input"
                    ng-model="AdSettingsCtrl.model.settings.display.waterfall"
                    value="publisher"/>
                <span class="btn__icon faa fab">
                    &nbsp;
                </span>
                <span class="btn__label">
                    Use your ad server <em>only</em>, <br> 
                    <em>no backup ad server.</em>
                </span>
            </label>
        </div>

    </form>
</div>
<footer class="modalFooter__group">
    <button class="btnAction btnAction--first" ng-click="AdSettingsCtrl.prevTab()" title="Previous">Previous Step</button>
    <button ng-click="AdSettingsCtrl.save()" class="btnAction btnAction--success btnAction--last" type="button" ng-disabled="!AdSettingsCtrl.formIsValid()" title="Done!">I&rsquo;m Done!</button>
    <p class="modalFooter__guideText">Step {{AdSettingsCtrl.tabs.indexOf(AdSettingsCtrl.currentTab) + 1}} of {{AdSettingsCtrl.tabs.length}}</p>
</footer>

<!--
    {{choice.name}}
    {{choice.description}}
-->