here's a form from when we had ad settings in the minireelinator<br>
disregard all the Ctrl and bindings, but the structure will be similar,<br>
there will be an ng-repeat to show the available options<br>

<div class="modal__content modal__editor clearfix">
    <form class="form__adSettings">
        <ul class="wizard__group">
            <li ng-repeat="choice in AdSettingsCtrl.adChoices.video" class="wizard__choice wizard__choice--textOnly wizard__choice--ads">
                <input id="videoAd_{{choice.value}}" type="radio"
                    name="minireel-category" ng-model="AdSettingsCtrl.videoServer" ng-value="choice.value"
                    class="modal__radioBtn" />
                <label class="wizard__hitarea" for="videoAd_{{choice.value}}"><span class="ir">{{choice.name}}</span></label>
                <div class="wizard__copy">
                    <h2 class="wizard__title">{{choice.name}}</h2>
                    <p class="wizard__p">{{choice.description}}</p>
                </div>
            </li>
        </ul>
    </form>
</div>