<div ng-if="model.show" class="ng-scope">
    <div class="modalDialog__group modalDialog__group--confirm modalBody__group--tall selfieModal ng-scope">
        <header class="modalHeader__group">
            <h1 class="modal__title">Confirm your campaign</h1>
            <button class="modal__closeBtn btnInvis" ng-click="model.onCancel()"><span class="ir">Close</span>
                <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                    <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" d="M16.5,0L9,7.5L1.5,0L0,1.5L7.5,9L0,16.5L1.5,18L9,10.5l7.5,7.5l1.5-1.5L10.5,9
                    L18,1.5L16.5,0z"></path>
                </svg>
            </button>
        </header>

        <div class="modalBody__group typo--centered">
            <div class="reviewOrder__group">
                <div class="reviewOrder__head">
                    <div class="grid grid--center">
                        <div class="reviewOrder__item text--center">
                            <h2><span class="orderItem__label text--small">Campaign Name </span><span class="orderItem__title tk--hdr">{{model.campaign.name}}</span></h2>
                        </div>
                        <div class="reviewOrder__item text--center">
                            <span class="orderItem__label text--small">Timeline</span>
                            <span class="orderItem__title tk--hdr"> {{model.duration}}</span>
                        </div>
                        <div class="reviewOrder__item text--center">
                            <span class="orderItem__label text--small">Total Budget </span><span class="orderItem__title tk--hdr">${{model.campaign.pricing.budget}}</span>
                        </div>
                        <div class="reviewOrder__item text--center" ng-show="model.campaign.pricing.dailyLimit">
                            <span class="orderItem__label text--small">Daily Spend </span><span class="orderItem__title tk--hdr">${{model.campaign.pricing.dailyLimit}}</span>
                        </div>
                        <div class="reviewOrder__item text--center">
                            <span class="orderItem__label text--small">Estimated Views </span><span class="orderItem__title tk--hdr">{{(model.campaign.pricing.budget / model.cpv) | number:0}}</span>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="orderItems">
                            <ul>

                            <li>
                                <div class="grid__item two-thirds orderItem__title">Base CPV</div><!-- --><div class="grid__item one-third"><div class="orderItem__cost text--right">${{model.schema.pricing.cost.__base | number}}</div></div>
                            </li>

                            <li ng-show="model.interests">
                                <div class="grid__item two-thirds orderItem__title">Interests</div><!--
                                --><div class="grid__item one-third"><div class="orderItem__cost text--right">${{model.schema.pricing.cost.__priceForInterests | number}}</div></div>
                                <div class="grid__item one-whole orderItem__label text--small">Interests: {{model.interests}}</div>
                            </li>
                            <li ng-show="model.demographics.age.list || model.demographics.gender.list || model.demographics.income.list">
                                <div class="grid__item two-thirds orderItem__title">Demographics</div><!--
                                --><div class="grid__item one-third"><div class="orderItem__cost text--right">${{model.schema.pricing.cost.__priceForDemoTargeting | number}}</div></div>
                                <div class="grid__item one-whole orderItem__label text--small" ng-if="demo.list" ng-repeat="demo in model.demographics">{{demo.name}}: {{demo.list}}</div>
                            </li>
                            <li ng-show="model.geo.states.list || model.geo.dmas.list">
                                <div class="grid__item two-thirds orderItem__title">Location</div><!--
                                --><div class="grid__item one-third"><div class="orderItem__cost text--right">${{model.schema.pricing.cost.__priceForGeoTargeting | number}}</div></div>
                                <div class="grid__item one-whole orderItem__label text--small" ng-if="geo.list" ng-repeat="geo in model.geo">{{geo.name}}: {{geo.list}}</div>
                            </li>
                            <li>
                                <div class="grid__item two-thirds orderItem__title">Total CPV</div><!--
                                --><div class="grid__item one-third"><div class="orderItem__cost--total text--right">${{model.cpv | number:2}}</div></div>
                                </li>
                            </ul>
                            <p class="text--center" ng-if="!model.campaign.status || model.campaign.status === 'draft'">
                                Note: It may take up to 24 hours for your campaign to become active.
                            </p>
                            <p class="text--center" ng-if="model.campaign.status && model.campaign.status !== 'draft'">
                                Note: It may take up to 24 hours for your changes to be approved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="modalFooter__group">
            <button class="btnAction btnAction btnAction--first ng-binding" ng-click="model.onCancel()" title="Cancel">Edit</button>
            <button ng-click="model.onAffirm()" title="Yes" class="btnAction btnAction--success btnAction--last ng-binding" type="button">Submit Campaign</button>
        </footer>

    </div>

    <div class="modal__overlay modal__overlay--confirm">&nbsp;</div>

</div>