<div class="grid grid--center">

    <div class="assetLoader ui__connector" ng-show="!ready">
        <div class="assetLoader__status">
            <div class="assetLoader__status--icon">
                <div class="spinner"></div>
            </div>
            <div class="assetLoader__status--text text-small">Loading secure credit card form...</div>
        </div>
    </div>

    <div class="grid__item" ng-show="ready">
        <div class="form__items addPayment__method">
            <form id="c6-payment-method">
                <fieldset class="form__item">
                    <!-- <input class="form__textBox form__fillCheck" type="text" id="c6-addCard-number"> -->
                    <div class="form__textBox form__fillCheck" id="c6-addCard-number"></div>

                    <label class="form__label form__label--lrg" for="c6-addCard-number">
                        <i class="fa fa-times ui--error"></i>
                        Card Number
                    </label>
                    <div class="form__helpBox form__helpBox--right form__helpBox--rightLrg">
                        <div class="form__helpText">
                            Provide the credit card number.
                        </div>
                    </div>
                    <div class="form__errorBox">
                        <p class="form__errorMsg">
                            <i class="fa fa-exclamation-triangle"></i> Your card number is invalid.
                        </p>
                    </div>
                </fieldset>

                <fieldset class="form__item">
                    <input c6-fill-check class="form__textBox form__fillCheck" type="text" id="c6-addCard-name" ng-model="name">
                    <label class="form__label form__label--lrg" for="c6-addCard-name">
                        <i class="fa fa-times ui--error"></i>
                        Name on the Card
                    </label>
                    <div class="form__helpBox form__helpBox--center form__helpBox--rightLrg">
                        <div class="form__helpText">
                            Provide the name, as you see it exactly, on the credit card.
                        </div>
                    </div>
                    <div class="form__errorBox">
                        <p class="form__errorMsg">
                            <i class="fa fa-exclamation-triangle"></i> Your card number is invalid.
                        </p>
                    </div>
                </fieldset>

                <fieldset class="form__item">
                    <div class="form__textBox form__fillCheck" id="c6-expiration-date"></div>

                    <label class="form__label form__label--lrg" for="c6-expiration-date">
                        <i class="fa fa-times ui--error"></i>
                        Expiration Date (MM/YYYY)
                    </label>
                    <div class="form__errorBox">
                        <p class="form__errorMsg">
                            <i class="fa fa-exclamation-triangle"></i> The date is incorrect.
                        </p>
                    </div>
                </fieldset>

                <fieldset class="form__item">
                    <div class="form__textBox form__fillCheck" id="c6-cvv"></div>

                    <label class="form__label form__label--lrg" for="c6-cvv">
                        <i class="fa fa-times ui--error"></i>
                        CVV
                    </label>
                    <div class="form__errorBox">
                        <p class="form__errorMsg">
                            <i class="fa fa-exclamation-triangle"></i> Invalid.
                        </p>
                    </div>
                </fieldset>

                <fieldset class="form__item">
                   <!--  <input c6-fill-check class="form__textBox form__fillCheck" type="text" id="c6-addCard-zip"> -->

                    <div class="form__textBox form__fillCheck" id="c6-zip"></div>

                    <label class="form__label form__label--lrg" for="c6-zip">
                        <i class="fa fa-times ui--error"></i>
                        Billing Zip Code
                    </label>

                    <div class="form__helpBox form__helpBox--right form__helpBox--rightLrg">
                        <div class="form__helpText">
                            Provide the billing zip code for your credit card. It may be different than your home address zip code.
                        </div>
                    </div>
                    <div class="form__errorBox">
                        <p class="form__errorMsg">
                            <i class="fa fa-exclamation-triangle"></i> Your zip code is not recognized.
                        </p>
                    </div>
                </fieldset>

                <div class="ui__btnHolder--sub">
                    <button ng-show="!hideSaveButton" id="credit-card-submit" ng-class="{ 'btnSpinner__waiting' : pending }" ng-click="pending = true" class="action__btn action__btn--wide">Save</button>
                </div>

                <span class="alertMessage alert__failure text--center" ng-show="!!errorMessage">{{errorMessage}}</span>

            </form>

        </div><!--.form__items-->
    </div><!--.grid__item .three-fifths-->
</div><!--.grid .grid--center-->