<fieldset class="form__item">
    <select c6-select-box multiple="multiple" class="form__selectBox form__selectBox--multiple" ng-model="SelfieGeotargetingCtrl.geo" ng-options="option.state for option in SelfieGeotargetingCtrl.geoOptions"></select>
    <label class="form__label" for="c6-sponsor-name">
        <i class="fa fa-times ui--error"></i>
        Geography
    </label>
    <div class="form__helpBox form__helpBox--right">
        <div class="form__helpText">
            You can use geographic data to target viewers from a specific state.
        </div>
    </div>
    <div class="form__errorBox">
        <p class="form__errorMsg">
            <i class="fa fa-exclamation-triangle"></i> Error message goes here
        </p>
    </div>
    <p class="tk--fineprint tk--warning">
        <i class="fa fa-asterisk"></i> Using this feature will add an additional cost of $0.50 per 1000 video plays.
    </p>
</fieldset>