<h1 class="formSection__title">
    <span class="formSection__titleText tk--hdr">Location</span>
    <!--<span class="tk--fineprint">
        <i class="fa fa-asterisk"></i> Using this feature will add an additional cost of ${{SelfieGeotargetingCtrl.pricePerGeo}} per 1000 video plays.
    </span>-->
</h1>
<div class="form__items">

    <fieldset class="form__item" >
        <select c6-select-box multiple="multiple" data-options="SelfieGeotargetingCtrl.stateOptions" class="form__selectBox form__selectBox--multiple" ng-model="SelfieGeotargetingCtrl.states" ng-options="option.state for option in SelfieGeotargetingCtrl.stateOptions" id="c6-states"></select>
        <label select-label class="form__label" for="c6-states">
            <i class="fa fa-times ui--error"></i>
            States
        </label>
        <!--<div class="form__helpBox form__helpBox--right">
            <div class="form__helpText">
                Geo-target enables you to reach viewers based on their location including country, state, or DMA.
                --old text-- You can use geographic data to target viewers from a specific state. --
            </div>
        </div>-->
        <div class="form__errorBox">
            <p class="form__errorMsg">
                <i class="fa fa-exclamation-triangle"></i> Error message goes here
            </p>
        </div>
    </fieldset>

    <fieldset class="form__item">
        <select c6-select-box multiple="multiple" data-options="SelfieGeotargetingCtrl.dmaOptions" class="form__selectBox form__selectBox--multiple" ng-model="campaign.targeting.geo.dmas" ng-options="option for option in SelfieGeotargetingCtrl.dmaOptions" id="c6-dmas"></select>
        <label select-label class="form__label" for="c6-dmas">
            <i class="fa fa-times ui--error"></i>
            DMA
        </label>
        <div class="form__helpBox form__helpBox--right">
            <div class="form__helpText">
                Target viewers by metropolitan area
            </div>
        </div>
        <div class="form__errorBox">
            <p class="form__errorMsg">
                <i class="fa fa-exclamation-triangle"></i> Error message goes here
            </p>
        </div>
    </fieldset>
<!-- html for zip input
    <fieldset class="form__item">
        <input class="form__textBox form__fillCheck--filled ui--active" id="c6-zip">
        <label class="form__label" for="c6-zip">
            <i class="fa fa-times ui--error"></i>
            Zip Code
        </label>
        <div class="multi__inputs">
            <div class="inputItems inputItems--open">
                <ul class="inputItems__group">
                   <li class="inputItem" title=""><span class="inputItem__remove" role="presentation">×</span>12345</li>
                   <li class="inputItem" title=""><span class="inputItem__remove" role="presentation">×</span>23456</li>
                   <li class="inputItem" title=""><span class="inputItem__remove" role="presentation">×</span>34567</li>
                   <li class="inputItem inputItem-error" title=""><span class="inputItem__remove" role="presentation">×</span>34567</li>
                   <li class="inputItem" title=""><span class="inputItem__remove" role="presentation">×</span>45678</li>
                   <li class="inputItem" title=""><span class="inputItem__remove" role="presentation">×</span>56789</li>
                   <li class="inputItem" title=""><span class="inputItem__remove" role="presentation">×</span>67890</li>
                   <li class="inputItem inputItem-error" title=""><span class="inputItem__remove" role="presentation">×</span>00000</li>
                   <li class="inputItem--form"><input class="multi__input--formField" type="number" tabindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="" style="width: 100%;"></li>
                </ul>
            </div>
        </div>
        <div class="form__helpBox form__helpBox--right">
            <div class="form__helpText">
                You can enter multiple zip codes using comma
            </div>
        </div>
        <div class="form__errorBox">
            <p class="form__errorMsg">
                <i class="fa fa-exclamation-triangle"></i> Please enter a valid zip code
            </p>
        </div>
    </fieldset>
    <fieldset class="form__item">
        <select class="form__selectBox form__selectBox--single form__textBox" id="zip-radius">
            <option>20 Miles</option>
            <option selected="selected">50 Miles</option>
            <option>100 Miles</option>
        </select>
        <label class="form__label" for="c6-zip-radius">
            <i class="fa fa-times ui--error"></i>
            Radius
        </label>
    </fieldset>-->
</div>