<h1 class="formSection__title">
    <span class="formSection__titleText tk--hdr">Interests</span>
    <!--<span class="tk--fineprint">
        <i class="fa fa-asterisk"></i> Using this feature will add an additional cost of ${{SelfieInterestsCtrl.priceForInterests}} per 1000 video plays.
    </span>-->
</h1>

<div class="form__items text--left">

    <fieldset class="form__item">

    <div class="tree-multiselect">
        <div class="section sectionHead">
                <div class="title" style="cursor:pointer;" ng-click="show = !show">
                    <label>Interests</label>
                    <span ng-show="show" class="collapse-section"><i class="fa fa-minus-circle"></i></span>
                    <span ng-show="!show" class="collapse-section"><i class="fa fa-plus-circle"></i></span>
                </div>
        </div>
        <div class="selections">
            <div ng-show="show" class="section sectionNested" ng-repeat="tier in SelfieInterestsCtrl.tiers">
                <div class="title">
                    <span ng-click="tier.show = !tier.show" ng-show="tier.show && tier.children" class="collapse-section"><i class="fa fa-minus-circle"></i></span>
                    <span ng-click="tier.show = !tier.show" ng-show="!tier.show && tier.children" class="collapse-section"><i class="fa fa-plus-circle"></i></span>
                    <span ng-click="SelfieInterestsCtrl.toggleTier(tier)" class="checkbox--wrap">
                        <input c6-indeterminate="tier.selected" type="checkbox" class="checkbox__item" id="{{tier.id}}">
                    </span>
                    <label ng-click="SelfieInterestsCtrl.expandTier(tier)" class="checkbox__label">{{tier.label}}</label>
                </div>
                <div ng-show="tier.show" ng-repeat="item in tier.children" class="item" data-value="{{item.id}}"><input ng-model="item.selected" type="checkbox" ng-change="SelfieInterestsCtrl.toggleInterest(item, tier)" id="{{item.id}}"><label for="{{item.id}}">{{item.label}}</label></div>
            </div>
        </div>
        <div class="selected">
        <span ng-if="campaign.targeting.interests.length">Selected Interests</span>
        <div class="selected" ng-repeat="tier in SelfieInterestsCtrl.tiers">
            <div class="item" ng-if="tier.selected && tier.selected !== 'indeterminate'" data-value="{{tier.id}}"><span ng-click="SelfieInterestsCtrl.toggleTier(tier)" class="remove-selected">×</span>{{tier.label}}<span class="section-name">{{tier.label}}</span></div>

            <div ng-repeat="item in tier.children">
                <div class="item" ng-if="item.selected" data-value="{{item.id}}"><span ng-click="SelfieInterestsCtrl.removeInterest(item, tier)" class="remove-selected">×</span>{{item.label}}<span class="section-name">{{tier.label}}</span></div>
            </div>
        </div>
        </div>
    </div>
        <!-- <label class="form__label" for="c6-interests">
            <i class="fa fa-times ui--error"></i>
            Interests
        </label> -->
        <!--<div class="form__helpBox form__helpBox--right">
            <div class="form__helpText">
                Interest targeting allows you to zero in on viewers whose interests align with your business.
                -- old text-- If possible, we will try to match your ad to relevant content. Please choose your category preferences here. Use 'Ctl/Cmd' or 'Shift' to select multiple items.
            </div>
        </div>-->
        <div class="form__errorBox">
            <p class="form__errorMsg">
                <i class="fa fa-exclamation-triangle"></i> Error message goes here
            </p>
        </div>
    </fieldset>

</div>
