<fieldset class="form__item" ng-show="methods.length > 0" c6-click-outside="SelfiePaymentMethodsCtrl.showDropdown = false">
    <div class="pmtDropdown">
    <!-- chosenMethod payment method-->
        <button ng-click="SelfiePaymentMethodsCtrl.toggleDropdown()" class="btn pmtDropdown__btn default" ng-class="{ 'pmtDropdown__single': methods.length < 2 }">
            <span ng-if="chosenMethod.type === 'creditCard'" class="ui__clickDrop--bigText">{{chosenMethod.cardType | paymentType}} ***{{chosenMethod.last4}} </span>
            <span ng-if="chosenMethod.type === 'paypal'" class="ui__clickDrop--bigText">PayPal </span>
            <span ng-if="chosenMethod.type === 'creditCard'" class="ui__clickDrop--sub-label"> Expires {{chosenMethod.expirationDate}}</span>
            <span ng-if="chosenMethod.type === 'creditCard'" class="ui__clickDrop--sub-label-block">{{chosenMethod.cardholderName}}<p></p><i ng-if="methods.length > 1" class="fa fa-chevron-down"> </i></span>
            <span ng-if="chosenMethod.type === 'paypal'" class="ui__clickDrop--sub-label-block">{{chosenMethod.email}}<p></p><i ng-if="methods.length > 1" class="fa fa-chevron-down"> </i></span>
        </button>
            <!-- all payment method options-->
        <ul class="pmtDropdown__menu" ng-show="SelfiePaymentMethodsCtrl.showDropdown" style="display:inherit;">
            <li class="pmtDropdown__menu--item" ng-repeat="method in SelfiePaymentMethodsCtrl.methods">
                <button ng-click="SelfiePaymentMethodsCtrl.setChosenMethod(method)" class="ui__clickDropBtn" type="button" title="">
                    <span ng-if="method.type === 'creditCard'" class="ui__clickDrop--bigText">{{method.cardType | paymentType}} ***{{method.last4}} </span>
                    <span ng-if="method.type === 'paypal'" class="ui__clickDrop--bigText">PayPal </span>
                    <span ng-if="method.type === 'creditCard'" class="ui__clickDrop--sub-label"> Expires {{method.expirationDate}}</span>
                    <span ng-if="method.type === 'creditCard'" class="ui__clickDrop--sub-label-block">{{method.cardholderName}}<p></p></span>
                    <span ng-if="method.type === 'paypal'" class="ui__clickDrop--sub-label-block">{{method.email}}<p></p></span>
                </button>
            </li>
        </ul>
    </div><!--pmtDropdown-->
</fieldset>