<c6-drag-space class="table__group" controller-as="DragCtrl" id="drag-space">
    <div class="table__left-zone" id="scroll-left" c6-drag-zone>&nbsp;</div>
    <ul id="card-scroller" class="card__list" c6-bind-scroll="Ctrl.position">
        <li class="card__list-item">
            <div class="card__container card--createNew" ng-if="deck.length === 1">
                <h4 class="card__type">&nbsp;</h4>
                <div class="card__item">
                    <button ng-click="addCard({ index: 0, evtSrc: $event })" class="createNew__button">
                        <span class="ui__add sprite--alpha"><span class="ir">Add Here</span></span>
                    </button>
                    <h1 class="card__title"><span class="card__titleText">Create A New Slide</span></h1>
                </div>
            </div><!--
            --><div id="drop-zone-0" c6-drag-zone class="card__drop-zone">&nbsp;</div><!--
            --><div class="new__container" ng-hide="DragCtrl.currentDrags.length">
                <button ng-click="addCard({ index: 0, evtSrc: $event })" class="new__button ui__add sprite--alpha"><span class="ir">Add Here</span></button>
            </div>
        </li>
        <li class="card__list-item" render-deck="deck">
            <ng-include src="'assets/views/cards/' + $this.view + '.html'"></ng-include>
        </li>
    </ul>
    <div class="table__right-zone" id="scroll-right" c6-drag-zone>&nbsp;</div>
</c6-drag-space>
