<c6-drag-space class="table__group" controller-as="DragCtrl" id="drag-space">
    <div class="table__left-zone" id="scroll-left" c6-drag-zone>&nbsp;</div>
    <ul id="card-scroller" class="card__list" c6-bind-scroll="Ctrl.position">
        <li class="card__list-item">
            <div id="drop-zone-0" c6-drag-zone class="card__drop-zone">&nbsp;</div><!--
            --><div class="new__container" ng-hide="DragCtrl.currentDrags.length" ng-if="deck.length > 1">
                <button ng-click="addCard({ index: 0, evtSrc: $event })" class="new__button ui__add sprite--alpha"><span class="ir">Add Here</span></button>
            </div>
        </li>
        <li class="card__list-item" render-deck="deck">
            <div class="card__container card--createNew" ng-if="$this.type === 'recap'">
                <h4 class="card__type">&nbsp;</h4>
                <div class="card__item">
                    <button ng-click="addCard({ index: $index, evtSrc: $event })" class="createNew__button">
                        <span class="ui__add sprite--alpha"><span class="ir">Add Here</span></span>
                    </button>
                    <h1 class="card__title"><span class="card__titleText">Create A New Slide</span></h1>
                </div>
            </div><!--
         --><ng-include src="'assets/views/cards/' + $this.view + '.html'"></ng-include><!--
         --><div id="drop-zone-{{$this.id}}" data-title="{{$this.title}}" ng-show="DragCtrl.currentDrags[0] !== DragCtrl.draggables[$this.id] && $index !== (deck.length - 1)" c6-drag-zone="Ctrl.enableDrop" class="card__drop-zone">&nbsp;</div><!--
         --><div class="new__container" ng-hide="DragCtrl.currentDrags.length" ng-style="{ visibility: $index === (deck.length - 1) ? 'hidden' : '' }" ng-if="deck[$index + 1].type !== 'recap'">
                <button ng-click="addCard({ index: $index + 1, evtSrc: $event })" class="new__button ui__add sprite--alpha" id="zone-{{$this.id}}" data-index={{$index}}><span class="ir">Add Here</span></button>
            </div>
        </li>
    </ul>
    <div class="table__right-zone" id="scroll-right" c6-drag-zone>&nbsp;</div>
</c6-drag-space>
