<div class="modalBody__group modalBody__group--sideTabs mrEdit__imageTab" c6-alias="EditCardCtrl.model as card">
    <form>
        <label class="forms__pair clearfix">
            <span class="forms__name">
                Image URL
            </span>
            <span class="forms__inputHolder">
                <input type="text" class="forms__textField forms__textField--block" ng-model="EditCardImageCtrl.imageUrl">
                <span class="typo--guidance typo--warning">Type in a <strong>URL</strong>.</span>
                <span class="typo--guidance">Supported sources :
                    <a href="https://www.flickr.com" title="Flickr" target="_blank">Flickr</a>,
                    <a href="http://www.gettyimages.com" title="GettyImages" target="_blank">GettyImages</a>,
                    or the URL of an image file
                </span>
            </span>
        </label>
    </form>
    <div class="imagePlayer__messenger" ng-if="EditCardImageCtrl.error">
        <h3>Oops! There was a problem with your image.</h3>
        <p>{{EditCardImageCtrl.error}}</p>
        <p>Please choose another image for this card.</p>
    </div>
    <div class="imagePreview">
        <div ng-switch="card.data.service" class="embeddedImage embeddedImage--{{card.data.service}}" ng-if="!!EditCardImageCtrl.data.src">
            <getty-preview ng-switch-when="getty" frame-src="{{EditCardImageCtrl.data.src}}" frame-width="{{EditCardImageCtrl.data.width}}" frame-height="{{EditCardImageCtrl.data.height}}" imageid="{{card.data.imageid}}"></getty-preview>
            <img ng-switch-default ng-src={{EditCardImageCtrl.data.src}} style="max-width:100%;max-height:100%;"></img>
        </div>
    </div>

</div>

<footer class="modalFooter__group">
    <button class="btnAction btnAction--first"
    ng-click="EditCardCtrl.negativeButton.action()"
    type="button" title="{{EditCardCtrl.negativeButton.text}}">
        {{EditCardCtrl.negativeButton.text}}
    </button>
    <button class="btnAction btnAction--primary btnAction--last"
    ng-click="EditCardCtrl.primaryButton.action()" ng-disabled="!EditCardCtrl.primaryButton.enabled"
    type="button" title="{{EditCardCtrl.primaryButton.text}}">
        {{EditCardCtrl.primaryButton.text}}
    </button>
    <p class="modalFooter__guideText">Step {{EditCardCtrl.tabs.indexOf(EditCardCtrl.currentTab) + 1}} of {{EditCardCtrl.tabs.length}} : <strong>Required</strong></p>
</footer>
