<div class="modalBody__group modalBody__group--sideTabs mrEdit__instagramTab" c6-alias="EditCardCtrl.model as card">
    <form>
        <label class="forms__pair clearfix">
            <span class="forms__name">
                Instagram URL
            </span>
            <span class="forms__inputHolder">
                <input type="text" class="forms__textField forms__textField--block" ng-model="EditCardInstagramCtrl.inputUrl">
                <span class="typo--guidance typo--warning">Type in a <strong>URL</strong>.</span>
                <span class="typo--guidance">Supported sources :
                    <a href="" title="Photo" target="_blank">Photo</a>,
                    <a href="" title="Video" target="_blank">Video</a>
                </span>
            </span>
        </label>
    </form>
    <div class="imagePlayer__messenger" ng-if="EditCardCtrl.error">
        <h3>Oops! There was a problem with your Instagram content.</h3>
        <p>{{EditCardCtrl.error}}</p>
        <p>Please choose another Instagram url for this card.</p>
    </div>
    <div class="instagramPreview">
        <div ng-if="EditCardInstagramCtrl.data.src" ng-switch="EditCardInstagramCtrl.data.type" class="embeddedInstagram">
            <img ng-switch-when="image" src="{{EditCardInstagramCtrl.data.src}}"></img>
            <video ng-switch-when="video" controls>
                <source src="{{trustSrc(EditCardInstagramCtrl.data.src)}}" type="video/mp4">
                Your browser does not support the video tag.
           </video>
        </div>
    </div>

</div>

<footer class="modalFooter__group">
    <button class="btnAction btnAction--first"
    ng-click="EditCardCtrl.negativeButton.action()"
    type="button" title="{{EditCardCtrl.negativeButton.text}}">
        {{EditCardCtrl.negativeButton.text}}
    </button>
    <button class="btnAction btnAction--primary btnAction--last"
    ng-click="EditCardCtrl.primaryButton.action()" ng-disabled="!EditCardCtrl.primaryButton.enabled"
    type="button" title="{{EditCardCtrl.primaryButton.text}}">
        {{EditCardCtrl.primaryButton.text}}
    </button>
    <p class="modalFooter__guideText">Step {{EditCardCtrl.tabs.indexOf(EditCardCtrl.currentTab) + 1}} of {{EditCardCtrl.tabs.length}} : <strong>Required</strong></p>
</footer>
