<div class="modalBody__group modalBody__group--sideTabs mrEdit__videoTab" c6-alias="EditCardCtrl.model as card">
    <form ng-submit="EditCardVideoCtrl.search()">
        <label class="forms__pair clearfix">
            <span class="forms__name">
                Video URL
            </span>
            <span class="forms__inputHolder">
                <input type="text" class="forms__textField forms__textField--block" ng-model="EditCardCtrl.videoUrl">
                <span class="typo--guidance typo--warning">Type in a <strong>URL</strong> or <strong>KEYWORD</strong>.</span>
                <span class="typo--guidance">Supported sources :
                    <a href="http://www.youtube.com" title="YouTube" target="_blank">YouTube</a>,
                    <a href="http://www.vimeo.com" title="Vimeo" target="_blank">Vimeo</a>,
                    <a href="http://www.dailymotion.com" title="Daily Motion" target="_blank">Daily Motion</a>,
                    <a href="http://www.vine.co" title="Vine" target="_blank">Vine</a>,
                    <a href="http://www.vzaar.com" title="Vzaar" target="_blank">Vzaar</a>,
                    <a href="http://wistia.com/" title="Wistia" target="_blank">Wistia</a>,
                    <a href="http://www.jwplayer.com/" title="JWPlayer" target="_blank">JWPlayer</a>,
                    <a href="https://www.vidyard.com/" title="Vidyard" target="_blank">Vidyard</a>, or
                    <a href="https://www.instagram.com/" title="Instagram" target="_blank">Instagram</a>
                </span>
            </span>
        </label>
    </form>
    <div class="videoPlayer__messenger" ng-if="EditCardCtrl.error">
        <h3>Oops! There was a problem with your video.</h3>
        <ng-switch on="EditCardCtrl.error.code">
            <p ng-switch-when="403">Unfortunately, YouTube does not allow the embedding of this video.</p>
            <p ng-switch-when="404">Unfortunately, this video could not be found.</p>
            <p ng-switch-default>An unknown error occurred.</p>
        </ng-switch>
        <p>Please choose another video for this card.</p>
    </div>
    <video-preview service="{{card.data.service}}" videoid="{{card.data.videoid}}" videodata="card.data" start="card.data.start" end="card.data.end"></video-preview>
</div>

<footer class="modalFooter__group">
    <button class="btnAction btnAction--first"
    ng-click="EditCardCtrl.negativeButton.action()"
    type="button" title="{{EditCardCtrl.negativeButton.text}}">
        {{EditCardCtrl.negativeButton.text}}
    </button>
    <button class="btnAction btnAction--primary btnAction--last"
    ng-click="EditCardCtrl.primaryButton.action()" ng-disabled="!EditCardCtrl.primaryButton.enabled"
    type="button" title="{{EditCardCtrl.primaryButton.text}}">
        {{EditCardCtrl.primaryButton.text}}
    </button>
    <p class="modalFooter__guideText">Step {{EditCardCtrl.tabs.indexOf(EditCardCtrl.currentTab) + 1}} of {{EditCardCtrl.tabs.length}} : <strong>Optional</strong></p>
</footer>
