<div class="container" c6-alias="CampaignCtrl.model as campaign">

    <header class="pageHeader pageHeader--editor">
        <div class="pageHeader__titleBar clearfix">
            <h1 class="pageTitle pageTitle--campaignTitle">
                {{campaign.name}}
            </h1>
            <button ng-click="CampaignCtrl.save()"
            ng-disabled="CampaignCtrl.isClean || !CampaignCtrl.validLogo"
            class="btnAction btnAction--success btnAction--hasFaIcon"
            type="button" title="Save">
                <span class="btn__label fab fa-floppy-o">&nbsp; Save Changes</span>
            </button>
        </div>
        <div class="metaData__group bottomSpacer">
            <span>
                Created {{campaign.created | date:'M/d/yyyy'}}
                <span class="typo--faded">&nbsp;|&nbsp;</span>
            </span>
            <span>
                <span>Advertiser: <strong>{{campaign.advertiser.name}}</strong></span>
                via <strong>{{campaign.customer.name}}</strong>
                <span class="typo--faded">&nbsp;|&nbsp;</span>
            </span>
            <span>
                <span>Brand: <strong>{{campaign.brand}}</strong></span>
                <span class="typo--faded">&nbsp;|&nbsp;</span>
            </span>
            <span>
                {{campaign.cards.length}} Sponsored Cards, {{campaign.miniReels.length}} Sponsored MiniReels
            </span>
        </div>
    </header>




    <nav class="pageTabs__group clearfix">
        <ul class="sideTabs__list">
            <li class="sideTabs__item">
                <a c6-sref="MR:Campaign.General" class="sideTabs__tab" title="General">
                    General
                </a>
            </li>
            <li class="sideTabs__item">
                <a c6-sref="MR:Campaign.Assets" class="sideTabs__tab" title="Assets">
                    Assets
                </a>
            </li>
            <li class="sideTabs__item">
                <a c6-sref="MR:Campaign.Cards" class="sideTabs__tab" title="Sponsored Cards">
                    Sponsored Cards
                </a>
            </li>
            <li class="sideTabs__item">
                <a c6-sref="MR:Campaign.MiniReels" class="sideTabs__tab" title="Sponsored MiniReels">
                    Sponsored MiniReels
                </a>
            </li>
            <li class="sideTabs__item">
                <a c6-sref="MR:Campaign.Placements" class="sideTabs__tab" title="Sponsored Card Placements">
                    Placements
                </a>
            </li>
            <!-- <li class="sideTabs__item">
                <a c6-sref="MR:Campaign.MiniReelGroups" class="sideTabs__tab" title="Dynamic Placements">
                    Dynamic Groups
                </a>
            </li> -->
        </ul>
    </nav>

    <c6-view class="mainContent__group"></c6-view>

</div>
