<div class="container page__group--padded" c6-alias="CampaignCtrl.model as campaign">
    <header class="pageHeader clearfix">
        <h1 class="pageTitle">{{campaign.name}}</h1>
    </header>
    <nav class="pageTabs__group clearfix">
        <ul class="sideTabs__list">
            <li class="sideTabs__item">
                <a class="sideTabs__tab" title="General">
                    General
                </a>
            </li>
            <li class="sideTabs__item">
                <a class="sideTabs__tab" title="Assets">
                    Assets
                </a>
            </li>
            <li class="sideTabs__item">
                <a class="sideTabs__tab" title="Creatives">
                    Creatives
                </a>
            </li>
            <li class="sideTabs__item">
                <a class="sideTabs__tab" title="Placements">
                    Placements
                </a>
            </li>
        </ul>
    </nav>

    <c6-view class="mainContent__group"></c6-view>
</div>
