<div class="modalBody__group modalBody__group--sideTabs mrAdManager__videoServer">
    <form>
        <h1 class="forms__name--title">Branding</h1>
        <p class="forms__introText">What special presentation would you like this card to have?</p>

        <label ng-if="card.sponsored" class="forms__pair forms__pair--spacer clearfix">
            <span class="forms__name">
                Sponsor <strong class="typo--danger">*</strong>
            </span>
            <span class="forms__inputHolder">
                <input type="text" class="forms__textField forms__textField--block" ng-model="card.params.sponsor">
            </span>
        </label>

        <label class="forms__pair forms__pair--spacer clearfix">
            <span class="forms__name">
                Logo URL <strong class="typo--danger">*</strong>
            </span>
            <span class="forms__inputHolder" ng-class="{ c6__error: !SponsorCardCtrl.validLogo }">
                <input type="text" class="forms__textField forms__textField--block" ng-model="card.collateral.logo">
            </span>
        </label>

        <label class="forms__pair forms__pair--spacer clearfix">
            <span class="forms__name">
                Template
            </span>
            <span class="forms__inputHolder">
                <input type="text" class="forms__textField forms__textField--block" ng-model="card.templateUrl">
            </span>
        </label>

        <label class="forms__pair forms__pair--spacer clearfix">
            <span class="forms__name">
                Thumbnail URL
            </span>
            <span class="forms__inputHolder" ng-class="{ c6__error: !SponsorCardCtrl.validThumb }">
                <input type="text" class="forms__textField forms__textField--block" ng-model="card.thumb">
            </span>
        </label>

        <h3 class="forms__name--title">Action</h3>
        <label class="forms__pair forms__pair--spacer clearfix">
            <span class="forms__name">
                Label
            </span>
            <span class="forms__inputHolder">
                <input type="text" class="forms__textField forms__textField--block" ng-model="card.params.action.label">
            </span>
        </label>
        <c6-dropdown options="SponsorCardBrandingCtrl.actionTypeOptions" value="card.params.action.type"></c6-dropdown>
    </form>
</div>
