<div class="modalBody__group modalBody__group--sideTabs mrEdit__videoTab">
    <form>
        <ng-switch on="card.data.service">
            <div ng-switch-when="adUnit" class="clearfix">
                <div class="twoCol">
                    <label class="forms__pair clearfix">
                        <span class="forms__name">
                            VPAID
                        </span>
                        <span class="forms__inputHolder forms__inputHolder--short">
                            <input type="text" c6-autoselect class="forms__textField forms__textField--block">
                        </span>
                    </label>
                </div>
                <div class="twoCol">
                    <label class="forms__pair clearfix">
                        <span class="forms__name">
                            VAST
                        </span>
                        <span class="forms__inputHolder forms__inputHolder--short">
                            <input type="text" c6-autoselect class="forms__textField forms__textField--block">
                        </span>
                    </label>
                </div>
            </div>
            <label ng-switch-default class="forms__pair clearfix">
                <span class="forms__name">
                    Video URL
                </span>
                <span class="forms__inputHolder">
                    <input type="text" class="forms__textField forms__textField--block" ng-model="SponsorCardVideoCtrl.videoUrl">
                    <span class="typo--guidance typo--warning">Type in a <strong>URL</strong>.</span>
                    <span class="typo--guidance">Supported sources : 
                        <a href="http://www.youtube.com" title="YouTube" target="_blank">YouTube</a>, 
                        <a href="http://www.vimeo.com" title="Vimeo" target="_blank">Vimeo</a>,
                        <a href="http://www.dailymotion.com" title="Daily Motion" target="_blank">Daily Motion</a>
                    </span>
                </span>
            </label>
        </ng-switch>
        <div class="clearfix">
            <div class="twoCol">
                <label class="radiobox radiobox--hasLabel clearfix">
                    <input type="radio"
                        ng-value="false"
                        ng-change="SponsorCardVideoCtrl.videoUrl = ''"
                        ng-model="SponsorCardVideoCtrl.isAdUnit"
                        name="minireel-endcap"
                        class="radiobox__input"/>
                    <span class="btn__icon faa fab">
                        &nbsp;
                    </span>
                    <span class="btn__label">
                        3rd-Party Video
                    </span>
                </label>
            </div>
            <div class="twoCol">
                <label class="radiobox radiobox--hasLabel clearfix">
                    <input type="radio"
                        ng-value="true"
                        ng-model="SponsorCardVideoCtrl.isAdUnit"
                        name="minireel-endcap"
                        class="radiobox__input"/>
                    <span class="btn__icon faa fab">
                        &nbsp;
                    </span>
                    <span class="btn__label">
                        Ad Unit
                    </span>
                </label>
            </div>
        </div>
        <div class="twoCol">
            <video-preview service="{{card.data.service}}"
                videoid="{{card.data.videoid}}"
                start="card.data.start"
                end="card.data.end"
                style="display: block;">
            </video-preview>
        </div>
        <div class="twoCol">
            <h1 class="forms__name--title skipAdsHeader">Allow Users to Skip This Video? <strong class="typo--danger">*</strong></h1>
            <c6-dropdown options="SponsorCardVideoCtrl.skipOptions" value="card.data.skip"></c6-dropdown>
        </div>
    </form>
</div>
