<form class="pageBody__group pageBody__group--sideTabs">
    <header class="pageHeader">
        <div class="pageHeader__titleBar clearfix">
            <h1 class="pageTitle"><strong>Dynamic MiniReel Groups</strong></h1>
            <button title="New Group" class="btnAction btnAction--primary btnAction--hasIcon" c6-sref="MR:NewMiniReelGroup">
                <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                    <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" d="M9,0C4,0,0,4,0,9c0,5,4,9,9,9s9-4,9-9C18,4,14,0,9,0z M9,16c-3.9,0-7-3.1-7-7
                        c0-3.9,3.1-7,7-7s7,3.1,7,7C16,12.9,12.9,16,9,16z M10,5H8v3H5v2h3v3h2v-3h3V8h-3V5z"/>
                </svg>
                <span class="btn__label">New Group</span>
            </a>
        </div>
    </header>
    <div class="tableBody__group">
        <ul class="miniReels__list grid" c6-alias="CampaignMiniReelGroupsCtrl.model as groups">
            <li class="miniReels__item grid__item" ng-show="!groups.length">
                <article class="miniReels__welcomeMsg">
                    <p>You have not created any MiniReel Groups for this campaign.</p>
                </article>
            </li>

            <li class="miniReels__item grid__item" ng-repeat="group in groups">
                <article class="miniReel__group clearfix">
                    <div class="miniReel__selector">
                        <button class="btnInvis ui__iconHolder18" ng-click="CampaignMiniReelGroupsCtrl.remove(group)">
                            <span class="fab fa-trash">&nbsp;</span>
                        </button>
                    </div>
                    <div class="miniReel__titleBox" style="margin-left:3em; width:40%;">
                        <h1 class="miniReel__title">
                            <a c6-sref="MR:EditMiniReelGroup" c6-models="[group]" class="miniReel__titleLink" title="Edit This MiniReel Group: {{group.name}}">
                                {{group.name}}
                            </a>
                        </h1>
                    </div>
                    <div class="miniReel__status" style="width:35%;">
                        <p class="miniReel__count"><strong>{{group.cards.length}} cards</strong> targeting <strong>{{group.miniReels.length}} MiniReels</strong></p>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</form>
<c6-view></c6-view>
