<form class="pageBody__group pageBody__group--sideTabs">
    <header class="pageHeader">
        <div class="pageHeader__titleBar clearfix">
            <h1 class="pageTitle"><strong>Sponsored MiniReels</strong></h1>
            <a title="New Sponsored" class="btnAction btnAction--primary btnAction--hasIcon" c6-sref="MR:Campaign.NewMiniReel">
                <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                    <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" d="M9,0C4,0,0,4,0,9c0,5,4,9,9,9s9-4,9-9C18,4,14,0,9,0z M9,16c-3.9,0-7-3.1-7-7
                        c0-3.9,3.1-7,7-7s7,3.1,7,7C16,12.9,12.9,16,9,16z M10,5H8v3H5v2h3v3h2v-3h3V8h-3V5z"/>
                </svg>
                <span class="btn__label">New Sponsored MiniReel</span>
            </a>
        </div>
    </header>
    <div class="tableBody__group">
        <ul class="miniReels__list grid" c6-alias="campaign.miniReels as minireels">
            <li class="miniReels__item grid__item" ng-show="!minireels.length">
                <article class="miniReels__welcomeMsg">
                    <p>There are no MiniReels associated with this campaign.</p>
                </article>
            </li>

            <li class="miniReels__item grid__item" ng-repeat="data in minireels track by data.id">
                <article c6-alias="data.item as minireel" class="miniReel__group clearfix">
                    <div class="miniReel__selector">
                        <button class="btnInvis ui__iconHolder18" ng-click="CampaignMiniReelsCtrl.remove(minireel)">
                            <span class="fab fa-trash">&nbsp;</span>
                        </button>
                    </div>
                    <div class="miniReel__imgBox">
                        <a c6-sref="MR:Editor" c6-models="[minireel]"
                        c6-params="{ campaign: campaign.id }">
                            <div class="miniReel__img"
                            title="Edit This MiniReel: {{minireel.data.title}}" 
                            c6-bg-img="{{minireel.data.collateral.splash}}">
                                &nbsp;
                            </div>
                        </a>
                    </div>
                    <div class="miniReel__titleBox">
                        <h1 class="miniReel__title">
                            <a class="miniReel__titleLink" 
                            c6-sref="MR:Editor" c6-models="[minireel]" 
                            c6-params="{ campaign: campaign.id }"
                            title="Edit This MiniReel: {{minireel.data.title}}">
                                {{minireel.data.title}}
                                <small ng-show="data.name">&nbsp;(<em>{{data.name}}</em>)</small>
                            </a>
                        </h1>
                        <p class="miniReel__metaData">
                            by <span class="miniReel__author" c6-alias="minireel.user as author">{{author.firstName}} {{author.lastName}}</span>
                        </p>
                    </div>
                    <div class="miniReel__status" ng-switch="data.state">
                        <strong ng-switch-when="updating" class="miniReel__statusText--updating">
                            Updating
                        </strong>
                        <strong ng-switch-when="error" class="miniReel__statusText--error">
                            Error
                        </strong>
                        <strong ng-switch-when="active" class="miniReel__statusText--active">
                            Active
                        </strong>
                        <strong ng-switch-when="expired" class="miniReel__statusText--expired">
                            Expired
                        </strong>
                        <strong ng-switch-when="outOfMoney" class="miniReel__statusText--outOfMoney">
                            Out of Money
                        </strong>
                        <strong ng-switch-when="deleted" class="miniReel__statusText--deleted">
                            Deleted
                        </strong>
                        <strong ng-switch-when="hold" class="miniReel__statusText--hold">
                            Hold
                        </strong>
                        <strong ng-switch-when="validated" class="miniReel__statusText--validated">
                            Validated
                        </strong>
                        <strong ng-switch-when="entered" class="miniReel__statusText--entered">
                            Entered
                        </strong>
                        <strong ng-switch-when="reserved" class="miniReel__statusText--reserved">
                            Reserved
                        </strong>
                        <span ng-show="data.state">- </span><span class="miniReel__date">{{minireel.lastUpdated | date:'M/d/yyyy'}}</span>
                        <p class="miniReel__count">{{minireel.data.deck.length}} slides</p>
                    </div>
                    <div class="miniReel__stats">
                        <p ng-if="data.endDate" class="miniReel__views"><strong>End Date:</strong> {{data.endDate | date:'M/d/yyyy'}}</p>
                    </div>
                    <div class="miniReel__quickActions">
                        <div class="quickActions__holder">
                            <a class="quickActions__btn quickActions__btn--play"
                            c6-sref="MR:Campaign.EditMiniReel" c6-models="[minireel]"
                            title="Edit Settings" style="margin: .7em -1em;"> <small>Settings</small></a>
                        </div>
                        <div class="quickActions__holder">
                            <a class="quickActions__btn quickActions__btn--play"
                            ng-href="{{CampaignMiniReelsCtrl.previewUrlOf(minireel)}}"
                            ng-show="CampaignMiniReelsCtrl.previewUrlOf(minireel)"
                            title="Preview This MiniReel"
                            target="_blank">
                                <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                                    <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" d="M13.4,7.9L5.7,2.2C5.5,2,5,1.9,4.6,2.1C4.3,2.2,4,2.7,4,3v11.9
                                        c0,0.3,0.3,0.8,0.6,1c0.2,0.1,0.6,0.2,1.1-0.2l7.7-5.7C13.6,9.9,14,9.6,14,9C14,8.3,13.6,8,13.4,7.9z"/>
                                </svg>
                                <span class="ir">Preview</span>
                            </a>
                        </div>
                        <div class="quickActions__holder">
                            <button ng-show="minireel.status === 'active'
                            && PortalCtrl.model.type !== 'ContentProvider'"
                            c6-sref="MR:Campaign.MiniReels.Embed" c6-models="[minireel]"
                            class="quickActions__btn"
                            title="Get Embed Code"
                            type="button">
                                <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                                    <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" d="M0,9.6l6,3.9v-2L2,9v0l4-2.5V4.5L0,8.4V9.6z M6.8,15.5h1.6l2.8-13H9.7L6.8,15.5z M12,4.5v1.9L16,9v0l-4,2.5v2l6-3.9V8.4
                                    L12,4.5z"/>
                                </svg>
                                <span class="ir">Get Embed Code</span>
                            </button>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</form>
<c6-view></c6-view>
