<div class="pageBody__group pageBody__group--sideTabs">
    <h1 class="forms__title forms__title--divider" style="margin-top:0;">Placements</h1>
    <p>Use this tool to place a Sponsored Card into a MiniReel.</p>
    <section class="twoCol">
        <strong>Search for MiniReels</strong>
        <form ng-submit="CampaignPlacementsCtrl.search()">
            <label class="forms__pair forms__pair--spacer clearfix">
                <span class="forms__name" > By Title:</span>
                <span class="forms__inputHolder forms__inputHolder--short">
                    <input class="forms__textField forms__textField--padded" ng-model="CampaignPlacementsCtrl.query" type="text"></input>
                    <button class="btn btn--primary">Search</button>
                </span>
            </label>
        </form>
        <div ng-if="CampaignPlacementsCtrl.result" c6-alias="CampaignPlacementsCtrl.result.value as minireels">
            <span ng-show="minireels.length < 1">Your search yielded no results. Try again!</span>
            <ul class="miniReels__list grid" style="margin-right:1em;">

                <li class="miniReels__item miniReels__item--mini grid__item" 
                ng-repeat="minireel in minireels | filter:CampaignPlacementsCtrl.isNotAlreadyTargeted">
                    <article class="miniReel__group clearfix">
                        <div class="miniReel__imgBox">
                            <div class="miniReel__img" 
                            c6-bg-img="{{minireel.data.collateral.splash}}">
                                &nbsp;
                            </div>
                        </div>
                        <div class="miniReel__titleBox">
                            <h1 class="miniReel__title">
                                {{minireel.data.title}}
                            </h1>
                            <p class="miniReel__metaData">
                                by <span class="miniReel__author" c6-alias="minireel.user as author">{{author.firstName}} {{author.lastName}}</span>
                            </p>
                        </div>
                        <div class="miniReel__status--mini">
                            <span class="typo--warning typo--guidance" ng-show="CampaignPlacementsCtrl.availableSlotsIn(minireel) < 1">No Sponsored Card slots.</span>
                            <button class="btn btn--success" ng-click="CampaignPlacementsCtrl.add(minireel)" ng-show="CampaignPlacementsCtrl.availableSlotsIn(minireel)">Use <span class="fab fa-arrow-right">&nbsp;</span></button>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </section>
    <section class="twoCol" c6-alias="CampaignPlacementsCtrl.model as map">
        <strong>Current Static Placements</strong><br />
        <span ng-show="map.length < 1">This campaign's cards have no static placements in MiniReels.</span>
        <ul>
            <li ng-repeat="entry in map"><c6-alias model="entry.minireel" as="minireel">
                <strong><a c6-sref="MR:Placements.MiniReel" c6-models="[entry]">{{minireel.data.title}}</a></strong>: {{CampaignPlacementsCtrl.filledCardsOf(entry).length}}/{{entry.cards.length}} filled
                <form class="miniReel__quickActions">
                        <div class="quickActions__holder">
                            <a class="quickActions__btn quickActions__btn--play"
                            ng-href="{{CampaignPlacementsCtrl.previewUrlOf(minireel)}}"
                            ng-show="CampaignPlacementsCtrl.previewUrlOf(minireel)"
                            title="Preview This MiniReel"
                            target="_blank">
                                <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                                    <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" d="M13.4,7.9L5.7,2.2C5.5,2,5,1.9,4.6,2.1C4.3,2.2,4,2.7,4,3v11.9
                                        c0,0.3,0.3,0.8,0.6,1c0.2,0.1,0.6,0.2,1.1-0.2l7.7-5.7C13.6,9.9,14,9.6,14,9C14,8.3,13.6,8,13.4,7.9z"/>
                                </svg>
                                <span class="ir">Preview</span>
                            </a>
                        </div>
                        <div class="quickActions__holder">
                            <button ng-show="$this.status === 'active'
                            && PortalCtrl.model.type !== 'ContentProvider'"
                            c6-sref="MR:Manager.Embed" c6-models="[$this]"
                            class="quickActions__btn"
                            title="Get Embed Code"
                            type="button">
                                <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                                    <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" d="M0,9.6l6,3.9v-2L2,9v0l4-2.5V4.5L0,8.4V9.6z M6.8,15.5h1.6l2.8-13H9.7L6.8,15.5z M12,4.5v1.9L16,9v0l-4,2.5v2l6-3.9V8.4
                                    L12,4.5z"/>
                                </svg>
                                <span class="ir">Get Embed Code</span>
                            </button>
                        </div>
                    </form>
                <button class="btn btn--danger" ng-click="CampaignPlacementsCtrl.remove(minireel)">Remove</button>
            </c6-alias></li>
        </ul>
    </section>
</div>
<c6-view></c6-view>
