<div class="grid__item two-thirds" id="section_6" ng-controller="SelfieFlightDatesController as SelfieFlightDatesCtrl">
    <section class="formSection__group formSection__group--sub">

        <h1 class="formSection__title">
            <span class="formSection__number">
                <span class="formSection__numberText">6</span>
            </span>
            <span class="formSection__titleText tk--hdr">Set Your Timeline</span>
        </h1>

        <p class="formSection__introText">Select your campaign schedule</p>
        <div class="timeline__selectOption">
            <input type="radio" name="hasDates" id="setDate__auto" ng-model="SelfieFlightDatesCtrl.hasDates" ng-value="false" ng-change="SelfieFlightDatesCtrl.setTimelineOption()"> <label for="setDate__auto"><span class="radio__input"></span>Run continuously once approved</label>
            <input type="radio" name="hasDates" id="setDate__selected" ng-model="SelfieFlightDatesCtrl.hasDates" ng-value="true" ng-change="SelfieFlightDatesCtrl.setTimelineOption()"> <label for="setDate__selected"><span class="radio__input"></span>Set start and end dates</label>
        </div>

        <div class="form__items" ng-if="SelfieFlightDatesCtrl.hasDates">

            <fieldset class="form__item form__item--shortInput" ng-class="{'ui--hasError': !SelfieFlightDatesCtrl.validStartDate &&  SelfieFlightDatesCtrl.canShowError }">
                <input datepicker c6-fill-check min-date="null" max-date="SelfieFlightDatesCtrl.endDate" default-date="null" alt-field="_startdate" class="form__textBox form__textBox--units form__fillCheck" type="text" id="startdate" ng-model="SelfieFlightDatesCtrl.startDate" ng-change="SelfieFlightDatesCtrl.setDates()" ng-disabled="!SelfieFlightDatesCtrl.editableStartDate">
                <label class="form__label" for="c6-sponsor-name">
                    <i class="fa fa-times ui--error"></i> 
                    Start date
                </label>
                <div class="form__helpBox form__helpBox--right">
                    <div class="form__helpText">
                        This is when your campaign would start.
                    </div>
                </div>
                <div class="form__errorBox">
                    <p class="form__errorMsg">
                        <i class="fa fa-exclamation-triangle"></i> Invalid start date
                    </p>
                </div>
            </fieldset>

            <fieldset class="form__item form__item--shortInput" ng-class="{'ui--hasError': !SelfieFlightDatesCtrl.validEndDate }">
                <input datepicker c6-fill-check min-date="SelfieFlightDatesCtrl.startDate" max-date="null" default-date="'+1m'" alt-field="_enddate" class="form__textBox form__textBox--units form__fillCheck" type="text" id="enddate" ng-model="SelfieFlightDatesCtrl.endDate" ng-change="SelfieFlightDatesCtrl.setDates()">
                <label class="form__label" for="c6-sponsor-name">
                    <i class="fa fa-times ui--error"></i> 
                    End date
                </label>
                <div class="form__helpBox form__helpBox--right">
                    <div class="form__helpText">
                        This is when your campaign would end.
                    </div>
                </div>
                <div class="form__errorBox">
                    <p class="form__errorMsg">
                        <i class="fa fa-exclamation-triangle"></i> Invalid end date
                    </p>
                </div>
            </fieldset>

            <p class="alertMessage alert__warning two-thirds" style="margin:0 auto;" ng-if="SelfieFlightDatesCtrl.imminentDates && (!campaign.status || campaign.status === 'draft')">Warning: once submitted, your campaign may take up to 24 hours to become active, which could effect your desired flight dates.</p>
            <p class="alertMessage alert__warning two-thirds" style="margin:0 auto;" ng-if="SelfieFlightDatesCtrl.imminentDates && campaign.status && campaign.status !== 'draft' && !SelfieFlightDatesCtrl.isPending && SelfieFlightDatesCtrl.canShowError">Warning: changes may take up to 24 hours to become active, which could effect your desired flight dates.</p>

        </div>

    </section><!--.formSection__group-->

</div><!--.grid__item-->


<div class="grid__item one-half">

    <section class="formSection__group formSection__group--sub">

        <h1 class="formSection__title">
            <span class="formSection__titleText tk--hdr">Set Your Budget</span>
        </h1>

        <selfie-budget campaign="campaign" schema="SelfieCampaignCtrl.schema" validation="SelfieCampaignCtrl.validation"></selfie-budget>

    </section><!--.formSection__group-->

</div><!--.grid__item-->