<div class="modalDialog__group modalDialog__group--confirm modalBody__group--tall selfieModal">
    <header class="modalHeader__group">
        <h1 class="modal__title">Make a Deposit</h1>
        <h3 class="modal__subTitle tk--subHdr">Deposit funds into your account to fund your campaign.</h3>
        <button class="modal__closeBtn btnInvis" ng-click="SelfieCampaignFundCtrl.cancel()"><span class="ir">Close</span>
            <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" d="M16.5,0L9,7.5L1.5,0L0,1.5L7.5,9L0,16.5L1.5,18L9,10.5l7.5,7.5l1.5-1.5L10.5,9
                L18,1.5L16.5,0z"></path>
            </svg>
        </button>
    </header>

    <div class="modalBody__group typo--centered">
        <div class="reviewOrder__group">
            <div class="grid">
                <div class="grid__item one-half">
                    <div class="orderItems">
                        <ul>
                            <li>
                                <div class="grid__item two-thirds orderItem__label">
                                    <h1 class="tk--hdr">Deposit Details</h1>
                                </div>
                            </li>
                            <li>
                                <div class="grid__item two-thirds orderItem__label">Total Campaign Budget</div><!--
                                --><div class="grid__item one-third">
                                    <div class="text--right">$50</div>
                                </div>
                            </li>
                            <li>
                                <div class="grid__item two-thirds orderItem__label">Available Funds</div><!--
                                --><div class="grid__item one-third">
                                    <div class="text--right">$50</div>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="grid__item two-thirds orderItem__label">
                                    <h1 class="tk--hdr">Deposit Funds</h1>
                                </div>
                            </li>
                            <li>
                                <div class="depositFunds text--center">
                                    <div class="form__items">
                                        <fieldset class="form__item form__item--shortInput" ng-class="{ 'ui--hasError': !validBudget }">
                                            <input c6-fill-check="" class="form__textBox form__textBox--units form__fillCheck" type="number" id="c6-fund-campaign">
                                            <span class="input__unit">$</span>
                                            <label class="form__label" for="c6-fund-campaign">
                                                <i class="fa fa-times ui--error"></i>
                                                Deposit Amount
                                            </label>
                                            <!--<div class="form__helpBox form__helpBox--right">
                                                <div class="form__helpText">
                                                    Please enter the amount you want to add to your Balance.
                                                </div>

                                            </div>-->
                                            <div class="form__errorBox" ng-switch="SelfieBudgetCtrl.budgetError">
                                                <!-- ngSwitchWhen: 1 -->
                                                <!-- ngSwitchWhen: 2 -->
                                                <!-- ngSwitchWhen: 3 -->
                                                <!-- ngSwitchWhen: 4 -->
                                                <!-- ngSwitchWhen: 5 -->
                                            </div>
                                        </fieldset>
                                        <!--<span class="alertMessage alert__success text--left" ng-show="!!successMessage"><!--{{successMessage}}--><!--<strong>You have enough funds to run your campaign!</strong> We need a payment method on file to approve your campaign.</span>-->

                                        <span class="alertMessage text--left" ng-show="!!alertMessage"><!--{{alertMessage}}-->You need to deposit at least $600 into your account to run this campaign.</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!--
                --><div class="grid__item one-half">
                    <div class="orderItems">
                        <ul>
                            <li>
                                <div class="grid__item two-thirds orderItem__label">
                                    <h1 ng-if="!SelfieCampaignFundCtrl.paymentMethods.length" class="tk--hdr">Add a Payment Method</h1>
                                    <h1 ng-if="SelfieCampaignFundCtrl.paymentMethods.length" class="tk--hdr">Choose a Payment Method</h1>
                                </div>
                            </li>
                            <li>
                                <div class="paymentForm">
                                    <div ng-if="!SelfieCampaignFundCtrl.paymentMethods.length" class="paymentMethod__options">
                                        <braintree-paypal on-success="SelfieCampaignFundCtrl.success(method)">
                                            <div id="c6-paypal"></div>
                                        </braintree-paypal>

                                        <div class="paymentMethod__optionTypes">
                                            <input type="radio" name="paymentType" id="paymentType__auto" value="creditcard" ng-model="SelfieCampaignFundCtrl.type"> <label for="paymentType__auto"><span class="radio__input"></span>Credit Card</label>
                                            <input type="radio" name="paymentType" id="paymentType__selected" value="paypal" ng-model="SelfieCampaignFundCtrl.type" hidden-input-click="braintree-paypal-button"> <label for="paymentType__selected"><span class="radio__input"></span>PayPal</label>
                                        </div>
                                    </div>

                                    <selfie-payment-methods chosen-method="SelfieCampaignFundCtrl.paymentMethod" methods="SelfieCampaignFundCtrl.paymentMethods"></selfie-payment-methods>


                                    <!-- BRAINTREE CREDIT CARD FORM -->
                                    <div ng-if="!SelfieCampaignFundCtrl.paymentMethods.length">
                                        <div ng-show="SelfieCampaignFundCtrl.type === 'creditcard'">
                                            <braintree-credit-card client-token="{{SelfieCampaignFundCtrl.token}}" method="SelfieCampaignFundCtrl.newMethod" on-success="SelfieCampaignFundCtrl.success(method)" on-cancel="SelfieCampaignFundCtrl.cancel()"></braintree-credit-card>
                                        </div>
                                    </div>


                                    <div class="payment__seals grid__item one-whole">
                                        <div class="payment__sealItem braintree--seal">
                                            <span class="payment__itemText text--left"><i class="fa fa-lock"></i> Secure payments</span>
                                            <a href="https://www.braintreegateway.com/merchants/hrmsqg32vjw32sjz/verified" target="_blank">
                                              <img src="img/credit-cards-transparent.png" border="0"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer class="modalFooter__group">
        <button class="btnAction btnAction btnAction--first" ng-show="!!dialog.cancel" ng-click="dialog.onCancel()" title="Cancel">Cancel</button>
        <button ng-click="dialog.onAffirm()" title="Yes" class="btnAction btnAction--success btnAction--last" type="button">Review</button>
    </footer>

</div>
<div class="modal__overlay modal__overlay--confirm">&nbsp;</div>