<div class="grid__item one-whole" id="section_4">
    <section class="formSection__group">
        <h1 class="formSection__title">
        <span class="formSection__number">
            <span class="formSection__numberText">4</span>
        </span>
        <span class="formSection__titleText tk--hdr">Add title, description and links</span>
        </h1>
        <p class="formSection__introText">Your card will be delivered in multiple sizes and layouts optimized for device and performance. This preview shows one of the many variations.</p>
    </section>
</div>

<div class="grid__item one-third">

    <section class="formSection__group" ng-controller="SelfieCampaignTextController as SelfieCampaignTextCtrl" c6-alias="SelfieCampaignCtrl.card as card">

        <div class="form__items">

            <fieldset class="form__item form__item--stackedInput" ng-class="{'ui--hasError': !card.title && SelfieCampaignCtrl.validation.show }">
                <input c6-fill-check class="form__textBox form__fillCheck" type="text" id="c6-video-title" ng-trim="false" ng-model="card.title" ng-class="{'form__fillCheck--filled' : card.title }" ng-focus="SelfieCampaignCtrl.disableVideoTitleOverwrite = 'true'" maxlength="{{SelfieCampaignCtrl.maxHeadlineLength}}">
                <label class="form__label" for="c6-video-title">
                    <i class="fa fa-times ui--error"></i>
                    Headline<span class="text--small"> (required) </span><span class="text--small form__counter item--right">{{SelfieCampaignCtrl.maxHeadlineLength - card.title.length}}</span>
                </label>
                <!--<div class="form__helpBox form__helpBox--right">
                    <div class="form__helpText">
                        Include an impactful headline to get more people to engage with your content. See our FAQ -- link -- for help designing attention-grabbing headlines.
                    </div>
                </div>-->
                <div class="form__errorBox">
                    <p class="form__errorMsg">
                        <i class="fa fa-exclamation-triangle"></i> Headline is required
                    </p>
                </div>
            </fieldset>

            <fieldset class="form__item form__item--stackedInput">
                <textarea c6-fill-check class="form__textBox form__textArea form__textArea--large form__fillCheck" id="c6-video-description" ng-trim="false" ng-model="card.note" maxlength="{{SelfieCampaignCtrl.maxDescriptionLength}}"></textarea>
                <label class="form__label" for="c6-video-description">
                    <i class="fa fa-times ui--error"></i>
                    Description <span class="text--small form__counter item--right">{{SelfieCampaignCtrl.maxDescriptionLength - card.note.length}}</span>
                </label>
                <!--<div class="form__helpBox form__helpBox--right">
                    <div class="form__helpText">
                    Add easy to consume short-form content to re-inforce your message.
                    </div>
                </div>-->
                <div class="form__errorBox">
                    <p class="form__errorMsg">
                        <i class="fa fa-exclamation-triangle"></i> Description is required
                    </p>
                </div>
            </fieldset>

            <fieldset class="form__item form__item--stackedInput" ng-class="{'ui--hasError': !card.params.action.label && SelfieCampaignCtrl.validation.show }">
                <!--<input c6-fill-check class="form__textBox form__fillCheck" type="text" id="c6-video-ctaText" ng-trim="false" ng-model="card.params.action.label" maxlength="{{SelfieCampaignCtrl.maxCallToActionLength}}">-->
                <select c6-select-box class="form__selectBox form__selectBox--single form__textBox" id="c6-video-ctaText"  ng-trim="false" ng-model="card.params.action.label">
                    <option>Learn More</option>
                    <option>Buy Now</option>                    
                    <option>Shop Now</option>
                    <option>Sign Up</option>
                    <option>Apply Now</option>
                    <option>Donate Now</option>
                    <option>Contact Us</option>
                    <option>Watch More</option>
                    <option>Book Now</option>              
                    <option>Custom</option>              
                </select><!-- TO DO: big time selector customization -->
                <label class="form__label" for="c6-video-ctaText">
                    <i class="fa fa-times ui--error"></i>
                    Call To Action Button <span class="text--small"> (required) </span> <span class="text--small form__counter item--right">{{SelfieCampaignCtrl.maxCallToActionLength - card.params.action.label.length}}</span>
                </label>
                <!--<div class="form__helpBox form__helpBox--right">
                    <div class="form__helpText">
                        The text is what the link will be attached to for the button or the link.
                    </div>
                </div>-->
                <div class="form__errorBox">
                    <p class="form__errorMsg">
                        <i class="fa fa-exclamation-triangle"></i> Call to action text is required
                    </p>
                </div>
            </fieldset>
            <fieldset class="form__item form__item--stackedInput" ng-class="{'ui--hasError': !card.params.action.label && SelfieCampaignCtrl.validation.show }">
                <input c6-fill-check class="form__textBox form__fillCheck" type="text" id="c6-video-ctaText" ng-trim="false" ng-model="card.params.action.label" maxlength="{{SelfieCampaignCtrl.maxCallToActionLength}}">
                <label class="form__label" for="c6-video-ctaText">
                    <i class="fa fa-times ui--error"></i>
                    Custom Button Text <span class="text--small"> (required) </span> <span class="text--small form__counter item--right">{{SelfieCampaignCtrl.maxCallToActionLength - card.params.action.label.length}}</span>
                </label>
                <!--<div class="form__helpBox form__helpBox--right">
                    <div class="form__helpText">
                        The text is what the link will be attached to for the button or the link.
                    </div>
                </div>-->
                <div class="form__errorBox">
                    <p class="form__errorMsg">
                        <i class="fa fa-exclamation-triangle"></i> Call to action text is required
                    </p>
                </div>
            </fieldset>
            <fieldset class="form__item form__item--stackedInput" ng-class="{'ui--hasError': !card.links.Action && SelfieCampaignCtrl.validation.show }">
                <input c6-fill-check class="form__textBox form__fillCheck" type="text" id="c6-video-ctaText" ng-model="SelfieCampaignTextCtrl.actionLink" ng-focus="SelfieCampaignTextCtrl.bindLinkToWebsite = false" ng-blur="SelfieCampaignTextCtrl.updateActionLink(SelfieCampaignTextCtrl.actionLink)">
                <label class="form__label" for="c6-video-ctaText">
                    <i class="fa fa-times ui--error"></i>
                    Call To Action URL <span class="text--small"> (required) </span>
                </label>
                <!--<div class="form__helpBox form__helpBox--right">
                    <div class="form__helpText">
                    Link to your landing page or website.
                    </div>
                </div>-->
                <div class="form__errorBox">
                    <p class="form__errorMsg">
                        <i class="fa fa-exclamation-triangle"></i> Call to action URL is required
                    </p>
                </div>
            </fieldset>

        </div><!-- .form__items -->

    </section><!--.formSection__group-->

</div><!--.grid__item--><!--

--><div class="grid__item two-thirds">
    <div ng-include="'views/selfie/campaigns/edit/preview.html'"></div>
</div><!--.grid__item-->
