<div class="grid__item one-half" id="section_3">

    <section class="formSection__group" ng-controller="SelfieCampaignVideoController as SelfieCampaignVideoCtrl" c6-alias="SelfieCampaignCtrl.card as card">

        <h1 class="formSection__title">
            <span class="formSection__number">
                <span class="formSection__numberText">3</span>
            </span>
            <span class="formSection__titleText tk--hdr">Add Your Video</span>
        </h1>
        <p class="formSection__introText">Paste in a link or embed code from YouTube, Vimeo, JWPlayer, Wistia, Vzaar, Vidyard, Instagram, Brightcove, Kaltura, Facebook, or DailyMotion. You can also paste in a VAST tag.</p>

        <div class="form__items">

            <fieldset class="form__item" ng-class="{ 'ui--hasError': SelfieCampaignVideoCtrl.videoError || (!SelfieCampaignVideoCtrl.videoUrl && SelfieCampaignCtrl.validation.show) }">
                <textarea c6-fill-check class="form__textBox form__textArea form__fillCheck" type="text" id="c6-video-input" ng-model="SelfieCampaignVideoCtrl.videoUrl"></textarea>
                <label class="form__label" for="c6-video-input">
                    <i class="fa fa-times ui--error"></i>
                    Video URL or Embed Code<span class="text--small"> (required) </span>
                </label>
                <!--<div class="form__helpBox form__helpBox--right">
                    <div class="form__helpText">
                        To associate a video with your ad, please provide the video URL or embed code form the hosting platform.
                    </div>
                </div>-->
                <div class="form__errorBox">
                    <p class="form__errorMsg">
                        <i class="fa fa-exclamation-triangle"></i> A valid link, embed code or VAST tag is required
                    </p>
                </div>
            </fieldset>

        </div><!-- .form__items -->

        <div class="videoPreview__wizard ui__connector" ng-if="card.data.service">

            <div class="videoPreview__group">

                <div ng-switch="card.data.service">
                    <div ng-switch-when="adUnit" ng-controller="AdPlayerController as AdPlayerCtrl">
                        <div class="videoPreview">
                            <vast-player
                                class="videoPreview__player"
                                videoid="preview"
                                ad-tag="{{SelfieCampaignVideoCtrl.videoUrl}}">
                            </vast-player>
                        </div>

                        <div ng-if="!!AdPlayerCtrl.player" class="vastControls__group">
                            <button ng-click="AdPlayerCtrl.player.play()" class="vastControls__btn">
                                <i class="fa fa-play"></i>
                            </button>
                            <button ng-click="AdPlayerCtrl.player.pause()" class="vastControls__btn">
                                <i class="fa fa-pause"></i>
                            </button>
                        </div>
                    </div>
                    <div class="videoPreview" ng-switch-default>
                        <video-preview service="{{card.data.service}}"
                            disable-trimmer="SelfieCampaignVideoCtrl.disableTrimmer()"
                            videoid="{{card.data.videoid}}"
                            videodata="card.data"
                            start="card.data.start"
                            end="card.data.end"
                            class="videoPreview__player">
                        </video-preview>
                    </div>
                </div>


                <div class="videoDescription__group" ng-if="SelfieCampaignVideoCtrl.video">

                    <h1 class="videoDescription__title">{{SelfieCampaignVideoCtrl.video.title}} - <a ng-href="{{SelfieCampaignVideoCtrl.video.href}}" target="_blank" class="videoDescription__source">{{card.data.service | videoService}}</a></h1>

                    <div class="videoDescription__metaData">
                        <span class="videoDescription__metaDatum">
                            <span class="videoDescription__metaDatumFa fa fa-clock-o"></span>&nbsp;<span>{{SelfieCampaignVideoCtrl.video.duration | timestamp}}</span>
                        </span>

                        <span class="videoDescription__metaDatum">
                            <span class="videoDescription__metaDatumFa fa fa-eye"></span>&nbsp;<span>{{SelfieCampaignVideoCtrl.video.views | number}}</span>
                        </span>
                    </div><!--videoDescription__metaData-->
                </div><!--.videoDescription__group-->
            </div><!--.videoPreview__group-->

        </div><!--.videoPreview__group-->

    </section><!--.formSection__group-->

</div><!--.grid__item-->
