<div class="container page__group--padded" ng-init="currentView = 'password'" >
    <div class="breadcrumbNav">&lsaquo; <a c6-sref="Apps" title="Dashboard">Back to the Dashboard</a></div>
    <h1 class="pageTitle">Account Settings</h1>
    <div class="clearfix">
        <div class="sidebar__group">
            <nav class="sidebar__nav">
                <ul>
                    <li class="sideNav__item">
                        <a c6-sref="Account:Password">Change Password</a>
                    </li>
                    <li class="sideNav__item">
                        <a c6-sref="Account:Email">Change Email</a>
                    </li>
                </ul>
            </nav>
        </div>
        <c6-view class="mainContent__group"></c6-view>
    </div>
</div>
