<form class="pageBody__group pageBody__group--sideTabs" name="theForm" id="change_email" ng-submit="EmailCtrl.submit()" c6-alias="AccountCtrl.model as user">
    <h1 class="forms__title">Change your Email </h1>
    <p class="form__spacer">Current Email : <strong>{{user.email}}</strong> </p>
    
    <label class="forms__pair forms__pair--spacer clearfix">
        <span class="forms__name forms__name--extended" > Change Email To:</span>
        <span class="forms__inputHolder--short">
            <input class="forms__textField forms__textField--block" id="change_email_addr"  type="text" name="email" ng-model="EmailCtrl.email" autocomplete="off" ng-trim="false" ng-minlength="4" ng-maxlength="128" ng-pattern="EmailCtrl.pattern" required>
            <span class="typo--guidance typo--danger" ng-show="theForm.email.$error.required"> Required. </span>
            <span class="typo--guidance typo--warning" ng-show="theForm.email.$error.minlength"> Too short. </span>
            <span class="typo--guidance typo--warning" ng-show="theForm.email.$error.maxlength"> Too long. </span>
            <span class="typo--guidance typo--danger" ng-show="theForm.email.$error.pattern"> Invalid email. </span>
        </span>
    </label>

    <label class="forms__pair forms__pair--spacer clearfix">
        <span class="forms__name forms__name--extended" > Current Password:</span>
        <span class="forms__inputHolder--short">
            <input class="forms__textField forms__textField--block" id="change_email_password" type="password" name="password" ng-model="EmailCtrl.password" autocomplete="off" required ng-minlength="1" ng-maxlength="128" ng-trim="false">
            <span class="typo--guidance typo--danger" ng-show="theForm.password.$error.required"> Required. </span>
        </span>
    </label>

    <input type="submit" value="Change Email" 
        class="btnAction btnAction--primary btnAccounts"
        ng-disabled="((!theForm.$valid) || (EmailCtrl.email === user.email))">
    <div>
        <span>{{EmailCtrl.lastMessage}}</span>
    </div>
</form>
