<form class="form__group" name="theForm" id="change_password" ng-submit="PasswordCtrl.submit()" c6-alias="PasswordCtrl.passwords as passwords">
    <h1 class="form__title">Change your Password </h1>
    <div class="form__pair form__spacer">
        <label class="form__label" for="change_password0" > Current Password </label>
        <input class="form__textBox" id="change_password0" type="password" name="password0" ng-model="passwords[0]" autocomplete="off" required ng-minlength="1" ng-maxlength="128" ng-trim="false">
        <div class="form__errorBox">
            <span class="form__errorTxt" ng-show="theForm.password0.$error.required"> Required </span>
            <span class="form__errorTxt" ng-show="theForm.password0.$error.minlength"> Too short </span>
            <span class="form__errorTxt" ng-show="theForm.password0.$error.maxlength"> Too long </span>
        </div>
    </div>

    <div class="form__pair">
        <label class="form__label" for="change_password1" > New Password </label>
        <input class="form__textBox" id="change_password1" type="password" name="password1" ng-model="passwords[1]" autocomplete="off" required ng-minlength="8" ng-maxlength="128" ng-pattern="PasswordCtrl.pattern" ng-trim="false">
        <div class="form__errorBox">
            <span class="form__errorTxt" ng-show="theForm.password1.$error.required"> Required </span>
            <span class="form__errorTxt" ng-show="theForm.password1.$error.minlength"> Must be at least 8 numbers or letters </span>
            <span class="form__errorTxt" ng-show="theForm.password1.$error.maxlength"> Too long </span>
            <span class="form__errorTxt" ng-show="theForm.password1.$error.pattern"> Spaces not allowed</span>
            <span class="form__errorTxt" ng-show="passwords[1].length && (passwords[0] === passwords[1])"> Can not be the same as your Current Password </span>
        </div>
    </div>

    <div class="form__pair form__spacer">
        <label class="form__label" for="change_password2" >Confirm Password </label>
        <input class="form__textBox" id="change_password2" type="password" name="password2" ng-model="passwords[2]" autocomplete="off" ng-required="theForm.password1.$error.required" ng-trim="false">
        <div class="form__errorBox">
            <span class="form__errorTxt" ng-show="theForm.password2.$error.required"> Required </span>
            <span class="form__errorTxt" ng-show="(passwords[2].length) && (passwords[1] !== passwords[2])"> Do not match </span>
        </div>
    </div>
 
    <input type="submit" value="Change Password" 
        class="form__submitBtn"
        ng-disabled="((!theForm.$valid) || (passwords[0] === passwords[1]) || (passwords[1] !== passwords[2]))">
    <div>
        <span>{{PasswordCtrl.lastMessage}}</span>
    </div>
</form>
