<form class="pageBody__group pageBody__group--sideTabs" name="theForm" id="change_password" ng-submit="PasswordCtrl.submit()" c6-alias="PasswordCtrl.passwords as passwords">
    <h1 class="forms__title">Change your Password </h1>
    <label class="forms__pair forms__pair--spacer clearfix">
        <span class="forms__name forms__name--extended" > Current Password </span>
        <span class="forms__inputHolder--short">
            <input class="forms__textField forms__textField--block" id="change_password0" type="password" name="password0" ng-model="passwords[0]" autocomplete="off" required ng-minlength="1" ng-maxlength="128" ng-trim="false">
            <span class="typo--guidance typo--warning">({{card.title.length || 0}} of 100 max characters recommended)</span>
            <span class="typo--guidance typo--danger" ng-show="theForm.password0.$error.required"> Required </span>
            <span class="typo--guidance typo--warning" ng-show="theForm.password0.$error.minlength"> Too short </span>
            <span class="typo--guidance typo--warning" ng-show="theForm.password0.$error.maxlength"> Too long </span>
        </span>
    </label>

    <label class="forms__pair clearfix">
        <span class="forms__name forms__name--extended"> New Password </span>
        <span class="forms__inputHolder--short">
            <input class="forms__textField forms__textField--block" id="change_password1" type="password" name="password1" ng-model="passwords[1]" autocomplete="off" required ng-minlength="8" ng-maxlength="128" ng-pattern="PasswordCtrl.pattern" ng-trim="false">
            <span class="typo--guidance typo--danger" ng-show="theForm.password1.$error.required"> Required </span>
            <span class="typo--guidance typo--warning" ng-show="theForm.password1.$error.minlength"> Must be at least 8 numbers or letters </span>
            <span class="typo--guidance typo--warning" ng-show="theForm.password1.$error.maxlength"> Too long </span>
            <span class="typo--guidance typo--warning" ng-show="theForm.password1.$error.pattern"> Spaces not allowed</span>
            <span class="typo--guidance typo--danger" ng-show="passwords[1].length && (passwords[0] === passwords[1])"> Can not be the same as your Current Password </span>
        </span>
    </label>

    <label class="forms__pair clearfix">
        <span class="forms__name forms__name--extended" > Confirm Password </span>
        <span class="forms__inputHolder--short">
            <input class="forms__textField forms__textField--block" id="change_password2" type="password" name="password2" ng-model="passwords[2]" autocomplete="off" ng-required="theForm.password1.$error.required" ng-trim="false">
            <span class="typo--guidance typo--danger" ng-show="theForm.password1.$error.required"> Required </span>
            <span class="typo--guidance typo--warning" ng-show="(passwords[2].length) && (passwords[1] !== passwords[2])">Passwords do not match </span>
        </span>
    </label>
 
    <input type="submit" value="Change Password" 
        class="btnAction btnAction--primary btnAccounts"
        ng-disabled="((!theForm.$valid) || (passwords[0] === passwords[1]) || (passwords[1] !== passwords[2]))">
        <span>{{PasswordCtrl.lastMessage}}</span>
    </div>
</form>
