<div ng-controller="SelfieDemographicsController as SelfieDemographicsCtrl">
    <fieldset class="form__item" >
        <select c6-select-box multiple="multiple" class="form__selectBox form__selectBox--multiple" ng-model="campaign.targeting.demographics.age" ng-options="option for option in SelfieDemographicsCtrl.ageOptions" id="c6-ages"></select>
        <label class="form__label" for="c6-ages">
            <i class="fa fa-times ui--error"></i>
            Ages
        </label>
        <div class="form__helpBox form__helpBox--right">
            <div class="form__helpText">
                You can use age data to target viewers from one or more age ranges.
            </div>
        </div>
        <div class="form__errorBox">
            <p class="form__errorMsg">
                <i class="fa fa-exclamation-triangle"></i> Error message goes here
            </p>
        </div>
    </fieldset>

    <fieldset class="form__item">
        <select c6-select-box multiple="multiple" class="form__selectBox form__selectBox--multiple" ng-model="campaign.targeting.demographics.income" ng-options="option for option in SelfieDemographicsCtrl.incomeOptions" id="c6-income"></select>
        <label class="form__label" for="c6-income">
            <i class="fa fa-times ui--error"></i>
            Incomes
        </label>
        <div class="form__helpBox form__helpBox--right">
            <div class="form__helpText">
                You can use incomes data to target viewers from one or more incomes ranges.
            </div>
        </div>
        <div class="form__errorBox">
            <p class="form__errorMsg">
                <i class="fa fa-exclamation-triangle"></i> Error message goes here
            </p>
        </div>
    </fieldset>

    <fieldset class="form__item">
        <select c6-select-box multiple="multiple" class="form__selectBox form__selectBox--multiple" ng-model="campaign.targeting.demographics.gender" ng-options="option for option in SelfieDemographicsCtrl.genderOptions" id="c6-income"></select>
        <label class="form__label" for="c6-income">
            <i class="fa fa-times ui--error"></i>
            Gender
        </label>
        <div class="form__helpBox form__helpBox--right">
            <div class="form__helpText">
                You can use gender data to target viewers from one or more gender.
            </div>
        </div>
        <div class="form__errorBox">
            <p class="form__errorMsg">
                <i class="fa fa-exclamation-triangle"></i> Error message goes here
            </p>
        </div>
    </fieldset>
</div>
