<form class="pageBody__group" ng-controller="SelfieCampaignGeneralController as SelfieCampaignGeneralCtrl" c6-alias="SelfieCampaignCtrl.categories as categories">

    <label class="forms__pair forms__pair--spacer clearfix">
        <span class="forms__name" > Name </span>
        <span class="forms__inputHolder forms__inputHolder--fluid
        forms__inputHolder--maxMed">
            <input class="forms__textField forms__textField--padded forms__textField--block" ng-model="campaign.name" type="text"></input>
        </span>
    </label>

    <label class="forms__pair forms__pair--spacer clearfix">
        <span class="forms__name" > Brand </span>
        <span class="forms__inputHolder forms__inputHolder--fluid
        forms__inputHolder--maxMed">
            <input class="forms__textField forms__textField--padded forms__textField--block" ng-model="campaign.brand" type="text"></input>
        </span>
    </label>

    <label class="forms__pair forms__pair--spacer clearfix">
        <span class="forms__name forms__name--extended" > Categories:</span>
        <span class="forms__inputHolder--med">
            <select multiple ng-model="campaign.categories" 
            class="selector__multiSelect"
            ng-options="category.name as category.label for category in categories"></select>
            <p class="typo--warning" style="font-size:0.875em;">Use 'Ctl/Cmd' or 'Shift' to select multiple items</p>
        </span>
    </label>
</form>