<form ng-controller="SelfieCampaignLinksController as SelfieCampaignLinksCtrl">
    <h1 class="forms__title forms__title--divider">Links</h1>
    <label class="forms__pair clearfix" ng-repeat="link in SelfieCampaignLinksCtrl.links" style="margin:0.25em 0;">
        <span class="forms__name">
            {{link.name}}
        </span>
        <span class="forms__inputHolder forms__inputHolder--fluid 
        forms__inputHolder--maxMed">
            <input type="text" class="forms__textField forms__textField--block" ng-model="link.href">
        </span>
        <button class="btnInvis ui__iconHolder18" style="float:left; margin:0.25em 0 0 0.5em;" ng-click="SelfieCampaignLinksCtrl.removeLink(link)">
            <span class="fab fa-trash">&nbsp;</span>
        </button>
    </label>
    <c6-alias model="SelfieCampaignLinksCtrl.newLink" as="newLink">
        <h1 class="forms__title forms__title--divider">Custom Link Creator</h1>
        <label class="forms__pair clearfix" style="margin:0.25em 0;">
            <span class="forms__name">
                Link Name
            </span>
            <span class="forms__inputHolder forms__inputHolder--fluid forms__inputHolder--maxMed">
                <input type="text" c6-autoselect class="forms__textField forms__textField--block" ng-model="newLink.name">
            </span>
        </label>
        <label class="forms__pair clearfix" style="margin:0.25em 0;">
            <span class="forms__name">
                URL
            </span>
            <span class="forms__inputHolder forms__inputHolder--fluid forms__inputHolder--maxMed">
                <input type="text" c6-autoselect class="forms__textField forms__textField--block" ng-model="newLink.href">
            </span>
        </label>
        <button class="btnAction btnAction--success" style="margin:0.5em 0 0 8em;" ng-click="SelfieCampaignLinksCtrl.addNewLink();">Add</button>
    </c6-alias>
</form>