<div ng-if="SelfieCampaignCtrl.card.data.videoid" class="grid__item three-quarters">
    <section class="formSection__group" ng-controller="SelfieCampaignPreviewController as SelfieCampaignPreviewCtrl">

        <h1 class="formSection__title">
            <span class="formSection__number">
                <span class="formSection__numberText">6</span>
            </span>
            <span class="formSection__titleText tk--hdr">Preview</span>
        </h1>

        <div class="grid grid--full grid--center">

            <div class="adPreview__buttonGroup grid__item one-third">
                <button ng-class="{'selected' : SelfieCampaignPreviewCtrl.device === 'desktop' }" ng-click="SelfieCampaignPreviewCtrl.device = 'desktop'"class="adPreview__button">Desktop</button>
            </div>

            <div class="adPreview__buttonGroup grid__item one-third">
                <button ng-class="{'selected' : SelfieCampaignPreviewCtrl.device === 'phone' }" ng-click="SelfieCampaignPreviewCtrl.device = 'phone'" class="adPreview__button">Mobile</button>
            </div>

        </div>

        <div class="form__items">

            <div class="adPreview__container">
                <c6-embed ng-class="{'mobile' : SelfieCampaignPreviewCtrl.device === 'phone'}"
                    class="preview__embedHolder"
                    experience="SelfieCampaignPreviewCtrl.experience"
                    profile="SelfieCampaignPreviewCtrl.profile"
                    card="SelfieCampaignPreviewCtrl.card"
                    active="SelfieCampaignPreviewCtrl.active">
                </c6-embed>
            </div>

        </div>

        <br><br><br><br>

    </section><!--.formSection__group-->

</div><!--.grid__item-->


