<div class="grid__item three-quarters">
    <h1 class="forms__title forms__title--divider">Sponsor</h1>

    <form class="pageBody__group" ng-controller="SelfieCampaignSponsorController as SelfieCampaignSponsorCtrl" c6-alias="SelfieCampaignCtrl.card as card">

        <label class="forms__pair forms__pair--spacer clearfix">
            <span class="forms__name" > Name </span>
            <span class="forms__inputHolder forms__inputHolder--fluid
            forms__inputHolder--maxMed">
                <input class="forms__textField forms__textField--padded forms__textField--block" ng-model="card.params.sponsor" type="text"></input>
            </span>
        </label>

        <label class="forms__pair forms__pair--spacer clearfix">
            <span class="forms__name" > Logo:</span>
            <span class="forms__inputHolder forms__inputHolder--fluid 
            forms__inputHolder--maxMed">
                <input class="forms__textField forms__textField--padded forms__textField--block" 
                ng-class="{ 'forms__textField--danger': !SelfieCampaignSponsorCtrl.validLogo }"
                ng-model="card.collateral.logo" type="text"></input>
            </span>
        </label>

        <h2>Links</h2>
        <label class="forms__pair clearfix" ng-repeat="link in SelfieCampaignSponsorCtrl.links" style="margin:0.25em 0;">
            <span class="forms__name">
                {{link.name}}
            </span>
            <span class="forms__inputHolder forms__inputHolder--fluid 
            forms__inputHolder--maxMed">
                <input type="text" class="forms__textField forms__textField--block" ng-model="link.href">
            </span>
            <button class="btnInvis ui__iconHolder18" style="float:left; margin:0.25em 0 0 0.5em;" ng-click="SelfieCampaignSponsorCtrl.removeLink(link)">
                <span class="fab fa-trash">&nbsp;</span>
            </button>
        </label>

        <c6-alias model="SelfieCampaignSponsorCtrl.newLink" as="newLink">
            <h2>Custom Link Creator</h2>
            <label class="forms__pair clearfix" style="margin:0.25em 0;">
                <span class="forms__name">
                    Link Name
                </span>
                <span class="forms__inputHolder forms__inputHolder--fluid forms__inputHolder--maxMed">
                    <input type="text" c6-autoselect class="forms__textField forms__textField--block" ng-model="newLink.name">
                </span>
            </label>
            <label class="forms__pair clearfix" style="margin:0.25em 0;">
                <span class="forms__name">
                    URL
                </span>
                <span class="forms__inputHolder forms__inputHolder--fluid forms__inputHolder--maxMed">
                    <input type="text" c6-autoselect class="forms__textField forms__textField--block" ng-model="newLink.href">
                </span>
            </label>
            <button class="btnAction btnAction--success" style="margin:0.5em 0 0 8em;" ng-click="SelfieCampaignSponsorCtrl.addNewLink();">Add</button>
        </c6-alias>

        <h2>Call to action</h2>
        <label class="forms__pair forms__pair--spacer clearfix">
            <span class="forms__name">
                Label
            </span>
            <span class="forms__inputHolder forms__inputHolder--fluid forms__inputHolder--maxMed">
                <input type="text" class="forms__textField forms__textField--block" ng-model="card.params.action.label">
            </span>
        </label>
        <label class="forms__pair forms__pair--spacer clearfix">
            <span class="forms__name">
                Link
            </span>
            <span class="forms__inputHolder forms__inputHolder--fluid forms__inputHolder--maxMed">
                <input type="text" class="forms__textField forms__textField--block" ng-model="card.links.Action">
            </span>
        </label>
        <c6-dropdown options="SelfieCampaignSponsorCtrl.actionTypeOptions" value="card.params.action.type"></c6-dropdown>
    </form>
</div>
