<div class="grid__item one-half">
    <section class="formSection__group" id="section_4" ng-controller="SelfieCampaignTextController as SelfieCampaignTextCtrl" c6-alias="SelfieCampaignCtrl.card as card">

        <h1 class="formSection__title">
            <span class="formSection__number">
                <span class="formSection__numberText">4</span>
            </span>
            <span class="formSection__titleText tk--hdr">Add Your Text</span>
        </h1>

        <div class="form__items">

            <fieldset class="form__item">
                <input c6-fill-check class="form__textBox form__fillCheck" type="text" id="c6-video-title" ng-model="card.title">
                <label class="form__label" for="c6-video-title">
                    <i class="fa fa-times ui--error"></i>
                    Video Title
                </label>
                <div class="form__helpBox form__helpBox--right">
                    <div class="form__helpText">
                        The video title is for your ad. Changing the title here will not affect the original video.
                    </div>
                </div>
                <div class="form__errorBox">
                    <p class="form__errorMsg">
                        <i class="fa fa-exclamation-triangle"></i> Error message goes here
                    </p>
                </div>
            </fieldset>

            <fieldset class="form__item">
                <textarea c6-fill-check class="form__textBox form__textArea form__textArea--large form__fillCheck" type="text" id="c6-video-description" ng-model="card.note"></textarea>
                <label class="form__label" for="c6-video-description">
                    <i class="fa fa-times ui--error"></i>
                    Video Description
                </label>
                <div class="form__helpBox form__helpBox--right">
                    <div class="form__helpText">
                        This step is optional. The description is the last thing anyone will ever read so good luck being pithy.
                    </div>
                </div>
                <div class="form__errorBox">
                    <p class="form__errorMsg">
                        <i class="fa fa-exclamation-triangle"></i> Error message goes here
                    </p>
                </div>
            </fieldset>

            <fieldset class="form__item">
                <select c6-select-box preselected="true" ng-model="SelfieCampaignTextCtrl.actionType" ng-options="option.name for option in SelfieCampaignTextCtrl.actionTypeOptions" class="form__selectBox form__selectBox--single"></select>
                <label class="form__label" for="c6-sponsor-name">
                    <i class="fa fa-times ui--error"></i>
                    Call to action
                </label>
                <div class="form__helpBox form__helpBox--right">
                    <div class="form__helpText">
                        A call to action is a prompt for the user to do an action. For instance, “Learn more,” or “Shop now!”
                    </div>
                </div>
                <div class="form__errorBox">
                    <p class="form__errorMsg">
                        <i class="fa fa-exclamation-triangle"></i> Error message goes here
                    </p>
                </div>
            </fieldset>

        </div><!-- .form__items -->

        <div class="ctaPreview__wizard" ng-if="SelfieCampaignTextCtrl.actionType.type !== 'none'">
            <div class="ctaPreview__group ui__connector">

                <h2 class="ctaPreview__title">Preview</h2>
                <div class="ctaPreview__container" ng-switch="SelfieCampaignTextCtrl.actionType.type">
                    <button class="ctaPreview__btn" ng-switch-when="button">{{SelfieCampaignTextCtrl.actionLabel}}</button>
                    <a href="#" class="ctaPreview__link" ng-switch-when="text">{{SelfieCampaignTextCtrl.actionLabel}}</a>
                </div>

            </div><!--ctaPreview__group-->

            <div class="form__items">

                <fieldset class="form__item form__item--sub">
                    <input c6-fill-check class="form__textBox form__fillCheck" type="text" id="c6-video-ctaText" ng-model="SelfieCampaignTextCtrl.actionLabel">
                    <label class="form__label" for="c6-video-ctaText">
                        <i class="fa fa-times ui--error"></i>
                        {{SelfieCampaignTextCtrl.actionType.name}} Text
                    </label>
                    <div class="form__helpBox form__helpBox--right">
                        <div class="form__helpText">
                            The text is what the link will be attached to for the button or the link.
                        </div>
                    </div>
                    <div class="form__errorBox">
                        <p class="form__errorMsg">
                            <i class="fa fa-exclamation-triangle"></i> Error message goes here
                        </p>
                    </div>
                </fieldset>

                <fieldset class="form__item form__item--sub">
                    <input c6-fill-check class="form__textBox form__fillCheck" type="text" id="c6-video-ctaText" ng-model="SelfieCampaignTextCtrl.actionLink">
                    <label class="form__label" for="c6-video-ctaText">
                        <i class="fa fa-times ui--error"></i>
                        Link/URL
                    </label>
                    <div class="form__helpBox form__helpBox--right">
                        <div class="form__helpText">
                            Paste in your link.
                        </div>
                    </div>
                    <div class="form__errorBox">
                        <p class="form__errorMsg">
                            <i class="fa fa-exclamation-triangle"></i> Error message goes here
                        </p>
                    </div>
                </fieldset>

            </div>
        </div><!--.ctaPreview__wizard-->

    </section><!--.formSection__group-->

</div><!--.grid__item-->
