<div class="grid__item one-half">
    <section class="formSection__group" ng-controller="SelfieCampaignVideoController as SelfieCampaignVideoCtrl" c6-alias="SelfieCampaignCtrl.card as card">

        <h1 class="formSection__title">
            <span class="formSection__number">
                <span class="formSection__numberText">3</span>
            </span>
            <span class="formSection__titleText tk--hdr">Add Your Video</span>
        </h1>

        <div class="form__items">

            <fieldset class="form__item">
                <textarea c6-fill-check class="form__textBox form__textArea form__fillCheck" type="text" id="c6-video-input" ng-model="SelfieCampaignVideoCtrl.videoUrl" ng-change="SelfieCampaignVideoCtrl.updateUrl()"></textarea>
                <label class="form__label" for="c6-video-input">
                    <i class="fa fa-times ui--error"></i>
                    Video URL or Embed Code
                </label>
                <div class="form__helpBox form__helpBox--right">
                    <div class="form__helpText">
                        Paste in a link or embed code from YouTube, Vimeo, or DailyMotion. You can also paste in a VAST tag.
                    </div>
                </div>
                <div class="form__errorBox">
                    <p class="form__errorMsg">
                        <i class="fa fa-exclamation-triangle"></i> Error message goes here
                    </p>
                </div>
            </fieldset>

            <!-- OLD HTML, NEEDS TO BE CONVERTED -->

            <div ng-switch="card.data.service"
            style="margin:1.5em 0;">
                <div ng-switch-when="adUnit" ng-controller="AdPlayerController as AdPlayerCtrl">
                    <div>
                        <vast-player
                            videoid="preview"
                            ad-tag="{{SelfieCampaignVideoCtrl.videoUrl}}">
                        </vast-player>
                    </div>
                    <div ng-if="!!AdPlayerCtrl.player">
                        <button ng-click="AdPlayerCtrl.player.play()">Play</button>
                        <button ng-click="AdPlayerCtrl.player.pause()">Pause</button>
                        <button ng-click="AdPlayerCtrl.player.reload()">Reload</button>
                    </div>
                </div>
                <video-preview ng-switch-default service="{{card.data.service}}"
                    disable-trimmer="SelfieCampaignVideoCtrl.disableTrimmer()"
                    videoid="{{card.data.videoid}}"
                    start="card.data.start"
                    end="card.data.end"
                    class="sponsoredCard__preview"
                    style="display: block;">
                </video-preview>
            </div>

            <!-- / END OLD HTML, NEEDS TO BE CONVERTED -->

            <fieldset class="form__item">
                <input c6-fill-check class="form__textBox form__fillCheck" type="text" id="c6-video-thumb" ng-model="card.thumb">
                <label class="form__label" for="c6-video-thumb">
                    <i class="fa fa-times ui--error"></i>
                    Thumbnail Url
                </label>
                <div class="form__helpBox form__helpBox--right">
                    <div class="form__helpText">
                        Provide a unique identifier for your campaign. This is not displayed within the ad unit and is for internal tracking purposes.
                    </div>
                </div>
                <div class="form__errorBox">
                    <p class="form__errorMsg">
                        <i class="fa fa-exclamation-triangle"></i> Error message goes here
                    </p>
                </div>
            </fieldset>

        </div>

        <br><br><br><br>

    </section><!--.formSection__group-->

</div><!--.grid__item-->
