<div class="modalBody__group modalBody__group--sideTabs mrConfigure__autoplay">
    <form>
        <h1 class="forms__name--title">Do you want to play videos continuously?</h1>
        <label class="checkbox--inline">
            <input id="hasAutoplay" type="checkbox" ng-model="minireel.data.autoplay" class="checkbox__input">
            <span class="btn__label faa">&nbsp;</span>
        </label>
        <label for="hasAutoplay">
            Yes, <strong>all</strong> videos should play continuously.
        </label>

        <h1 class="forms__name--title">Do you want videos to auto-advance to the next slide when complete?</h1>
        <label class="checkbox--inline">
            <input id="hasAutoplay" type="checkbox" ng-model="minireel.data.autoadvance" class="checkbox__input">
            <span class="btn__label faa">&nbsp;</span>
        </label>
        <label for="hasAutoplay">
            Yes, <strong>all</strong> videos should autoadvance.
        </label>
    </form>
    <p class="modalBody__fineprint typo--warning">
        <strong>!</strong> These changes affect desktop experiences only.
    </p>
</div>
