<c6-alias model="SponsorCardCtrl.placements" as="placements">
    <h1 class="forms__name--title">Placements</h1>
    <ul>
        <li ng-repeat="placement in placements">
            <button class="btnInvis" ng-click="SponsorCardCtrl.unplace(placement.minireel, placement.index)">
                <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                    <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" d="M16.5,0L9,7.5L1.5,0L0,1.5L7.5,9L0,16.5L1.5,18L9,10.5l7.5,7.5l1.5-1.5L10.5,9
                    L18,1.5L16.5,0z"></path>
                </svg>
            </button>
            <strong>{{placement.minireel.data.title}}</strong>, before card <em>{{placement.index + 1}}</em>
        </li>
    </ul>
    <span ng-show="placements.length < 1">You have no placements. Search for a MiniReel to create a placement.</span>
</c6-alias>
