<form>
    <h1 class="forms__name--title">Place as Stand-Alone Video</h1>
    <label class="checkbox--inline">
        <input id="enableCompanionAd" type="checkbox" ng-model="PlacementStandaloneCtrl.enableCompanionAd" class="checkbox__input">
        <span class="btn__label faa">&nbsp;</span>
    </label>
    <label for="enableCompanionAd">Enable Companion Ad</label>
    <button class="btnAction btnAction--success" ng-click="PlacementStandaloneCtrl.place()">Create Stand-Alone Placement</button>
</form>
