<div class="card__statusIndicator">
    <span class="ui__editToolTip">
        <span class="ui__edit sprite--alpha"><span class="ir">Edit</span></span>
        Edit
    </span>
</div>
<div class="card__imgBox">
    <div class="card__img sprite--fff">
        &nbsp;
    </div>
</div>
<div class="card__body">
    <div class="card__copy">
        <h1 class="card__title"><span class="card__titleText">Advertisement Slide</span></h1>
        <p class="card__summary">
            Served by: <br>
            <ng-switch on="$this.data.source">
                <strong ng-switch-when="cinema6">Reelcontent Ad Server</strong>
                <strong ng-switch-when="publisher">Publisher Ad Server</strong>
                <strong ng-switch-when="publisher-cinema6">Publisher Ad Server with Reelcontent fallback</strong>
                <strong ng-switch-when="cinema6-publisher">Reelcontent Ad Server with Publisher fallback</strong>
            </ng-switch>
        </p>
        <p class="card__summary">
            Skip Availability: <br>
            <ng-switch on="$this.data.skip">
                <strong ng-switch-when="delay">After 6 Seconds</strong>
                <strong ng-switch-when="anytime">Anytime</strong>
                <strong ng-switch-when="never">Never</strong>
            </ng-switch>
        </p>
    </div>
    <div class="ui__divider--pause">&hellip;</div>
</div>
