<div class="card__statusIndicator" ng-class="{'card__statusIndicator--error': !!EditorCtrl.errorForCard($this)}">
    <span class="ui__editToolTip">
        <span class="ui__edit sprite--alpha"><span class="ir">Edit</span></span>
        Edit
    </span>
    <div class="card__statusMsg">
        <div class="ui__alert sprite--alpha"><span class="ir">Warning!</span></div>
        <span class="statusText">{{EditorCtrl.errorForCard($this)}}</span>
    </div>
</div>
<div class="card__imgBox">
    <div class="miniReel__imgBox"
        c6-bg-img="{{EditorCtrl.splashSrc}}">
        &nbsp;
    </div>
</div>
<div class="card__body">
    <div class="card__copy">
        <h1 class="card__title"><span class="card__titleText">{{$this.title}}</span></h1>
        <p class="card__summary">{{$this.note}}</p>
    </div>
    <div class="ui__divider--pause">&hellip;</div>
</div>
