<div class="pageHolder">
    <div class="pageHeader__group">
        <div class="mainHeader__group">
            <h1 class="mainHeader__breadcrumbs tk--hdr">
                <a c6-sref="Selfie:Account">Settings</a>  /  Payment Details
            </h1>

            <div class="pageHeader__actions">
                <account-balance></account-balance>
                <button ng-click="SelfieAccountPaymentHistoryCtrl.addFunds()" class="action__btn action__btn--small">
                    <i class="fa fa-plus"></i> Add Funds
                </button>
            </div>
        </div><!--.mainHeader__group-->
    </div><!--.pageHeader__group-->

    <div class="grid grid--center">
        <div class="grid__item">
            <header class="settingsContent__header">
                <h2 class="settingsContent__title tk--hdr">Payment Details</h2>
            </header>
        </div>
    </div>

    <div class="tabContent__gridHolder">
        <div class="grid grid--center">
            <div class="grid__item one-whole">
                <div class="grid">
                    <div class="grid__item one-quarter">
                        <div class="statsChart__infoBox paymentChart__infoBox">
                            <span class="hint--top hint--text-wrap"
                                data-hint="The total unspent funds currently in your account.">
                                <h3 class="stats__icon"><i class="fa fa-calculator"></i></h3>
                                <h1 class="stats__infoNumber tk--hdr">{{SelfieAccountPaymentHistoryCtrl.accounting.balance | dollars:2}}</h1>
                                <h3 class="stats__label">Balance</h3>
                            </span>
                        </div>
                    </div><!--
                    --><div class="grid__item one-quarter">
                        <div class="statsChart__infoBox paymentChart__infoBox">
                            <span class="hint--top hint--text-wrap"
                                data-hint="Funds from your account that have not yet been committed to a running campaign.">
                                <h3 class="stats__icon"><i class="fa fa-money"></i></h3>
                                <h1 class="stats__infoNumber tk--hdr">{{SelfieAccountPaymentHistoryCtrl.accounting.remainingFunds | dollars:2}}</h1>
                                <h3 class="stats__label">Available Funds</h3>
                            </span>
                        </div>
                    </div><!--
                    --><div class="grid__item one-quarter">
                        <div class="statsChart__infoBox paymentChart__infoBox">
                            <span class="hint--top hint--text-wrap"
                                data-hint="Total amount spent on all past and current campaigns.">
                                <h3 class="stats__icon"><i class="fa fa-dollar"></i></h3>
                                <h1 class="stats__infoNumber tk--hdr">{{SelfieAccountPaymentHistoryCtrl.accounting.totalSpend | dollars:2}}</h1>
                                <h3 class="stats__label">Total Spend</h3>
                            </span>
                        </div>
                    </div><!--
                    --><div class="grid__item one-quarter">
                        <div class="statsChart__infoBox paymentChart__infoBox">
                            <span c6-alias="SelfieAccountPaymentHistoryCtrl.model.items.value[0] as recent" class="hint--top hint--text-wrap" data-hint="This is your most recent deposit.">
                                <h3 class="stats__icon"><i class="fa fa-credit-card"></i></h3>
                                <h1 class="stats__infoNumber tk--hdr">{{recent.amount | dollars:2}}</h1>
                                <h3 class="stats__label">Last Deposit: {{recent.created | date:'MM/dd/yyyy'}}</h3>
                                <h3 ng-if="recent.promotion.type === 'signupReward'" class="stats__label">
                                    Sign-up Reward
                                </h3>
                                <h3 ng-if="recent.payment.method.type === 'paypal'" class="stats__label">
                                    PayPal:
                                    <span ng-show="recent.payment.method.email.length > 17"
                                        class="hint--top hint--text-wrap"
                                        data-hint="{{recent.payment.method.email}}">
                                        {{recent.payment.method.email | limitTo:17}}...
                                    </span>
                                    <span ng-show="recent.payment.method.email.length <= 17">
                                        {{recent.payment.method.email}}
                                    </span>
                                </h3>
                                <h3 ng-if="recent.payment.method.type === 'creditCard'"
                                    class="stats__label">
                                    {{recent.payment.method.cardType | paymentType}}: <span>**** {{recent.payment.method.last4}}</span>
                                </h3>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!--.grid__item .one-whole--><!--.grid__item .three-quarters-->
        </div>
    </div>

    <div class="settingsContent__gridHolder paymentHistory__group">
        <div class="grid eps">
            <h1 class="tk--hdr stats__hdr payment__table">
                <span class="hint--top hint--text-wrap"
                    data-hint="Below is a history of deposits for your account.">
                    Deposits
                </span>
            </h1>

            <div class="grid__item one-whole">
                <div class="row__group">
                    <div class="stats__row stats__sub-hdr">
                        <h3 class="stats__label">Date</h3>
                        <h3 class="stats__rowData">Amount</h3>
                        <h3 class="stats__rowData stats__rowMethod">Payment Method</h3>
                    </div>
                    <div ng-repeat="transaction in SelfieAccountPaymentHistoryCtrl.model.items.value"
                        ng-class="{ 'stats__reward' : transaction.promotion.type === 'signupReward' }"
                        class="stats__row">
                        <h3 class="stats__label">{{transaction.created | date:'MM/dd/yyyy'}}</h3>
                        <h2 class="stats__rowData stats__rowSpend">{{transaction.amount | dollars:2}}</h2>
                        <h2 ng-if="transaction.promotion.type === 'signupReward'"
                            class="stats__rowData stats__rowMethod">
                            <i class="fa fa-star"></i>Sign-up Reward<i class="fa fa-star"></i>
                        </h2>
                        <h2 ng-if="!!transaction.promotion && transaction.promotion.type !== 'signupReward'"
                            class="stats__rowData stats__rowMethod">
                            Credit
                        </h2>
                        <h2 ng-if="transaction.payment.method.type === 'paypal'"
                            class="stats__rowData stats__rowMethod">
                            PayPal: <span>{{transaction.payment.method.email}}</span>
                        </h2>
                        <h2 ng-if="transaction.payment.method.type === 'creditCard'"
                            class="stats__rowData stats__rowMethod">
                            {{transaction.payment.method.cardType | paymentType}}: <span>{{transaction.payment.method.cardholderName}}, **** {{transaction.payment.method.last4}}</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="paginator__group clearfix">
            <paginator-controls page="SelfieAccountPaymentHistoryCtrl.model.page" limit="SelfieAccountPaymentHistoryCtrl.limit" limits="SelfieAccountPaymentHistoryCtrl.limits" total="SelfieAccountPaymentHistoryCtrl.model.items.page.total"></paginator-controls>

            <div class="paginator__readout" c6-alias="SelfieAccountPaymentHistoryCtrl.model.items.value.meta.items as items">
                <span ng-show="SelfieAccountPaymentHistoryCtrl.model.items.value.length">Displaying <strong>{{items.start}} &ndash; {{items.end}}</strong> &nbsp;of&nbsp; {{items.total}} Transactions</span>
                <span ng-show="!SelfieAccountPaymentHistoryCtrl.model.items.value.length">0 Transactions</span>
            </div>
        </div> -->
    </div>

</div>