<div class="modalBody__group modalBody__group--sideTabs mrAdManager__videoServer">
    <form>
        <h1 class="forms__name--title">Branding</h1>
        <p class="forms__introText">What special presentation would you like this MiniReel to have?</p>

        <label class="forms__pair forms__pair--spacer clearfix">
            <span class="forms__name">
                Sponsor <strong class="typo--danger">*</strong>
            </span>
            <span class="forms__inputHolder">
                <input type="text" class="forms__textField forms__textField--block" ng-model="minireel.data.params.sponsor">
            </span>
        </label>

        <label class="forms__pair forms__pair--spacer clearfix">
            <span class="forms__name">
                Logo URL <strong class="typo--danger">*</strong>
            </span>
            <span class="forms__inputHolder" ng-class="{ c6__error: !SponsorMiniReelCtrl.validLogo}">
                <input type="text" class="forms__textField forms__textField--block" ng-model="minireel.data.collateral.logo">
            </span>
        </label>

        <label class="forms__pair forms__pair--spacer clearfix">
            <span class="forms__name">
                Template <strong class="typo--danger">*</strong>
            </span>
            <span class="forms__inputHolder">
                <input type="text" class="forms__textField forms__textField--block" ng-model="minireel.data.mode">
            </span>
        </label>

        <label class="forms__pair forms__pair--spacer clearfix">
            <span class="forms__name">
                Branding
            </span>
            <span class="forms__inputHolder">
                <input type="text" class="forms__textField forms__textField--block" ng-model="minireel.data.branding">
            </span>
        </label>
    </form>
</div>
