<div class="modalBody__group modalBody__group--sideTabs mrAdManager__videoServer" c6-alias="SponsorMiniReelDisplayAdCtrl.model as endcap">
    <form>
        <h1 class="forms__name--title">End-Cap</h1>
        <p class="forms__introText">What kind of end-cap card should this MiniReel have?</p>

        <div class="twoCol">
            <label class="radiobox radiobox--hasLabel clearfix">
                <input type="radio"
                    ng-model="SponsorMiniReelDisplayAdCtrl.cardType"
                    value="recap"
                    name="minireel-endcap"
                    class="radiobox__input"/>
                <span class="btn__icon faa fab">
                    &nbsp;
                </span>
                <span class="btn__label">
                    Use the <em>Recap</em> card.
                </span>
            </label>
        </div>
        <div class="twoCol">
            <label class="radiobox radiobox--hasLabel clearfix">
                <input type="radio"
                    ng-model="SponsorMiniReelDisplayAdCtrl.cardType"
                    value="displayAd"
                    name="minireel-endcap"
                    class="radiobox__input"/>
                <span class="btn__icon faa fab">
                    &nbsp;
                </span>
                <span class="btn__label">
                    Use a <em>Display Ad</em> card.
                </span>
            </label>
        </div>
    </form>
</div>
