<div class="modal__content modal__editor-coverImg clearfix">
    <form class="imgSettings__group">
        <div class="imgSettings__imgHolder">
            <div class="imgSettings__imgBox imgSettings__imgBox--square" c6-bg-img="{{(EditorSplashCtrl.splash | image) || minireel.data.collateral.splash}}">
                &nbsp;
            </div>
        </div>
        <div class="imgSettings__copy">
            <div class="coverUploader__group">
                <label class="modal__label" for="img-upload">Upload Your Image</label>
                <input id="img-upload" class="coverUploader__filePath" ng-model="EditorSplashCtrl.splash" type="file">
                <div class="coverUploader__controls">
                    <div ng-show="!!EditorSplashCtrl.currentUpload" c6-alias="EditorSplashCtrl.currentUpload.progress as progress">
                        <div class="progressBar">
                            <div ng-style="{ width: (progress.complete | percent) }" class="progressBar__status">&nbsp;</div>
                        </div>
                        <p class="progressBar__statusText">
                            Loading {{(progress.uploaded / 1024) | number:0}} kb of {{(progress.total / 1024) | number:0}} kb
                        </p>
                    </div>
                    <p class="typo--attention" ng-show="EditorSplashCtrl.fileTooBig">The file you selected is too large. It must be under {{EditorSplashCtrl.maxFileSize / 1024}} kb.</p>
                    <button ng-click="EditorSplashCtrl.upload()" ng-show="!!EditorSplashCtrl.splash && !EditorSplashCtrl.fileTooBig" class="coverUploader__button toolbar__btn">Upload</button>
                </div>
                <ul class="coverUploader__helpTips">
                    <li>For best results, images should be at least 600 pixels wide.</li>
                    <li>Images should be less than {{EditorSplashCtrl.maxFileSize / 1024}} kb in filesize.</li>
                </ul>
            </div>

            <label class="modal__label" for="aspect-ratio">Desired Aspect Ratio</label>
            <select id="aspect-ratio" class="modal__selector">
                <option value="square">Square (1:1)</option>
                <option value="medRect">Medium Rectangle (6:5)</option>
                <option value="vidRect">Video Rectangle (3:2)</option>
                <option value="widescreen">Widescreen Rectangle (16:9)</option>
            </select>
        </div>
    </form>
</div>