<div class="pageHolder">

    <div class="pageHeader__group">
        <div class="mainHeader__group">
            <h1 class="mainHeader__breadcrumbs tk--hdr">
                <a c6-sref="Selfie:Campaigns">Back to Campaigns</a>
            </h1>
            <div class="pageHeader__actions">
                <div class="btnGroup">
                    <button ng-click="SelfieCampaignCtrl.copy()" class="btn btn--primary btn--small btn__nav hint--bottom" data-hint="Copy"><i class="fa fa-copy"></i></button>
                    <button ng-if="!SelfieCampaignCtrl.campaign.status || SelfieCampaignCtrl.campaign.status === 'draft'" ng-click="SelfieCampaignCtrl.delete()" class="btn btn--primary btn--small btn__nav btn__nav--danger hint--bottom" data-hint="Delete"><i class="fa fa-trash-o"></i></button>
                </div>
            </div>
        </div><!--.mainHeader__group-->
    </div><!--.pageHeader__group-->

    <nav class="tocNav__group">
        <ul class="tocNav__list">
            <li class="tocNav__item">
                <a c6-scroll-to href="#section_1" class="tocNav__link tocNav__link--inputFilled hint--right" data-hint="Create Your Campaign">1</a>
                <!--<div class="tocNav__label tk--hdr">Create Your Campaign</div>-->
            </li>
            <li class="tocNav__item">
                <a c6-scroll-to href="#section_2" class="tocNav__link hint--right" data-hint="Advertiser Details">2</a>
                <!--<div class="tocNav__label tk--hdr">Sponsor Details</div>-->
            </li>
            <li class="tocNav__item">
                <a c6-scroll-to href="#section_3" class="tocNav__link hint--right" data-hint="Add Your Video">3</a>
                <!--<div class="tocNav__label tk--hdr">Add Your Video</div>-->
            </li>
            <li class="tocNav__item">
                <a c6-scroll-to href="#section_4" class="tocNav__link tocNav__link--inputError hint--right" data-hint="Create Your Ad">4</a>
                <!--<div class="tocNav__label tk--hdr">Create Your Ad</div>-->
            </li>
            <li class="tocNav__item">
                <a c6-scroll-to href="#section_5" class="tocNav__link hint--right" data-hint="Target Your Audience">5</a>
                <!--<div class="tocNav__label tk--hdr">Target Your Ad</div>-->
            </li>
            <li class="tocNav__item">
                <a c6-scroll-to href="#section_6" class="tocNav__link tocNav__link--inputError hint--right" data-hint="Set Your Budget">6</a>
                <!--<div class="tocNav__label tk--hdr">Set Your Budget</div>-->
            </li>
            <li class="tocNav__item">
                <a c6-scroll-to href="#section_7" class="tocNav__link hint--right" data-hint="Payment Options">7</a>
                <!--<div class="tocNav__label tk--hdr">Payment Options</div>-->
            </li>
            <li class="tocNav__item">
                <a c6-scroll-to href="#section_8" class="tocNav__link hint--right" data-hint="Submit Your Ad">8</a>
                <!--<div class="tocNav__label tk--hdr">Submit Your Ad</div>-->
            </li>
        </ul>
    </nav>

    <div class="gridHolder">

        <div class="grid grid--center" c6-alias="SelfieCampaignCtrl.campaign as campaign">

            <!-- <div class="grid__item">
                <a c6-sref="Selfie:Campaigns">Back to Campaigns</a>
            </div> -->

            <div ng-include="'views/selfie/campaigns/edit/general.html'"></div>
            <div ng-include="'views/selfie/campaigns/edit/sponsor.html'"></div>
            <div ng-include="'views/selfie/campaigns/edit/video.html'"></div>
            <div ng-include="'views/selfie/campaigns/edit/text.html'"></div>
            <div ng-include="'views/selfie/campaigns/edit/targeting.html'"></div>
            <div ng-include="'views/selfie/campaigns/edit/payment.html'"></div>
            <div ng-include="'views/selfie/campaigns/edit/submit.html'"></div>

        </div><!-- .grid -->

    </div><!-- .gridHolder -->

    <div class="footer__group">
        &copy; Copyright 2015 Cinema6. All rights reserved.
    </div><!--.footer__group-->

</div><!-- .pageHolder -->

<c6-view></c6-view>
