<nav class="mainNav__group">

</nav>

<div class="pageHolder">

    <div class="pageHeader__group">
        <div class="mainHeader__group">
            <h1 class="mainHeader__breadcrumbs tk--hdr">
                <a c6-sref="Selfie:Campaigns">Back to Campaigns</a> &nbsp;/&nbsp;
                <span ng-click="SelfieCtrl.logout()">Logout</span>
            </h1>
        </div><!--.mainHeader__group-->
    </div><!--.pageHeader__group-->

    <nav class="tocNav__group">
        <ul class="tocNav__list">
            <li class="tocNav__item">
                <a c6-scroll-to href="#section_1" class="tocNav__link">1</a>
                <div class="tocNav__label tk--hdr">Create Your Campaign</div>
            </li>
            <li class="tocNav__item">
                <a c6-scroll-to href="#section_2" class="tocNav__link">2</a>
                <div class="tocNav__label tk--hdr">Sponsor Details</div>
            </li>
            <li class="tocNav__item">
                <a c6-scroll-to href="#section_3" class="tocNav__link">3</a>
                <div class="tocNav__label tk--hdr">Add Your Video</div>
            </li>
            <li class="tocNav__item">
                <a c6-scroll-to href="#section_4" class="tocNav__link">4</a>
                <div class="tocNav__label tk--hdr">Add Some Text</div>
            </li>
            <li class="tocNav__item">
                <a c6-scroll-to href="#section_5" class="tocNav__link">5</a>
                <div class="tocNav__label tk--hdr">Preview Your Ad</div>
            </li>
            <li class="tocNav__item">
                <a c6-scroll-to href="#section_6" class="tocNav__link">6</a>
                <div class="tocNav__label tk--hdr">Choose Your Audience</div>
            </li>
            <li class="tocNav__item">
                <a c6-scroll-to href="#section_7" class="tocNav__link">7</a>
                <div class="tocNav__label tk--hdr">Submit Your Ad</div>
            </li>
        </ul>
    </nav>

    <div class="gridHolder">

        <div class="grid grid--center" c6-alias="SelfieCampaignCtrl.campaign as campaign">

            <!-- <div class="grid__item">
                <a c6-sref="Selfie:Campaigns">Back to Campaigns</a>
            </div> -->

            <div ng-include="'views/selfie/campaigns/modules/general.html'"></div>
            <div ng-include="'views/selfie/campaigns/modules/sponsor.html'"></div>
            <div ng-include="'views/selfie/campaigns/modules/video.html'" class="clearfix"></div>
            <div ng-include="'views/selfie/campaigns/modules/text.html'"></div>
            <div ng-include="'views/selfie/campaigns/modules/preview.html'"></div>
            <div ng-include="'views/selfie/campaigns/modules/targeting.html'"></div>

            <div class="grid__item one-half">
                <section class="formSection__group" id="section_7">

                    <h1 class="formSection__title">
                        <span class="formSection__number">
                            <span class="formSection__numberText">7</span>
                        </span>
                        <span class="formSection__titleText tk--hdr">Submit Your Ad</span>
                    </h1>
                    <p class="formSection__introText">When you are finished building your ad, blah blah bloop. Your ad will go live once it is approved.</p>
                    <div class="ui__btnHolder">
                        <button class="action__btn action__btn--big" ng-disabled="!SelfieCampaignCtrl.canSubmit" ng-click="SelfieCampaignCtrl.submit()">Submit for Approval</button>
                    </div>
                </section>
            </div>

        </div><!-- .grid -->

    </div><!-- .gridHolder -->

    <div class="footer__group">
        &copy; Copyright 2015 Cinema6. All rights reserved.
    </div><!--.footer__group-->

</div><!-- .pageHolder -->
