<div class="pageHolder" c6-alias="SelfieManageCampaignCtrl.campaign as campaign">

    <div class="pageHeader__group">
        <div class="mainHeader__group">
            <h1 class="mainHeader__breadcrumbs tk--hdr">
                <a c6-sref="Selfie:Campaigns">Back to Campaigns</a> &nbsp;/&nbsp;
                {{campaign.name}}
            </h1>
            <div class="pageHeader__actions">
                <div class="btnGroup">
                    <button ng-click="SelfieManageCampaignCtrl.edit(campaign)" ng-class="{'btn--disabled' : !!campaign.updateRequest }" ng-disabled="!!campaign.updateRequest" class="btn btn--primary btn--small btn--nav hint--bottom" data-hint="Edit"><i class="fa fa-pencil-square-o"></i></button>
                    <button ng-click="SelfieManageCampaignCtrl.copy(campaign)" ng-class="{'btn--disabled' : !!campaign.updateRequest }" ng-disabled="!!campaign.updateRequest" class="btn btn--primary btn--small btn--nav hint--bottom" data-hint="Copy"><i class="fa fa-copy"></i></button>
                    <button ng-click="SelfieManageCampaignCtrl.cancel(campaign)" ng-class="{'btn--disabled' : !!campaign.updateRequest }" ng-disabled="!!campaign.updateRequest" class="btn btn--primary btn--small btn--nav hint--bottom" data-hint="Cancel"><i class="fa fa-times"></i></button>
                    <!-- <button class="btn btn--primary btn--small btn--nav hint--bottom" data-hint="Delete"><i class="fa fa-trash-o"></i></button> -->
                    <!--<button class="btn btn--primary btn--small btn--nav btn--disabled" title="Pause"><i class="fa fa-pause"></i><span class="hide--palm"> Pause</span></button>
                    <button class="btn btn--primary btn--small btn--nav btn--disabled" title="Resume"><i class="fa fa-play"></i><span class="hide--palm"> Resume</span></button>-->
                </div>
            </div>
        </div><!--.mainHeader__group-->
        <div class="tabBar__group">
            <ul class="tabBar__list clearfix">
                <li class="tabBar__item">
                    <a class="tabBar__btn" type="button" c6-sref="Selfie:Manage:Campaign:Manage">Manage Campaign</a>
                </li>
                <li class="tabBar__item">
                    <button class="tabBar__btn" type="button" ng-click="SelfieManageCampaignCtrl.tab = 'payment'">Payment Options</button>
                </li>
                <!-- <li class="tabBar__item" ng-class="{ 'tabBar__item--active': SelfieManageCampaignCtrl.tab === 'stats' }">
                    <button class="tabBar__btn" type="button" ng-click="SelfieManageCampaignCtrl.tab = 'stats'">Stats</button>
                </li> -->
                <!-- <li class="tabBar__item" ng-class="{ 'tabBar__item--active': SelfieManageCampaignCtrl.tab === 'targeting' }">
                    <button class="tabBar__btn" type="button" ng-click="SelfieManageCampaignCtrl.tab = 'targeting'">Targeting</button>
                </li> -->
                <!-- <li class="tabBar__item" ng-class="{ 'tabBar__item--active': SelfieManageCampaignCtrl.tab === 'budget' }">
                    <button class="tabBar__btn" type="button" ng-click="SelfieManageCampaignCtrl.tab = 'budget'">Budget</button>
                </li> -->
            </ul><!--.tabBar__list-->
        </div><!--.tabBar__group-->
    </div><!--.pageHeader__group-->

    <c6-view></c6-view>
    <!-- <div ng-if="SelfieManageCampaignCtrl.tab === 'manage'" ng-include="'views/selfie/campaigns/manage/manage.html'"></div> -->
    <!-- <div ng-if="SelfieManageCampaignCtrl.tab === 'payment'"ng-include="'views/selfie/campaigns/manage/payment.html'"></div> -->

    <!-- <div ng-if="SelfieManageCampaignCtrl.tab === 'stats'" ng-include="'views/selfie/campaigns/manage/stats.html'"></div> -->
    <!-- <div ng-if="SelfieManageCampaignCtrl.tab === 'targeting'" ng-include="'views/selfie/campaigns/manage/targeting.html'"></div> -->
    <!-- <div ng-if="SelfieManageCampaignCtrl.tab === 'budget'" ng-include="'views/selfie/campaigns/manage/budget.html'" c6-alias="SelfieManageCampaignCtrl.validation as validation"></div> -->

    <div class="footer__group">
        &copy; Copyright 2015 Cinema6. All rights reserved.
    </div><!--.footer__group-->

</div><!-- .pageHolder -->
