<div class="modalBody__group modalBody__group--sideTabs mrConfigure__general">
    <form>
        <label>
            <span class="forms__name--title">Please provide a title for your MiniReel <strong class="typo--danger">*</strong></span>
            <input type="text" class="forms__textField forms__textField--title" ng-model="minireel.data.title">
        </label>

        <label class="forms__pair forms__pair--spacer clearfix" c6-alias="CampaignNewMiniReelGeneralCtrl.model.categories as categories">
            <span class="forms__name forms__name--extended" > Categories:</span>
            <span class="forms__inputHolder--short">
                <select multiple ng-model="minireel.categories" ng-options="category.name as category.label for category in categories"></select>
            </span>
        </label>
    </form>
    <p class="modalBody__fineprint typo--danger"><strong>*</strong> Indicates required field.</p>
</div>
