<div class="ui__modal">
    <navigation class="tabNav__group clearfix">
        <h1 class="tabNav__title">MiniReel Settings</h1>
        <ul class="tabNav__list clearfix">
            <li ng-repeat="tab in NewCtrl.tabs" class="tabNav__item">
                <a c6-sref="{{tab.sref}}"
                    class="tabNav__link tabNav__link--skinny"
                    title="{{tab.title}}">
                    <span class="tabNav__icon">
                        <span ng-show="NewCtrl.tabIsValid(tab)" class="ui__checkSmall ui__checkSmall--white sprite--alpha">&nbsp;</span>
                        <span ng-show="tab.visits < tab.requiredVisits">!</span>
                    </span>
                    <span class="tabNav__tabName">{{tab.name}}
                        <strong ng-show="tab.required" class="typo--attention">*</strong>
                    </span>
                </a>
            </li>
        </ul>
        <button class="modal__closeBtn sprite--alpha" c6-sref="{{AdSettingsCtrl.returnState}}"><span class="ir">Close</span></button>
    </navigation>

    <div class="modal__viewHolder">
        {{AdSettingsCtrl.model}}
        <c6-view></c6-view>
    </div>

</div>
<div class="ui__overlay">&nbsp;</div>
