header area
    title
    filter list
    edit default settings button

bulk edit buttons
    - use default will have an ng-click that triggers a Ctrl.method()
    - remove ads will also have an ng-click
    - edit ad settings will pop up the settings.html dialog

paginator (not sure how this will work yet, josh is on it)

table
    ng-repeat on <tr>s
    each <td> will have bound data
    <td>input type=checkbox
    <td>splash image
    <td>title, created by, mode
    <td>status, published date, ad + slide count
    <td>view count, revenue
    <td>ad settings
    <td>preview button
    <td>embed script button
    <td>edit settings button

display count (bound to something)

paginator (not sure how this will work yet, josh is on it)
