
<input type="button" ng-click="AdManagerCtrl.editSettings('org', null)" value="Edit Defaults">
<div ng-show="AdManagerCtrl.isSelected">
    <input type="button" ng-click="AdManagerCtrl.useDefaultSettings()" value="Use Defaults">
    <input type="button" ng-click="AdManagerCtrl.removeAds()" value="Remove Ads">
    <input type="button" ng-click="AdManagerCtrl.editSettings('minireels', null)" value="Edit Ad Settings">
</div>
<div c6-alias="AdManagerCtrl.model as minireels">
    <table>
        <tbody>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Status</th>
                <th>User</th>
                <th>Ad Count</th>
                <th>Card Count</th>
                <th>Setting Type</th>
            </tr>
            <tr ng-repeat="this in minireels">
                <td><input type="checkbox" ng-change="AdManagerCtrl.selectChange()" ng-model="AdManagerCtrl.experienceMap[this.id].selected"></td>
                <td>{{this.data.title}}</td>
                <td>{{this.status}}</td>
                <td>{{this.user}}</td>
                <td>{{AdManagerCtrl.adCountOf(this)}}</td>
                <td>{{this.data.deck.length}}</td>
                <td>{{AdManagerCtrl.settingsTypeOf(this)}}</td>
                <td><a href="" ng-click="AdManagerCtrl.editSettings('minireel',this)">Edit</a></td>
            </tr>
        </tbody>
    </table>
</div>
<c6-view></c6-view>
