<div style="width: 500px; margin: 0 auto;">
header area<br>
    title<br>
    filter list<br>
    edit default settings button<br>
<br>
bulk edit buttons<br>
    - use default will have an ng-click that triggers a Ctrl.method()<br>
    - remove ads will also have an ng-click<br>
    - edit ad settings will pop up the settings.html dialog<br>
<br>
paginator (not sure how this will work yet, josh is on it)<br>
<br>
table<br>
    ng-repeat on trs<br>
    each td will have bound data<br>
    td: input type=checkbox<br>
    td: splash image<br>
    td: title, created by, mode<br>
    td: status, published date, ad + slide count<br>
    td: view count, revenue<br>
    td: ad settings<br>
    td: preview button<br>
    td: embed script button<br>
    td: edit settings button<br>
<br>
display count (bound to something)<br>
<br>
paginator (not sure how this will work yet, josh is on it)<br>
<br>
we need a c6-view at the bottom for modal sub views
<input type="button" ng-click="AdManagerCtrl.editSettings('orgDefaults', PortalCtrl.model.org.adConfig)" value="Click">
<div c6-alias="AdManagerCtrl.model as minireels">
    <ul>
        <li ng-repeat="this in minireels">
            {{this.data.title}}
            {{this.status}}
            {{this.user}}
            Ads: {{AdManagerCtrl.adCountOf(this)}}
            Slides: {{this.data.deck.length}}
        </li>
    </ul>
</div>
</div>
<c6-view></c6-view>
