<c6-alias model="EditorCtrl.model" as="minireel" >
    <div class="vidSearchTrigger__group" ng-show="!EditorCtrl.showSearch">
        <button class="btnAction btnAction--primary
            vidSearchTrigger__btn" ng-click="EditorCtrl.toggleSearch(); EditorCtrl.focusOn('video-search');">
            <span class="btn__label">
                <div class="vidSearch__icon">
                    <svg class="ui__iconHolder26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 26 26" enable-background="new 0 0 26 26" xml:space="preserve">
                        <path class="ui__icon" d="M22,11c0,6.1-4.9,11-11,11S0,17.1,0,11S4.9,0,11,0S22,4.9,22,11z M11,3c-4.4,0-8,3.6-8,8s3.6,8,8,8s8-3.6,8-8S15.4,3,11,3z"/>
                        <path class="ui__icon" d="M24.5,24.5L24.5,24.5c-0.6,0.6-1.5,0.6-2.1,0l-4.9-4.9c-0.6-0.6-0.6-1.5,0-2.1l0,0c0.6-0.6,1.5-0.6,2.1,0l4.9,4.9 C25.1,23,25.1,23.9,24.5,24.5z"/>
                        <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" d="M14.7,10.2l-5.5-4C9,6,8.7,6,8.4,6C8.2,6.1,8,6.5,8,6.7v8.5c0,0.2,0.2,0.6,0.4,0.7 c0.2,0.1,0.4,0.1,0.8-0.1l5.5-4c0.1-0.1,0.4-0.3,0.4-0.8C15.1,10.5,14.9,10.3,14.7,10.2z"/>
                    </svg>
                </div>
            </span>
        </button>
    </div>

    <ng-include src="'views/minireel/editor/video_search.html'"
    ng-show="EditorCtrl.showSearch"
    ng-controller="VideoSearchController as VideoSearchCtrl"></ng-include>

    <div ng-if="minireel.status === 'active'" ng-show="EditorCtrl.minireelState.dirty && !EditorCtrl.dismissDirtyWarning" class="pageAlert__group btn--warning">
        <span class="ui__iconHolder18 fab fa-bell"><span class="ir">Warning!</span></span>
        <p class="pageAlert__msg">
            <strong>Warning!</strong> You have unsaved changes. 
            Make sure you click <strong ng-if="!EditorCtrl.campaign">&ldquo;Publish Changes&rdquo;</strong><strong ng-if="!!EditorCtrl.campaign">&ldquo;Done&rdquo;</strong> to update your MiniReel.
        </p>
        <button ng-click="EditorCtrl.dismissDirtyWarning = true" class="pageAlert__closeBtn btnInvis" title="Dismiss">
            <span class="ui__iconHolder18 fab fa-close">&nbsp;</span>
            <span class="ir">Dismiss</span>
        </button>
    </div>
    <header class="pageHeader pageHeader--editor container">
        <div class="pageHeader__titleBar clearfix">
            <h1 class="pageTitle pageTitle--mrTitle" ng-show="!EditorCtrl.editTitle" ng-click="EditorCtrl.editTitle = true">
                {{minireel.data.title}}
                <span class="btnFill btnFill--primary btn__editTitle">
                    <span class="btn__label fab fa-pencil-square-o"> Edit</span>
                </span>
            </h1>
            <form ng-if="EditorCtrl.editTitle">
                <input c6-click-outside="EditorCtrl.editTitle = false" type="text" autofocus ng-model="minireel.data.title" class="forms__textField mrTitle__textBox">
                <button type="submit" class="mrTitle__submit" ng-click="EditorCtrl.editTitle = false">Done</button>
            </form>
        </div>
        <div class="metaData__group">
            <span ng-if="EditorCtrl.campaign">
                <span>Campaign: <a c6-sref="MR:Campaign.MiniReels" c6-models="[EditorCtrl.campaign, null]" c6-params="{}"><strong>{{EditorCtrl.campaign.name}}</strong></a></span>
                <span class="typo--faded">&nbsp;|&nbsp;</span>
            </span>
            <span ng-if="PortalCtrl.model.type !== 'ContentProvider'">
                Type: <a c6-sref="MR:Settings.Mode" class="miniReel__type" title="AutoPlay MiniReel"><strong>{{EditorCtrl.prettyMode}}</strong></a> 
                <span class="typo--faded">&nbsp;|&nbsp;</span>
            </span>
            <span ng-if="PortalCtrl.model.type === 'ContentProvider'">
                <a c6-sref="MR:Settings.Category" class="miniReel__type" title="AutoPlay MiniReel"><strong>Edit Categories</strong></a> 
                <span class="typo--faded">&nbsp;|&nbsp;</span>
            </span>
            <span ng-show="minireel.status === 'pending'">
                <strong>Private</strong>, Created {{minireel.created | date:'M/d/yyyy' }}
            </span>
            <span ng-show="minireel.status === 'active'">
                <strong class="typo--success">Published</strong> {{minireel.lastStatusChange | date:'M/d/yyyy' }}
            </span>
            <span class="typo--faded">&nbsp;|&nbsp;</span>
            {{minireel.data.deck.length}} Slides
        </div>
        <div class="pageHeader__actionBar clearfix">
            <div class="btnGroup pageHeader__btnGroup">
                <span ng-if="!EditorCtrl.campaign">
                    <button ng-click="EditorCtrl.deleteMinireel()" class="btn btn--primary" type="button" title="Delete">
                        <span class="btn__label fab fa-trash">&nbsp; Delete</span>
                    </button>
                    <button ng-click="EditorCtrl.makePrivate()" ng-show="minireel.status === 'active'" class="btn btn--primary" type="button" title="Make Private">
                        <span class="btn__label fab fa-lock">&nbsp; Make Private</span>
                    </button>
                </span>
                <a class="btn btn--primary" type="button" title="Preview Link" ng-href="{{EditorCtrl.previewUrl}}" ng-show="EditorCtrl.previewUrl" target="_blank">
                    <svg class="ui__iconHolder16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                        <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" d="M13.4,7.9L5.7,2.2C5.5,2,5,1.9,4.6,2.1C4.3,2.2,4,2.7,4,3v11.9
                            c0,0.3,0.3,0.8,0.6,1c0.2,0.1,0.6,0.2,1.1-0.2l7.7-5.7C13.6,9.9,14,9.6,14,9C14,8.3,13.6,8,13.4,7.9z"/>
                    </svg>
                    <span class="btn__label">Preview Link</span>
                </a>
            </div>
            <span ng-if="!EditorCtrl.campaign">
                <button ng-click="EditorCtrl.publish()" ng-show="minireel.status === 'pending'" class="btnAction btnAction--success btnAction--hasFaIcon" type="button" title="Publish">
                    <span class="btn__label fab fa-cloud-upload">&nbsp; Publish MiniReel</span>
                </button>
                <button ng-click="EditorCtrl.confirmSave()" ng-show="EditorCtrl.model.status === 'active'"
                    ng-class="{
                        'btn__publishChanges--alert': EditorCtrl.minireelState.dirty,
                        'btn__publishChanges--waiting': EditorCtrl.minireelState.inFlight,
                        'btn__publishChanges--disabled': !EditorCtrl.minireelState.dirty
                    }"
                    ng-disabled="!EditorCtrl.minireelState.dirty" title="Publish Changes" 
                    class="btnAction btnAction--success btn__publishChanges" type="button">
                    <span class="pubState c6studioSprite--alpha">&nbsp;</span>
                    <span class="btn__label">Publish Changes</span>
                </button>
            </span>
            <span ng-if="!!EditorCtrl.campaign">
                <button ng-click="EditorCtrl.returnToCampaign()" class="btnAction btnAction--success" type="button" title="Done">
                    <span class="btn__label">Done</span>
                </button>
            </span>
            <button ng-click="EditorCtrl.previewMode()" title="Preview" 
            class="btnAction btnAction--primary btnAction--hasFaIcon" type="button">
                
                <span class="btn__label fab fa-bolt">&nbsp; Preview Mode</span>
            </button>
        </div>
    </header>

    <card-table></card-table>

    <div ng-show="EditorCtrl.preview" ng-controller="PreviewController as PreviewCtrl" class="preview__group">
        <div ng-class="{ 'preview__container--desktop' : (PreviewCtrl.device === 'desktop'), 'preview__container--mobile' : (PreviewCtrl.device === 'phone') }"
            class="preview__container c6__cant-touch-this">
            <header class="modalHeader__group preview__header">
                <h1 class="modal__title">Preview Mode</h1>
                <button class="modal__closeBtn btnInvis" ng-click="EditorCtrl.closePreview()"><span class="ir">Close</span>
                    <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                        <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" d="M16.5,0L9,7.5L1.5,0L0,1.5L7.5,9L0,16.5L1.5,18L9,10.5l7.5,7.5l1.5-1.5L10.5,9
                        L18,1.5L16.5,0z"/>
                    </svg>
                </button>
            </header>
            <form class="preview__form">
                <input id="previewMode_desktop" type="radio" ng-model="PreviewCtrl.device" value="desktop"
                class="modal__radioBtn" />
                <label for="previewMode_desktop">Desktop</label>

                <input id="previewMode_mobile" type="radio" ng-model="PreviewCtrl.device" value="phone"
                class="modal__radioBtn" />
                <label for="previewMode_mobile">Mobile</label>
            </form>
            <div class="preview__iframeHolder">
                <div ng-class="{
                        'preview__splashHolder--inactive': PreviewCtrl.active
                    }"
                    class="preview__splashHolder" splash-page="EditorCtrl.model" splash-src="{{EditorCtrl.splashSrc}}"></div>
                <c6-embed class="preview__embedHolder"
                    experience="PreviewCtrl.experience"
                    profile="PreviewCtrl.profile"
                    card="PreviewCtrl.card"
                    active="PreviewCtrl.active">
                </c6-embed>
            </div>
        </div>
        <div class="modal__overlay">&nbsp;</div>
    </div>
</c6-alias>
<c6-view></c6-view>

<embed-code ng-if="EditorCtrl.model.status === 'active' && PortalCtrl.model.type !== 'ContentProvider'" minireel="EditorCtrl.model" splash-src="{{EditorCtrl.splashSrc}}" campaign="EditorCtrl.campaign" class="embed__group container clearifx"></embed-code>
