<main c6-alias="ManagerCtrl.model.value as minireels">
<header class="pageHeader container">
    <div class="pageHeader__titleBar clearfix">
        <h1 class="pageTitle">Studio</h1>
        <a c6-sref="MR:New.General" title="New MiniReel" class="btnAction btnAction--primary btnAction--hasIcon" >
            <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" d="M9,0C4,0,0,4,0,9c0,5,4,9,9,9s9-4,9-9C18,4,14,0,9,0z M9,16c-3.9,0-7-3.1-7-7
                    c0-3.9,3.1-7,7-7s7,3.1,7,7C16,12.9,12.9,16,9,16z M10,5H8v3H5v2h3v3h2v-3h3V8h-3V5z"/>
            </svg>
            <span class="btn__label">New MiniReel</span>
        </a>
    </div>
    <ul class="tabFilters clearfix">
        <li class="tabFilters__item">
            <button ng-click="ManagerCtrl.filter = 'all'" ng-class="{'filters__btn--active': ManagerCtrl.filter === 'all'}" class="filters__btn" type="button" title="Show All">
                <span class="btn__label">All MiniReels</span>
                <!--<span class="filters__counter">100</span>-->
            </button>
        </li>
        <li class="tabFilters__item">
            <button ng-click="ManagerCtrl.filter = 'active'" ng-class="{'filters__btn--active': ManagerCtrl.filter === 'active'}" class="filters__btn" type="button" title="Published">
                <span class="btn__label">Published MiniReels</span>
                <!--<span class="filters__counter">100</span>-->
            </button>
        </li>
        <li class="tabFilters__item">
            <button ng-click="ManagerCtrl.filter = 'pending'" ng-class="{'filters__btn--active': ManagerCtrl.filter === 'pending'}" class="filters__btn" type="button" title="Private">
                <span class="btn__label">Private MiniReels</span>
                <!--<span class="filters__counter">100</span>-->
            </button>
        </li>
    </ul>
</header>

<section class="container miniReels__group">
    <header class="tableHeader__group clearfix">
        <paginator-controls page="ManagerCtrl.page" limit="ManagerCtrl.limit" limits="ManagerCtrl.limits" total="ManagerCtrl.model.page.total"></paginator-controls>
        <nav class="selectorActions__group">
            <div class="selectorActions__selector">
                <label class="checkbox--inline selectorActions__selectorCheckBox">
                    <input type="checkbox" ng-model="ManagerCtrl.allAreSelected" class="checkbox__input">
                    <span class="btn__label faa">&nbsp;</span>
                </label>
                <button ng-click="ManagerCtrl.dropDowns.select.toggle()" c6-click-outside="ManagerCtrl.dropDowns.select.hide()" class="btn faa fa-caret-down ui__clickDrop">&nbsp;</button>
                <div ng-show="ManagerCtrl.dropDowns.select.shown" class="pager__itemsPerPage ui__clickDropMenu">
                    <button class="ui__clickDropBtn" type="button" title="Select All" ng-show="!ManagerCtrl.allAreSelected" ng-click="ManagerCtrl.selectAll()">Select All</button>
                    <button class="ui__clickDropBtn" type="button" title="Select Public" ng-click="ManagerCtrl.selectAllWithStatus('active')">Select Public</button>
                    <button class="ui__clickDropBtn" type="button" title="Select Private" ng-click="ManagerCtrl.selectAllWithStatus('pending')">Select Private</button>
                    <button class="ui__clickDropBtn" type="button" title="Select None" ng-show="ManagerCtrl.model.selected.indexOf(true) > -1" ng-click="ManagerCtrl.selectNone()">Select None</button>
                </div>
            </div>
            <div class="btnGroup__animator">
                <div class="btnGroup clearfix" 
                ng-show="ManagerCtrl.getSelected().length > 0">
                    <button class="btn btn--primary" type="button" title="Publish" ng-show="ManagerCtrl.getSelected('pending').length > 0" ng-click="ManagerCtrl.makePublic(ManagerCtrl.getSelected())">
                        <span class="btn__label">Publish</span>
                    </button>
                    <button class="btn btn--primary" type="button" title="Make Private" ng-show="ManagerCtrl.getSelected('active').length > 0" ng-click="ManagerCtrl.makePrivate(ManagerCtrl.getSelected())">
                        <span class="btn__label">Make Private</span>
                    </button>
                    <button class="btn btn--primary" type="button" title="Copy" ng-show="ManagerCtrl.getSelected().length > 0" ng-click="ManagerCtrl.copy(ManagerCtrl.getSelected())">
                        <span class="btn__label">Copy</span>
                    </button>
                    <button class="btn btn--primary" type="button" title="Delete" ng-show="ManagerCtrl.getSelected().length > 0" ng-click="ManagerCtrl.remove(ManagerCtrl.getSelected())">
                        <span class="btn__label">Delete</span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <div class="tableBody__group">
        <ul class="miniReels__list grid">
            <li class="miniReels__item grid__item" ng-show="!minireels.length">
                <article class="miniReels__welcomeMsg">
                    <p>You have no Mini Reels. Would you like to <a c6-sref="MR:New.General" title="Create A MiniReel">create one?</a></p>
                    <p> <a c6-sref="MR:New.General" class="btnAction btnAction--primary">Create a MiniReel</a></p>
                </article>
            </li>

            <li class="miniReels__item grid__item" ng-repeat="$this in minireels track by $this.id">
                <article class="miniReel__group clearfix">
                    <div class="miniReel__selector">
                        <label class="checkbox--inline">
                            <input type="checkbox" ng-model="ManagerCtrl.model.selected[$index]" class="checkbox__input">
                            <span class="btn__label faa">&nbsp;</span>
                        </label>
                    </div>
                    <div class="miniReel__imgBox">
                        <a c6-sref="MR:Editor" c6-models="[$this]" c6-params="{}">
                            <div class="miniReel__img" c6-bg-img="{{$this.data.collateral.splash}}">&nbsp;</div>
                        </a>
                    </div>
                    <div class="miniReel__titleBox">
                        <h1 class="miniReel__title">
                            <a class="miniReel__titleLink" c6-sref="MR:Editor" c6-models="[$this]" c6-params="{}">{{$this.data.title}}</a>
                        </h1>
                        <p class="miniReel__metaData">
                            by <span class="miniReel__author" c6-alias="$this.user as author">{{author.firstName}} {{author.lastName}}</span> | 
                            <span class="miniReel__type">{{ManagerCtrl.modeNameFor($this)}}</span>
                        </p>
                    </div>
                    <div class="miniReel__status">
                        <strong ng-show="$this.status === 'active'" class="miniReel__statusText--{{$this.status}}">
                            Published
                        </strong>
                        <strong ng-show="$this.status === 'pending'" class="miniReel__statusText--{{$this.status}}">
                            Private
                        </strong> 
                        - <span class="miniReel__date">{{$this.lastUpdated | date:'M/d/yyyy'}}</span>
                        <p class="miniReel__count">{{$this.data.deck.length}} slides</p>
                    </div>
                    <!--<div class="miniReel__stats">
                        <p class="miniReel__views">12123123 views</p>
                    </div>-->

                    <form class="miniReel__quickActions">
                        <div class="quickActions__holder">
                            <a class="quickActions__btn quickActions__btn--play" ng-href="{{ManagerCtrl.previewUrlOf($this)}}" ng-show="ManagerCtrl.previewUrlOf($this)" target="_blank">
                                <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                                    <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" d="M13.4,7.9L5.7,2.2C5.5,2,5,1.9,4.6,2.1C4.3,2.2,4,2.7,4,3v11.9
                                        c0,0.3,0.3,0.8,0.6,1c0.2,0.1,0.6,0.2,1.1-0.2l7.7-5.7C13.6,9.9,14,9.6,14,9C14,8.3,13.6,8,13.4,7.9z"/>
                                </svg>
                                <span class="ir">Preview</span>
                            </a>
                        </div>
                        <div class="quickActions__holder">
                            <button ng-show="$this.status === 'active' && PortalCtrl.model.type !== 'ContentProvider'" c6-sref="MR:Manager.Embed" c6-models="[$this]" class="quickActions__btn" type="button">
                                <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                                    <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" d="M0,9.6l6,3.9v-2L2,9v0l4-2.5V4.5L0,8.4V9.6z M6.8,15.5h1.6l2.8-13H9.7L6.8,15.5z M12,4.5v1.9L16,9v0l-4,2.5v2l6-3.9V8.4
                                    L12,4.5z"/>
                                </svg>
                                <span class="ir">Get Embed Code</span>
                            </button>
                        </div>
                    </form>
                </article>
            </li>
        </ul>
    </div>
    <footer class="tableFooter__group">
        <paginator-controls page="ManagerCtrl.page" limit="ManagerCtrl.limit" limits="ManagerCtrl.limits" total="ManagerCtrl.model.page.total"></paginator-controls>
        <p class="tableFooter__displayText" c6-alias="ManagerCtrl.model.value.meta.items as items">
            <span ng-show="minireels.length">Displaying <strong>{{items.start}}-{{items.end}}</strong> of {{items.total}} MiniReels</span>
            <span ng-show="!minireels.length">0 MiniReels</span>
        </p>
    </footer>
</section>
</main>
<c6-view></c6-view>
