<div class="preloader__group" ng-class="{'preloader__group--disabled':AppCtrl.ready}" 
    id="c6preloader">
    <div class="preloader">
        <div class="preloader__ring">
            <div class="preloader__orbit">
                <div class="preloader__ball">&nbsp;
                </div>
            </div>
        </div>
    </div>
    Loading&hellip; Please wait.
</div>
<div class="mast__group" ng-class="{'chrome' : user}">
    <header class="mast container clearfix">
        <nav class="mainNav">
            <ul class="mainNav__list clearfix">
                <li class="mainNav__item mainNav__c6BrandItem">
                    <div class="c6__brand sprite--alpha">
                        <span class="ir">Cinema6</span>
                    </div>
                </li>
            </ul>
        </nav>
        <div ng-class="{'userPane__group--show':user}" 
            class="userPane__group clearfix" ng-show="user" >
            <div class="userPane__display">
                <a href="#/account" class="userPane__userName" title="{{user.email}}" ng-bind="user.email | limitTo : 28"></a>
            </div>
            <nav class="userNav__group" >
                <button  type="button" 
                    class="userPane__settings ui__gear sprite--alpha">
                    <span class="ir">Settings</span>
                </button>
                
                <ul class="userNav__child">
                    <li class="userNav__item">
                    <!--                                <button title="Account Settings" class="userNav__btn">Account Settings</button> -->
                        <a href="#/account" class="userNav__btn" title="Account Settings">Account Settings</a>
                    </li>
                    <li class="userNav__item">
                        <button ng-click="AppCtrl.logout()" title="Log Out" class="userNav__btn">Log Out</button>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="mast__titleBox">
            <h1 class="mast__title">Welcome to the Cinema6 Dashboard</h1>
        </div>
    </header>
</div>
<div class="viewLoader__group" >&nbsp;</div>
<div class="viewLoader__msg">Loading&hellip; Please wait.</div>

<div class="ui__viewHolder clearfix" ng-class="{'ui__viewHolder--extend' : user}">
    <c6-view class="view-animate"></c6-view>
</div>

<div class="footer__group" ng-class="{'chrome' : user}">
    <footer class="footer__main container">
        &copy; Copyright 2014 Cinema6. All Rights Reserved.
    </footer>
</div>
