<div class="mast__group">
    <header class="mast container clearfix">
        <nav class="mainNav">
            <ul class="mainNav__list clearfix">
                <li class="mainNav__item mainNav__c6BrandItem">
                    <div class="c6__brand sprite--alpha">
                        <span class="ir">Cinema6</span>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="userPane__group clearfix">
            <div class="userPane__display">
                <a c6-sref="Account:Password" c6-params="{}" class="userPane__userName" title="{{PortalCtrl.model.email}}" ng-bind="PortalCtrl.model.email | limitTo : 28"></a>
            </div>
            <nav class="userNav__group" >
                <button  type="button" 
                    class="userPane__settings ui__gear sprite--alpha">
                    <span class="ir">Settings</span>
                </button>

                <ul class="userNav__child">
                    <li class="userNav__item">
                    <!--                                <button title="Account Settings" class="userNav__btn">Account Settings</button> -->
                        <a c6-sref="Account:Password" c6-params="{}" class="userNav__btn" title="Account Settings">Account Settings</a>
                    </li>
                    <li class="userNav__item">
                        <button ng-click="PortalCtrl.logout()" title="Log Out" class="userNav__btn">Log Out</button>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="mast__titleBox">
            <h1 class="mast__title">Welcome to the Cinema6 Dashboard</h1>
        </div>
    </header>
</div>

<div class="container page__group--padded">
    <div class="breadcrumbNav">&lsaquo; <a c6-sref="Apps" title="Dashboard">Back to the Dashboard</a></div>
    <div class="error__group clearfix">
        <div class="error__copy pageTitle">
            <h1 class="error__title">Oops!</h1>
            <p>{{ErrorCtrl.model}}</p>
        </div>
        <div class="error__videoBox">
            <div class="error__player">&nbsp;</div>
            <p>Our technical support staff is working hard to address this issue.</p>
        </div>
    </div>
</div>

<div class="footer__group">
    <footer class="footer__main container">
        &copy; Copyright 2014 Cinema6. All Rights Reserved.
    </footer>
</div>
