<div class="mast__group">
    &nbsp;
</div>

<div class="container page__group--padded">
    <div class="breadcrumbNav">&lsaquo; <a c6-sref="Apps" title="Dashboard">Back to the Dashboard</a></div>
    <div class="error__group clearfix">
        <div class="error__copy pageTitle">
            <h1 class="error__title">Oops!</h1>
            <p>{{ErrorCtrl.model}}</p>
        </div>
        <div class="error__videoBox">
            <div class="error__player">&nbsp;</div>
            <p>Our technical support staff is working hard to address this issue.</p>
        </div>
    </div>
</div>

<div class="footer__group">
    <footer class="footer__main container">
        &copy; Copyright {{AppCtrl.year}} Reelcontent. All Rights Reserved.
    </footer>
</div>
