<style type="text/css">
    body {
        background:#333;
    }
</style>
<div class="login__group" ng-hide="user">
    <h2 class="login__title">Reset Your Password</h2>
    <form class="login__form" ng-submit="ForgotPasswordCtrl.submit()">
        <div class="c6__brand c6__brand--dark c6Sprite--alpha">
            <span class="ir">Cinema6</span>
        </div>

        <div class="login__instructions">
            <h1 class="login__h1">Find Your Cinema6 Account</h1>
            <p>Enter your email address to reset your password.</p>
        </div>
        
        <div class="login__nvPair">
            <label class="login__label" for="forgot-password__Email" > Email </label>
            <input id="forgot-password__Email" class="login__input forms__textField forms__textField--padded" type="email" name="email" ng-model="ForgotPasswordCtrl.model.email" autofocus autocomplete="off">
        </div>

        <div class="login__error" ng-show="ForgotPasswordCtrl.wasSuccessful === true">
            <p>Please check your email for further instructions on how to reset your password.</p>
        </div>

        <div class="login__error" ng-show="ForgotPasswordCtrl.wasSuccessful === false">
            <p>{{ForgotPasswordCtrl.errorMessage}}</p>
        </div>
        <input class="btnAction btnAction--primary login__submitBtn" type="submit" value="Submit">
    </form>
    <p class="login__footerLinks"><a c6-sref="Login" title="Return to Log In Screen">Return to Log In Screen</a></p>
</div>