<h3>Forgot Password</h3>
<form ng-submit="ForgotPasswordCtrl.submit()">
    <label for="forgot-password__Email" > Email </label>
    <input id="forgot-password__Email" type="email" name="email" ng-model="ForgotPasswordCtrl.model.email" autofocus autocomplete="off">

    <button type="submit">Submit</button>
</form>

<div ng-show="ForgotPasswordCtrl.wasSuccessful === true">
    <p>Please check your email for further instructions on how to reset your password.</p>
</div>

<div ng-show="ForgotPasswordCtrl.wasSuccessful === false">
    <p>{{ForgotPasswordCtrl.errorMessage}}</p>
</div>
