<div class="mast__group">
    <header class="mast clearfix">
        <nav class="mainNav">
            <ul class="mainNav__list clearfix" c6-alias="PortalCtrl.model as user">
                <li class="mainNav__item mainNav__item--dropDown css-collapsed">
                    <button type="button" title="Nav" class="btnInvis mainNav__link mainNav__barsBtn fab fa-bars"></button>
                    <ul class="dropNav__group">
                        <li class="dropNav__item">
                            <a c6-sref="MR:Studio" title="Studio" class="dropNav__link">
                                <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                                    <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" fill="#020202" d="M18,1v17H0V1H18z M11.7,8.5L7.8,6.1C7.7,6,7.5,6,7.3,6
                                        C7.1,6.1,7,6.3,7,6.4v5.1C7,11.7,7.1,12,7.3,12c0,0,0.3,0.1,0.5-0.1l3.9-2.5C11.8,9.4,12,9.3,12,9S11.8,8.6,11.7,8.5z M2,3h1v1H2V3z
                                         M2,5h1v1H2V5z M2,7h1v1H2V7z M2,9h1v1H2V9z M2,11h1v1H2V11z M2,13h1v1H2V13z M2,15h1v1H2V15z M15,3h1v1h-1V3z M15,5h1v1h-1V5z
                                         M15,7h1v1h-1V7z M15,9h1v1h-1V9z M15,11h1v1h-1V11z M15,13h1v1h-1V13z M15,15h1v1h-1V15z"/>
                                </svg>
                                <span class="mainNav__label">Studio</span>
                            </a>
                        </li>
                        <li class="dropNav__item" ng-if="PortalCtrl.enableAdManager">
                            <a c6-sref="MR:AdManager" title="Ad Manager" class="dropNav__link">
                                <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                                    <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" fill="#020202" d="M9,8c0.6,0,1,0.4,1,1c0,0.6-0.4,1-1,1c-0.6,0-1-0.4-1-1C8,8.4,8.4,8,9,8z M9,4
                                        c2.8,0,5,2.2,5,5c0,2.8-2.2,5-5,5c-2.8,0-5-2.2-5-5C4,6.2,6.2,4,9,4z M9,6c1.7,0,3,1.3,3,3c0,1.7-1.3,3-3,3c-1.7,0-3-1.3-3-3
                                        C6,7.3,7.3,6,9,6z M9,0c5,0,9,4,9,9c0,5-4,9-9,9s-9-4-9-9C0,4,4,0,9,0z M9,2c3.9,0,7,3.1,7,7c0,3.9-3.1,7-7,7s-7-3.1-7-7
                                        C2,5.1,5.1,2,9,2z"/>
                                </svg>
                                <span class="mainNav__label">Ad Manager</span>
                            </a>
                        </li>
                        <li class="dropNav__item" ng-if="!!user.permissions.experiences.editSponsorships">
                            <a c6-sref="MR:Sponsor.Manager" title="Sponsorship Manager" class="dropNav__link">
                                <span class="mainNav__label">Sponsorship Manager</span>
                            </a>
                        </li>
                        <li class="dropNav__item" ng-if="user.permissions.campaigns.edit === 'all'">
                            <a c6-sref="MR:Campaigns" title="Campaign Manager" class="dropNav__link">
                                <span class="mainNav__label">Campaign Manager</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="mainNav__item">
                    <a c6-sref="Application" title="Cinema6" 
                        class="c6Brand c6Brand--dark c6Sprite--alpha">
                        <span class="ir">Cinema6</span>
                    </a>
                </li>
                <li class="mainNav__item css-expanded">
                    <a c6-sref="MR:Studio" title="Studio" class="mainNav__link">
                        <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                            <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" fill="#020202" d="M18,1v17H0V1H18z M11.7,8.5L7.8,6.1C7.7,6,7.5,6,7.3,6
                                C7.1,6.1,7,6.3,7,6.4v5.1C7,11.7,7.1,12,7.3,12c0,0,0.3,0.1,0.5-0.1l3.9-2.5C11.8,9.4,12,9.3,12,9S11.8,8.6,11.7,8.5z M2,3h1v1H2V3z
                                 M2,5h1v1H2V5z M2,7h1v1H2V7z M2,9h1v1H2V9z M2,11h1v1H2V11z M2,13h1v1H2V13z M2,15h1v1H2V15z M15,3h1v1h-1V3z M15,5h1v1h-1V5z
                                 M15,7h1v1h-1V7z M15,9h1v1h-1V9z M15,11h1v1h-1V11z M15,13h1v1h-1V13z M15,15h1v1h-1V15z"/>
                        </svg>
                        <span class="mainNav__label">Studio</span>
                    </a>
                </li>
                <li class="mainNav__item css-expanded" ng-if="PortalCtrl.enableAdManager">
                    <a c6-sref="MR:AdManager" title="Ad Manager" class="mainNav__link">
                        <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                            <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" fill="#020202" d="M9,8c0.6,0,1,0.4,1,1c0,0.6-0.4,1-1,1c-0.6,0-1-0.4-1-1C8,8.4,8.4,8,9,8z M9,4
                                c2.8,0,5,2.2,5,5c0,2.8-2.2,5-5,5c-2.8,0-5-2.2-5-5C4,6.2,6.2,4,9,4z M9,6c1.7,0,3,1.3,3,3c0,1.7-1.3,3-3,3c-1.7,0-3-1.3-3-3
                                C6,7.3,7.3,6,9,6z M9,0c5,0,9,4,9,9c0,5-4,9-9,9s-9-4-9-9C0,4,4,0,9,0z M9,2c3.9,0,7,3.1,7,7c0,3.9-3.1,7-7,7s-7-3.1-7-7
                                C2,5.1,5.1,2,9,2z"/>
                        </svg>
                        <span class="mainNav__label">Ad Manager</span>
                    </a>
                </li>
                <li class="mainNav__item css-expanded" ng-if="!!user.permissions.experiences.editSponsorships">
                    <a c6-sref="MR:Sponsor.Manager" title="Sponsorship Manager" class="mainNav__link">
                        <span class="mainNav__label">Sponsorship Manager</span>
                    </a>
                </li>
                <li class="mainNav__item css-expanded" ng-if="user.permissions.campaigns.edit === 'all'">
                    <a c6-sref="MR:Campaigns" title="Campaign Manager" class="mainNav__link">
                        <span class="mainNav__label">Campaign Manager</span>
                    </a>
                </li>

                <li class="mainNav__item mainNav__item--user mainNav__item--userSettings">
                    <div title="Settings" class="mainNav__link mainNav__link--userSettings" >
                        <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                            <path class="ui__icon" d="M11.1,0.6c-0.4,0.5-0.8,1-1,1.2C10,1.9,9.8,1.8,9.5,1.8c0,0,0,0,0,0c-0.3,0-0.7,0-1,0c0,0,0,0,0,0c-0.3,0-0.5,0-0.6-0.1
                            c-0.2-0.2-0.5-0.6-0.9-1C6.7,0.3,6.3,0.2,6,0.3C5,0.9,4,1.5,3,2.1C2.7,2.2,2.7,2.6,2.8,2.9C3,3.5,3.2,4.1,3.3,4.4
                            c0.1,0.2-0.1,0.4-0.3,0.6C2.9,5.2,2.7,5.5,2.5,5.9C2.4,6.1,2.3,6.3,2.1,6.4c-0.3,0-0.8,0.1-1.3,0.2C0.3,6.7,0,6.9,0,7.3l0,3.4
                            c0,0.3,0.3,0.6,0.6,0.6c0.7,0.1,1.2,0.2,1.5,0.3c0.2,0,0.3,0.3,0.4,0.5c0.2,0.3,0.3,0.6,0.5,0.9c0.1,0.2,0.3,0.4,0.2,0.6
                            c-0.1,0.3-0.3,0.7-0.5,1.3c-0.1,0.4-0.1,0.8,0.2,1c1,0.6,2,1.2,3,1.7c0.3,0.2,0.6,0,0.9-0.2c0.4-0.5,0.8-1,1-1.2
                            c0.1-0.1,0.4-0.1,0.6-0.1c0,0,0,0,0,0c0.3,0,0.7,0,1,0c0,0,0,0,0,0c0.3,0,0.5,0,0.7,0.1c0.2,0.2,0.5,0.6,0.9,1
                            c0.3,0.3,0.7,0.5,0.9,0.3c1-0.6,2-1.1,3-1.7c0.3-0.2,0.4-0.5,0.2-0.9c-0.2-0.6-0.4-1.2-0.5-1.4c-0.1-0.2,0.1-0.4,0.3-0.6
                            c0.2-0.3,0.4-0.6,0.5-0.9c0.1-0.2,0.2-0.5,0.4-0.5c0.3,0,0.8-0.1,1.3-0.2c0.4-0.1,0.8-0.3,0.8-0.6l0-3.4c0-0.3-0.3-0.6-0.6-0.6
                            c-0.7-0.1-1.2-0.2-1.5-0.3c-0.2,0-0.3-0.3-0.4-0.5C15.3,5.6,15.2,5.2,15,5c-0.1-0.2-0.3-0.4-0.2-0.6c0.1-0.3,0.3-0.7,0.5-1.3
                            c0.1-0.4,0.1-0.8-0.2-1c-1-0.6-2-1.2-3-1.7C11.7,0.2,11.4,0.3,11.1,0.6z M11.9,9.8c-0.4,1.6-2.1,2.6-3.7,2.2
                            c-1.6-0.4-2.6-2.1-2.2-3.7c0.4-1.6,2.1-2.6,3.7-2.2C11.4,6.5,12.4,8.2,11.9,9.8z"/>
                        </svg>
                    </div>
                    <ul class="userNav__child">
                        <li class="userNav__item">
                            <a c6-sref="Account:Password" c6-params="{}" class="userNav__link" title="Account Settings">Account Settings</a>
                        </li>
                        <li class="userNav__item">
                            <a href="" ng-click="PortalCtrl.logout()" title="Log Out" class="userNav__link">Log Out</a>
                        </li>
                    </ul>
                </li>
                <li class="mainNav__item mainNav__item--user">
                    <a c6-sref="Account" c6-params="{}" title="Welcome {{user.firstName}} {{user.lastName}}" class="mainNav__link mainNav__link--userInfo">
                        <span class="mainNav__label">{{user.firstName}} {{user.lastName}}</span>
                        <span class="mainNav__profileHolder">
                            <img class="mainNav__profileImg" width="36" ng-src="{{user.email || '' | gravatar}}" alt="{{user.firstName}} {{user.lastName}}">
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</div>

<div class="ui__viewHolder clearfix">
    <c6-view class="view-animate"></c6-view>
</div>

<div class="footer__group">
    <footer class="footer__main container">
        &copy; Copyright 2014 Cinema6. All Rights Reserved. Build: {{AppCtrl.version}}.
    </footer>
</div>
