<div class="mast__group">
    <header class="mast clearfix">
        <nav class="mainNav">
            <ul class="mainNav__list clearfix">
                <li class="mainNav__item">
                    <a href="#" title="Cinema6" 
                        class="c6Brand c6Brand--dark c6Sprite--alpha">
                        <span class="ir">Cinema6</span>
                    </a>
                </li>
                <li class="mainNav__item">
                    <a href="#" title="Studio">
                        <object class="mainNav__icon" type="image/svg+xml" data="/assets/img/icons__studio.svg" width="18" height="18"></object>
                        Studio
                    </a>
                </li>
            </ul>
        </nav>
        <div class="userPane__group clearfix">
            <div class="userPane__display">
                <a c6-sref="Account:Password" c6-params="{}" class="userPane__userName" title="{{PortalCtrl.model.email}}" ng-bind="PortalCtrl.model.email | limitTo : 28"></a>
            </div>
            <nav class="userNav__group" >
                <button  type="button" 
                    class="userPane__settings ui__gear c6Sprite--alpha">
                    <span class="ir">Settings</span>
                </button>

                <ul class="userNav__child">
                    <li class="userNav__item">
                    <!--                                <button title="Account Settings" class="userNav__btn">Account Settings</button> -->
                        <a c6-sref="Account:Password" c6-params="{}" class="userNav__btn" title="Account Settings">Account Settings</a>
                    </li>
                    <li class="userNav__item">
                        <button ng-click="PortalCtrl.logout()" title="Log Out" class="userNav__btn">Log Out</button>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>

<div class="ui__viewHolder clearfix">
    <c6-view class="view-animate"></c6-view>
</div>

<div class="footer__group">
    <footer class="footer__main container">
        &copy; Copyright 2014 Cinema6. All Rights Reserved.
    </footer>
</div>
