<div class="mast__group mast__group--previewMode">
    <header class="mast container clearfix">
        <nav class="mainNav">
            <ul class="mainNav__list clearfix">
                <li class="mainNav__item mainNav__c6BrandItem">
                    <div class="c6__brand c6__brand--dark c6Sprite--alpha">
                        <span class="ir">Cinema6</span>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="mast__titleBox">
            <h1 class="mast__title">Previewing : &ldquo;<em>{{PreviewMiniReelCtrl.model.title}}</em>&rdquo;</h1>
        </div>
    </header>
</div>

<div class="ui__previewHolder clearfix">
    <c6-embed src="//lib.cinema6.com/c6embed/v1/c6embed.min.js" config="PreviewMiniReelCtrl.model"></c6-embed>
</div>

<div class="footer__group">
    <footer class="footer__main container">
        &copy; Copyright 2014 Cinema6. All Rights Reserved.
    </footer>
</div>