<div class="mast__group mast__group--previewMode">
    <header class="mast clearfix">
        <div class="c6Brand c6Brand--logo c6Sprite--alpha">
            <span class="ir">Reelcontent</span>
        </div>
        <h1 class="mast__title">Previewing : &ldquo;<em><strong>{{PreviewMiniReelCtrl.model.title}}</strong></em>&rdquo;</h1>
    </header>
</div>

<div class="ui__previewHolder clearfix">
    <c6-embed src="//lib.reelcontent.com/c6embed/v1/c6embed.min.js" config="PreviewMiniReelCtrl.model"></c6-embed>
</div>

<div class="footer__group">
    <footer class="footer__main container">
        &copy; Copyright {{AppCtrl.year}} Reelcontent. All Rights Reserved.
    </footer>
</div>