<style type="text/css">
    body {
        background:#333;
    }
</style>
<div class="login__group login__group--fixed" ng-hide="user">
    <h2 class="login__title">Reset Your Password</h2>
    <form class="login__form" name="form" ng-submit="ResetPasswordCtrl.submit()" c6-alias="ResetPasswordCtrl.model.passwords as passwords">
        <div class="c6__brand c6__brand--dark c6Sprite--alpha">
            <span class="ir">Cinema6</span>
        </div>
        
        <div class="login__nvPair">
            <label class="login__label" for="password1" > New Password </label>
            <input class="login__input" id="password1" type="password" name="password1" ng-model="passwords[0]" autocomplete="off" required ng-minlength="8" ng-maxlength="128" ng-pattern="ResetPasswordCtrl.pattern" ng-trim="false">
        </div>

        <div class="login__error">
            <span ng-show="form.password1.$error.required"> Required </span>
            <span ng-show="form.password1.$error.minlength"> Must be at least 8 numbers or letters </span>
            <span ng-show="form.password1.$error.maxlength"> Too long </span>
            <span ng-show="form.password1.$error.pattern"> Spaces not allowed</span>
        </div>

        <div class="login__nvPair">
            <label class="login__label" for="password2" > Confirm Password </label>
            <input class="login__input" id="password2" type="password" name="password2" ng-model="passwords[1]" autocomplete="off" ng-required="form.password1.$error.required" ng-trim="false">
        </div>

        <div class="login__error">
            <span ng-show="form.password2.$error.required"> Required </span>
            <span ng-show="(passwords[1].length) && (passwords[0] !== passwords[1])"> Do not match </span>
        </div>

        <div class="login__error" ng-show="ForgotPasswordCtrl.wasSuccessful === false">
            <p>{{ForgotPasswordCtrl.errorMessage}}</p>
        </div>
        <input class="form__submitBtn login__submitBtn" type="submit" ng-disabled="!passwords[0] || (passwords[0] !== passwords[1])" value="Submit">

        <div ng-show="!!ResetPasswordCtrl.errorMessage">
            <p>{{ResetPasswordCtrl.errorMessage}}</p>
        </div>
    </form>
    <p class="login__footerLinks"><a href="/">Return to Log In Screen</a></p>
</div>