<div class="modalBody__group modalBody__group--sideTabs mrAdManager__videoServer">
    <form name="advertising">
        <h1 class="forms__name--title">Advertising</h1>
        <p class="forms__introText">What advertising settings would you like this card to have?</p>

        <label class="forms__pair clearfix">
            <span class="forms__name">
                Name
            </span>
            <span class="forms__inputHolder">
                <input type="text" class="forms__textField forms__textField--block" ng-model="WildcardCtrl.campaignData.name">
            </span>
        </label>

        <label class="forms__pair clearfix">
            <span class="forms__name">
                Display ID
            </span>
            <span class="forms__inputHolder">
                <input type="text" class="forms__textField forms__textField--block" ng-model="card.placementId">
            </span>
        </label>

        <label class="forms__pair clearfix">
            <span class="forms__name">
                Min. View Time <strong class="typo--danger">*</strong>
            </span>
            <span class="forms__inputHolder">
                <input type="number" class="forms__textField forms__textField--block" ng-model="card.campaign.minViewTime">
            </span>
        </label>

        <label class="forms__pair clearfix">
            <span class="forms__name">
                End Date
            </span>
            <span class="forms__inputHolder">
                <input type="date" time="23:59" class="forms__textField forms__textField--block" ng-model="WildcardCtrl.campaignData.endDate">
            </span>
            <span ng-show="!WildcardCtrl.validDate" style="padding-left:9em;">Invalid date.</span>
        </label>

        <label class="forms__pair clearfix">
            <span class="forms__name">
                Ad Count Pixel
            </span>
            <span class="forms__inputHolder">
                <input type="text" class="forms__textField forms__textField--block"
                name="count_pixel"
                ng-pattern="AppCtrl.validUrl"
                ng-model="card.campaign.countUrls[0]"
                ng-class="{'forms__textField--danger': !advertising.count_pixel.$valid}">
            </span>
        </label>

        <label class="forms__pair forms__pair--spacer clearfix">
            <span class="forms__name">
                Ad Start Pixel
            </span>
            <span class="forms__inputHolder">
                <input type="text" class="forms__textField forms__textField--block"
                name="start_pixel"
                ng-pattern="AppCtrl.validUrl"
                ng-model="card.campaign.playUrls[0]"
                ng-class="{'forms__textField--danger': !advertising.start_pixel.$valid}">
            </span>
        </label>
    </form>
</div>
