<div class="modalBody__group modalBody__group--sideTabs mrAdManager__videoServer">
    <form c6-alias="WildcardSharingCtrl as card">
        <h1 class="forms__name--title">Social Sharing</h1>
        <p class="forms__introText">What links can be shared from the card?</p>

        <label class="forms__pair clearfix"
        style="margin:0.25em 0;">
            <span class="forms__name">via Facebook</span>
            <span class="forms__inputHolder"
            style="float:left; width:36.5em;">
                <input type="text" class="forms__textField forms__textField--block" ng-model="card.model.shareLinks.facebook"
                       ng-class="{'forms__textField--danger': !WildcardCtrl.validUrl(card.model.shareLinks.facebook)}">
            </span>
        </label>

        <label class="forms__pair clearfix"
        style="margin:0.25em 0;">
            <span class="forms__name">via Twitter</span>
            <span class="forms__inputHolder"
            style="float:left; width:36.5em;">
                <input type="text" class="forms__textField forms__textField--block" ng-model="card.model.shareLinks.twitter"
                       ng-class="{'forms__textField--danger': !WildcardCtrl.validUrl(card.model.shareLinks.twitter)}">
            </span>
        </label>

        <label class="forms__pair clearfix"
        style="margin:0.25em 0;">
            <span class="forms__name">via Pinterest</span>
            <span class="forms__inputHolder"
            style="float:left; width:36.5em;">
                <input type="text" class="forms__textField forms__textField--block" ng-model="card.model.shareLinks.pinterest"
                       ng-class="{'forms__textField--danger': !WildcardCtrl.validUrl(card.model.shareLinks.pinterest)}">
            </span>
        </label>
    </form>
</div>
