<div class="modalBody__group modalBody__group--sideTabs mrEdit__copyTab" c6-alias="WildcardCtrl.model as card">
    <form>
        <label class="forms__pair clearfix">
            <span class="forms__name">
                Thumbnail URL <strong class="typo--danger">*</strong>
            </span>
            <span class="forms__inputHolder">
                <input ng-model="card.data.thumbUrl" type="text" class="forms__textField forms__textField--block">
                <span class="typo--guidance typo--warning">Type in a <strong>URL</strong>.</span>
            </span>
        </label>
    </form>
    <div class="thumbPreview">
        <img src="{{card.data.thumbUrl}}" ng-if="card.data.thumbUrl"></img>
    </div>
    <p class="modalBody__fineprint typo--danger"><strong>*</strong> Indicates required field.</p>
</div>
