<style type="text/css">
    .sponsoredCard__preview .videoPlayer,
    .sponsoredCard__preview youtube-player, .sponsoredCard__preview vimeo-player, 
    .sponsoredCard__preview dailymotion-player, .sponsoredCard__preview rumble-player, 
    .sponsoredCard__preview .vidFrame {
        height:14em;
    }
    .form__label {
        font-size:0.9375em; line-height: 1.2;
        font-weight:bold;
        display: block;
        margin:0 0 0.5em 0;
    }
</style>
<div class="modalBody__group modalBody__group--sideTabs mrEdit__videoTab">
    <form>
        <div class="clearfix">
            <div class="twoCol">
                <label class="radiobox radiobox--hasLabel clearfix"
                style="margin-bottom:0.25em;">
                    <input type="radio"
                        ng-value="false"
                        ng-change="WildcardVideoCtrl.videoUrl = ''"
                        ng-model="WildcardVideoCtrl.isAdUnit"
                        name="minireel-endcap"
                        class="radiobox__input"/>
                    <span class="btn__icon faa fab">
                        &nbsp;
                    </span>
                    <span class="btn__label">
                        3rd-Party Video
                    </span>
                </label>
            </div>
            <div class="twoCol">
                <label class="radiobox radiobox--hasLabel clearfix"
                style="margin-bottom:0.25em;">
                    <input type="radio"
                        ng-value="true"
                        ng-model="WildcardVideoCtrl.isAdUnit"
                        name="minireel-endcap"
                        class="radiobox__input"/>
                    <span class="btn__icon faa fab">
                        &nbsp;
                    </span>
                    <span class="btn__label">
                        Ad Unit
                    </span>
                </label>
            </div>
        </div>
        <ng-switch on="card.data.service">
            <div ng-switch-when="adUnit" class="clearfix">
                <div class="twoCol">
                    <label class="forms__pair clearfix">
                        <span class="forms__name" style="width:4rem;">
                            VPAID
                        </span>
                        <span class="forms__inputHolder forms__inputHolder--short" style="width:18em;">
                            <input type="text" ng-model="WildcardVideoCtrl.vpaidTag" c6-autoselect ng-focus="WildcardVideoCtrl.adPreviewType = 'vpaid'" class="forms__textField forms__textField--block">
                        </span>
                    </label>
                </div>
                <div class="twoCol">
                    <label class="forms__pair forms__pair--spacer clearfix">
                        <span class="forms__name" style="width:4rem;">
                            VAST
                        </span>
                        <span class="forms__inputHolder forms__inputHolder--short" style="width:18em;">
                            <input type="text" ng-model="WildcardVideoCtrl.vastTag" c6-autoselect ng-focus="WildcardVideoCtrl.adPreviewType = 'vast'" class="forms__textField forms__textField--block">
                        </span>
                    </label>
                </div>
                <label class="forms__pair">
                    <span class="forms__name">
                        Page URL
                    </span>
                    <span class="forms__inputHolder">
                        <input type="text" class="forms__textField forms__textField--block" ng-model="WildcardVideoCtrl.adPreviewPageUrl">
                    </span>
                </label>
            </div>
            <label ng-switch-default class="forms__pair clearfix">
                <span class="forms__name">
                    Video URL
                </span>
                <span class="forms__inputHolder">
                    <input type="text" class="forms__textField forms__textField--block" ng-model="WildcardVideoCtrl.videoUrl">
                    <span class="typo--guidance typo--warning">Type in a <strong>URL</strong>.</span>
                    <span class="typo--guidance">Supported sources : 
                        <a href="http://www.youtube.com" title="YouTube" target="_blank">YouTube</a>, 
                        <a href="http://www.vimeo.com" title="Vimeo" target="_blank">Vimeo</a>,
                        <a href="http://www.dailymotion.com" title="Daily Motion" target="_blank">Daily Motion</a>
                    </span>
                </span>
            </label>
        </ng-switch>
        <div class="twoCol" ng-switch="card.data.service"
        style="width:50%; margin:-0.5em 3% 0 0;">
            <div ng-switch-when="adUnit" ng-controller="AdPlayerController as AdPlayerCtrl">
                <div ng-switch="WildcardVideoCtrl.adPreviewType">
                    <vpaid-player ng-switch-when="vpaid"
                        videoid="preview"
                        ad-tag="{{WildcardVideoCtrl.adTag}}"
                        style="height: 250px;">
                    </vpaid-player>
                    <vast-player ng-switch-when="vast"
                        videoid="preview"
                        ad-tag="{{WildcardVideoCtrl.adTag}}">
                    </vast-player>
                </div>
                <div ng-if="!!AdPlayerCtrl.player">
                    <button ng-click="AdPlayerCtrl.player.play()">Play</button>
                    <button ng-click="AdPlayerCtrl.player.pause()">Pause</button>
                    <button ng-click="AdPlayerCtrl.player.reload()">Reload</button>
                </div>
            </div>
            <video-preview ng-switch-default service="{{card.data.service}}"
                videoid="{{card.data.videoid}}"
                start="card.data.start"
                end="card.data.end"
                class="sponsoredCard__preview"
                style="display: block;">
            </video-preview>
        </div>
        <div class="twoCol" style="width:47%; margin-top:0.5em;">
            <label class="checkbox--inline">
                <input id="includeDisplayAd" type="checkbox" ng-model="WildcardVideoCtrl.canSkip" ng-disabled="!card.data.service" class="checkbox__input">
                <span class="btn__label faa">&nbsp;</span>
            </label>
            <label for="includeDisplayAd">
                <strong>Allow Users to Skip This Video? <span class="typo--danger">*</span></strong>
            </label>
            <div ng-if="!WildcardVideoCtrl.canSkip">
                <div ng-if="!WildcardVideoCtrl.mustWatchInEntirety">
                    <label>
                        Skip after <input type="number" style="border:1px solid #ccc; width:5em;" ng-model="WildcardVideoCtrl.skipTime" /> Seconds
                    </label>
                </div>
                <label class="checkbox--inline">
                    <input id="neverSkip" type="checkbox" ng-model="WildcardVideoCtrl.mustWatchInEntirety" ng-disabled="!card.data.service" class="checkbox__input">
                    <span class="btn__label faa">&nbsp;</span>
                </label>
                <label for="neverSkip">
                    Must watch entire video
                </label>
            </div>
            <div>
                <label class="checkbox--inline">
                    <input id="showControls" type="checkbox" ng-model="card.data.controls" ng-disabled="!card.data.service" class="checkbox__input">
                    <span class="btn__label faa">&nbsp;</span>
                </label>
                <label for="showControls">Show video controls?</label>
            </div>
            <p>
                <span class="form__label">Do you want this video to start playing automatically?</span>
                <c6-dropdown options="WildcardVideoCtrl.autoplayOptions" value="card.data.autoplay"></c6-dropdown>
            </p>

            <p>
                <span class="form__label">Do you want the MiniReel to advance to the next slide when this video is over?</span>
                <c6-dropdown options="WildcardVideoCtrl.autoadvanceOptions" value="card.data.autoadvance"></c6-dropdown>
            </p>

            <p>
                <span class="form__label">Reporting ID for this Video</span>
                <input ng-model="WildcardCtrl.campaignData.reportingId" type="text" class="forms__textField forms__textField--block" style="width:95%;">
            </p>

            <p>
                <label class="checkbox--inline">
                    <input ng-model="WildcardCtrl.enableMoat" type="checkbox" class="checkbox__input">
                    <span class="btn__label faa">&nbsp;</span>
                </label>
                <label>
                    <strong>Enable MOAT (Reporting ID is required) <span class="typo--danger">*</span></strong>
                </label>
            </p>
        </div>
    </form>
</div>
