<div class="tabContent targeting__content container">
    <header class="tabContent__header">
        <h2 class="tabContent__title tk--hdr">Your campaign is currently {{campaign.status}}</h2>
        <span class="tabContent__subtitle">{{campaign.name}}</span>
    </header>

    <div class="tabContent__gridHolder">
        <div class="grid">
            <!--left column-->
            <div class="grid__item two-thirds palm--one-whole">
                <section class="campaignPreview__group">
                    <selfie-preview card="SelfieManageCampaignCtrl.card"></selfie-preview>
                </section>
            </div><!--left column ends--><!--
            --><div class="grid__item adManage one-third palm--one-whole">
                <div class="grid">
                    <div class="grid__item grid--center lockedMsg">
                        <span ng-if="SelfieManageCampaignCtrl.isLocked">
                            <img src="styles/selfie/img/lock-icon.png" class="lockedMsg__icon"/>
                            <h3 class="lockedMsg__icon--text tk--hdr">Locked</h3>
                        </span>
                        <p class="lockedMsg__info">Your campaign is <strong>{{campaign.status}}</strong></p>
                        <p class="lockedMsg__info" ng-if="!SelfieManageCampaignCtrl.isLocked">You can edit this campaign but once a change is submitted for approval the campaign will be locked until approved.</p>
                        <p class="lockedMsg__info" ng-if="SelfieManageCampaignCtrl.isLocked && campaign.status !== 'pending'">You have a change waiting to be approved. Once it's approved you can submit another change.</p>
                        <p class="lockedMsg__info" ng-if="SelfieManageCampaignCtrl.isLocked && campaign.status === 'pending'">You cannot make changes to the campaign until it has been approved.</p>
                    </div>
                    <div class="grid__item one--whole grid--center" ng-if="campaign.status === 'active' || campaign.status === 'paused'">
                        <div class="action__btnGroup">
                          <button ng-show="campaign.status === 'active'" ng-click="SelfieManageCampaignCtrl.update('pause')" ng-class="{'btn--disabled' : SelfieManageCampaignCtrl.isLocked }" ng-disabled="SelfieManageCampaignCtrl.isLocked" class="action__btnSecondary action__btnSecondary--small"><i class="fa fa-pause"></i>  Pause</button>
                          <button ng-show="campaign.status === 'paused'" ng-click="SelfieManageCampaignCtrl.update('resume')" ng-class="{'btn--disabled' : SelfieManageCampaignCtrl.isLocked }" ng-disabled="SelfieManageCampaignCtrl.isLocked" class="action__btnSecondary action__btnSecondary--small"><i class="fa fa-play"></i>  Resume</button>
                          <!-- <button ng-click="SelfieManageCampaignCtrl.edit(campaign)" ng-class="{'btn--disabled' : !!campaign.updateRequest }" ng-disabled="!!campaign.updateRequest" class="action__btnSecondary action__btnSecondary--small"><i class="fa fa-pencil-square-o"></i>  Edit</button> -->
                        </div>
                    </div>
                </div>
            </div><!--.grid__item-->
        </div>
    </div>
</div>