<div class="tabContent targeting__content container">
    <header class="tabContent__header">
        <h2 class="tabContent__title tk--hdr">Campaign: {{campaign.name}}</h2>
        <span class="tabContent__subtitle">Your campaign is currently {{campaign.status}}</span>
    </header>

    <div class="tabContent__gridHolder">
        <div class="grid grid--center">
            <!--left column-->
            <div class="grid__item two-thirds palm--one-whole">
                <section class="campaignPreview__group">
                    <selfie-preview card="SelfieManageCampaignCtrl.card"></selfie-preview>
                </section>
            </div><!--left column ends--><!--
            --><div class="grid__item adManage one-third palm--one-whole">
                <div class="grid">
                    <div class="grid__item grid--center lockedMsg">
                        <h3 class="lockedMsg__info tk--hdr">Your campaign is <strong>{{campaign.status}}</strong></h3>
                        <p class="lockedMsg__info" ng-if="campaign.updateRequest && campaign.status === 'pending'">Your campaign is pending approval.</p>
                        <p class="lockedMsg__info" ng-if="campaign.updateRequest && campaign.status !== 'pending'">Your requested changes are pending approval.</p>
                    </div>
                    <div class="grid__item one--whole grid--center" ng-if="campaign.status === 'active' || campaign.status === 'paused'">
                        <div class="action__btnGroup">
                          <button ng-show="(campaign.status === 'active' && SelfieManageCampaignCtrl.updateRequest.data.status !== 'paused') || (campaign.status === 'paused' && SelfieManageCampaignCtrl.updateRequest.data.status === 'active')" ng-click="SelfieManageCampaignCtrl.update('pause')" class="action__btnSecondary action__btnSecondary--small"><i class="fa fa-pause"></i>  Pause</button>
                          <button ng-show="(campaign.status === 'paused' && SelfieManageCampaignCtrl.updateRequest.data.status !== 'active') || (campaign.status === 'active' && SelfieManageCampaignCtrl.updateRequest.data.status === 'paused')" ng-click="SelfieManageCampaignCtrl.update('resume')" class="action__btnSecondary action__btnSecondary--small"><i class="fa fa-play"></i>  Resume</button>
                          <!-- <button ng-click="SelfieManageCampaignCtrl.edit(campaign)" ng-class="{'btn--disabled' : !!campaign.updateRequest }" ng-disabled="!!campaign.updateRequest" class="action__btnSecondary action__btnSecondary--small"><i class="fa fa-pencil-square-o"></i>  Edit</button> -->
                        </div>
                    </div>
                </div>
            </div><!--.grid__item-->
        </div>
    </div>
</div>