<div class="tabContent targeting__content container">
    <header class="tabContent__header">
        <h2 class="tabContent__title tk--hdr">Payment Options</h2>
        <span class="tabContent__subtitle">Your campaign would use the primary payment method provided in the account settings unless you choose a different option</span>
    </header>

    <div class="tabContent__gridHolder">
        <div class="grid grid--center">
            <div class="grid__item one-third">
                <section class="formSection__group">
                    <h1 class="formSection__title">
                        <span class="formSection__titleText tk--hdr">Choose Your Payment Method</span>
                    </h1>
                    <p class="formSection__introText">Something goes here</p>

                    <div class="form__items">
                        <selfie-payment-methods methods="SelfieManageCampaignCtrl.paymentMethods" campaign="SelfieManageCampaignCtrl.campaign"></selfie-payment-methods>
                    </div>

                    <div class="ui__btnHolder">
                        <button class="action__btn action__btn--wide" ng-class="{ 'btn--disabled' : !SelfieManageCampaignCtrl.canSubmit }" ng-disabled="!SelfieManageCampaignCtrl.canSubmit" ng-click="SelfieManageCampaignCtrl.updatePaymentMethod()">Save Changes</button>
                    </div>

                    <div ng-if="SelfieManageCampaignCtrl.paymentStatus" class="alertMessage" ng-class="{ 'alert__success' : SelfieManageCampaignCtrl.paymentStatus === 'success', 'alert__failure' : SelfieManageCampaignCtrl.paymentStatus === 'failed' }">
                        <span ng-if="SelfieManageCampaignCtrl.paymentStatus === 'failed'">There was a problem updating your payment method.</span>
                        <span ng-if="SelfieManageCampaignCtrl.paymentStatus === 'success'">You have successfully updated your payment method</span>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>