<div class="modal__overlay"></div>
<div class="gridHolder modal__group modalPayment__group">

    <div class="grid grid--center">
        <button class="modal__closeBtn btnInvis" ng-click="SelfieManageCampaignPlacementTagCtrl.close()"><span class="ir">Close</span>
            <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" d="M16.5,0L9,7.5L1.5,0L0,1.5L7.5,9L0,16.5L1.5,18L9,10.5l7.5,7.5l1.5-1.5L10.5,9
                L18,1.5L16.5,0z"/>
            </svg>
        </button>
        <section class="grid__item two-thirds">

            <header class="text--center">
                <h1 class="tk--hdr modal__title">Placement Tag</h1>
            </header>

            <div class="grid grid--center">

                <div class="grid__item two-thirds">
                    <div class="form__items addPayment__method">
                            <fieldset class="form__item">
                                <input c6-fill-check disabled ng-model="SelfieManageCampaignPlacementTagCtrl.placement.name" class="form__textBox form__fillCheck" type="text">
                                <label class="form__label">
                                    <i class="fa fa-times ui--error"></i>
                                    DSP
                                </label>
                            </fieldset>

                            <fieldset class="form__item">
                                <textarea c6-fill-check class="form__textBox form__textArea form__fillCheck" type="text" id="c6-placement-tag" ng-model="SelfieManageCampaignPlacementTagCtrl.placement.tag" style="    height: 200px;font-size: 80%;line-height: 1.4em;"></textarea>
                                <label class="form__label">
                                    <i class="fa fa-times ui--error"></i>
                                    Placement Tag
                                </label>
                            </fieldset>

                    </div><!--.form__items-->
                </div><!--.grid__item .three-fifths-->
            </div><!--.grid .grid--center-->
        </section><!--.grid__item .five-sixths-->
    </div><!--.grid grid--center-->

</div>