<div class="modalDialog__group modalDialog__group--confirm modalBody__group--tall modalBody__group--narrow modalBody__one-col selfieModal modal__renew-campaign">
    <header class="modalHeader__group">
        <h1 class="modal__title">{{SelfieManageCampaignCtrl.renewalText}} Campaign</h1>
        <p ng-if="SelfieManageCampaignCtrl.renewalCampaign.status === 'expired'" class="text--center  alertMessage alert__warning">Your campaign expired on {{SelfieManageCampaignCtrl.expirationDate | date:'M/d/yyyy'}}.</p>
        <p ng-if="SelfieManageCampaignCtrl.renewalCampaign.status === 'outOfBudget'" class="text--center alertMessage alert__warning">Your campaign ran out of budget on {{SelfieManageCampaignCtrl.expirationDate | date:'M/d/yyyy'}}.</p>
        <button class="modal__closeBtn btnInvis" ng-click="SelfieManageCampaignCtrl.destroyRenewModal()"><span class="ir">Close</span>
            <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" d="M16.5,0L9,7.5L1.5,0L0,1.5L7.5,9L0,16.5L1.5,18L9,10.5l7.5,7.5l1.5-1.5L10.5,9
            L18,1.5L16.5,0z"></path>
            </svg>
        </button>
    </header>

    <div class="modalBody__group renewalModal typo--centered">
        <div class="grid">
            <div class="grid__item">
                <section class="formSection__group formSection__group--sub">
                    <h1 class="formSection__title">
                        <span class="formSection__titleText tk--hdr">Set Your Timeline</span>
                    </h1>
                    <div class="grid--center">
                        <div class="grid__item two-thirds">
                            <selfie-flight-dates
                                campaign="SelfieManageCampaignCtrl.renewalCampaign"
                                master-campaign="SelfieManageCampaignCtrl.renewalCampaign"
                                validation="SelfieManageCampaignCtrl.validation"
                                hide-header="true">
                            </selfie-flight-dates>
                        </div>
                    </div>
                </section><!--.formSection__group-->
            </div><!--.grid__item-->
        </div><!--.grid-->
        <div class="grid">
            <div class="grid__item">
                <section class="formSection__group formSection__group--sub">
                    <h1 class="formSection__title">
                        <span class="formSection__titleText tk--hdr">Increase Your Budget</span>
                    </h1>

                    <p class="formSection__introText">Current Total Budget: {{SelfieManageCampaignCtrl.renewalCampaign.pricing.budget | dollars:2}} | Total Spent: {{(SelfieManageCampaignCtrl.stats.summary.totalSpend || 0) | dollars:2}}</p>
                    <div class="grid--center">
                        <div class="grid__item two-thirds">
                            <selfie-budget
                                campaign="SelfieManageCampaignCtrl.renewalCampaign"
                                schema="SelfieManageCampaignCtrl.schema"
                                validation="SelfieManageCampaignCtrl.validation"
                                stats="SelfieManageCampaignCtrl.stats"
                                increase-budget="true"
                                hide-estimates="true">
                            </selfie-budget>
                        </div>
                    </div>
                </section><!--.formSection__group-->
            </div><!--.grid__item-->
        </div><!--.grid-->
    </div><!--.modalBody__group-->

    <footer class="modalFooter__group">
        <button
            class="btnAction btnAction btnAction--first"
            ng-click="SelfieManageCampaignCtrl.destroyRenewModal()"
            title="Cancel">
            Cancel
        </button>
        <button
            ng-click="SelfieManageCampaignCtrl.confirmRenewal()"
            ng-disabled="!SelfieManageCampaignCtrl.validRenewal"
            ng-class="{ 'btn--disabled' : !SelfieManageCampaignCtrl.validRenewal, 'btnSpinner__waiting' : SelfieManageCampaignCtrl.pending }"
            title="Continue"
            class="btnAction btnAction--success btnAction--last"
            type="button">Continue</button>
    </footer>
</div>
<div class="modal__overlay modal__overlay--confirm">&nbsp;</div>