<div class="tabContent targeting__content container">
    <header class="tabContent__header">
        <h2 class="tabContent__title tk--hdr">Campaign Statistics*</h2>
        <!--<span class="tabContent__subtitle">{{campaign.name}}</span>-->
        <span class="tabContent__subtitle">*values are based on UTC timezone</span>
        <!-- date range selection dropdown -->
        <div class="action__selection" c6-alias="SelfieManageCampaignStatsCtrl as Ctrl">
            <nav class="action__dropdown dateRange">
                <ul c6-click-outside="Ctrl.showDropdown = false">
                  <li>
                    <div ng-click="Ctrl.showDropdown = !Ctrl.showDropdown">
                        {{Ctrl.selectedRange.label}} <i class="fa fa-chevron-down item--right"></i>
                        <span ng-show="Ctrl.selectedRange.dates.start && Ctrl.selectedRange.dates.end" class="dateRange__selected">
                            ({{Ctrl.selectedRange.dates.start}} - {{Ctrl.selectedRange.dates.end}})
                        </span>
                    </div>
                    <ul ng-show="Ctrl.showDropdown">
                        <li ng-repeat="option in Ctrl.rangeOptions" ng-click="Ctrl.getStats(option)">
                            <button>{{option.label}} <i ng-show="option.selected" class="action__dropdownItem--selected fa fa-check"></i></button>
                        </li>
                        <li ng-class="{'dateRange__custom--selected' : pickerActive}" class="dateRange__custom">
                            <button ng-click="Ctrl.showCustom = !Ctrl.showCustom">Custom <i ng-show="Ctrl.customRange.selected" class="action__dropdownItem--selected fa fa-check"></i></button>
                            <div class="dateRange__wrap" ng-show="Ctrl.showCustom">
                                <input datepicker c6-fill-check allow-past="true" min-date="null" max-date="Ctrl.max" default-date="null" class="form__textBox form__textBox--units form__fillCheck" type="text" id="startdate" ng-model="Ctrl.customRange.dates.start" placeholder="Start date" ng-focus="pickerActive = true" ng-blur="pickerActive = false">

                                <input datepicker c6-fill-check allow-past="true" min-date="Ctrl.customRange.dates.start" max-date="0" default-date="null" class="form__textBox form__textBox--units form__fillCheck" type="text" id="enddate" ng-model="Ctrl.customRange.dates.end" placeholder="End date" ng-focus="pickerActive = true" ng-blur="pickerActive = false">

                                <div class="ui__btnHolder text--center">
                                    <button ng-class="{ 'btn--disabled': !Ctrl.customRange.dates.start || !Ctrl.customRange.dates.end }" class="action__btn action__btn--wide text--center" ng-disabled="!Ctrl.customRange.dates.start || !Ctrl.customRange.dates.end" ng-click="Ctrl.getStats(Ctrl.customRange)">Apply</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                  </li>
                </ul>
            </nav>
        </div>
        <!-- date range selection dropdown ends-->
    </header>
</div><!--.tabContent .targeting__content container-->

<div class="tabContent__gridHolder" c6-alias="SelfieManageCampaignStatsCtrl.stats as stats">
    <div class="grid grid--center">
        <div class="grid__item one-whole">
            <div class="grid">
                <div class="grid__item one-fifth">
                    <div class="statsChart__infoBox">
                        <span class="hint--top hint--text-wrap" data-hint="Number of times video was played.">
                            <h3 class="stats__icon"><i class="fa fa-play"></i></h3>
                            <h1 ng-if="SelfieManageCampaignStatsCtrl.hasViews" class="stats__infoNumber tk--hdr">{{stats.views | number:0}}</h1>
                            <h1 ng-if="!SelfieManageCampaignStatsCtrl.hasViews" class="stats__infoNumber tk--hdr">0</h1>
                            <h3 class="stats__label">Views</h3>
                        </span>
                    </div>
                </div><!--
                --><div class="grid__item one-fifth">
                    <div class="statsChart__infoBox stats__quartiles stats__spend">
                        <span class="hint--top hint--text-wrap" data-hint="Your total cost divided by total views.">
                            <h3 class="stats__icon"><i class="fa fa-usd"></i></h3>
                            <h1 ng-if="SelfieManageCampaignStatsCtrl.hasViews" class="stats__infoNumber tk--hdr">${{stats.totalSpend / stats.views | number:2}}</h1>
                            <h1 ng-if="!SelfieManageCampaignStatsCtrl.hasViews" class="stats__infoNumber tk--hdr">$0</h1>
                            <h3 class="stats__label">Average CPV</h3>
                        </span>
                    </div>
                </div><!--
                --><div class="grid__item one-fifth">
                    <div class="statsChart__infoBox stats__spend">
                        <span class="hint--top hint--text-wrap" data-hint="This is how much you have spent.">
                            <h3 class="stats__icon"><i class="fa fa-credit-card"></i></h3>
                            <h1 ng-if="SelfieManageCampaignStatsCtrl.hasViews" class="stats__infoNumber tk--hdr">${{stats.totalSpend | number:2}}</h1>
                            <h1 ng-if="!SelfieManageCampaignStatsCtrl.hasViews" class="stats__infoNumber tk--hdr">$0</h1>
                            <h3 class="stats__label">Total Cost</h3>
                        </span>
                    </div>
                </div><!--
                --><div class="grid__item one-fifth">
                    <div class="statsChart__infoBox stats__clicks">
                        <span class="hint--top hint--text-wrap" data-hint="This is how many times users interacted with links on your ad.">
                            <h3 class="stats__icon"><i class="fa fa-comments-o"></i></h3>
                            <h1 ng-if="SelfieManageCampaignStatsCtrl.hasViews" class="stats__infoNumber tk--hdr">{{SelfieManageCampaignStatsCtrl.totalInteractions}}</h1>
                            <h1 ng-if="!SelfieManageCampaignStatsCtrl.hasViews" class="stats__infoNumber tk--hdr">0</h1>
                            <h3 class="stats__label">Total Interactions</h3>
                        </span>
                    </div>
                </div><!--
                --><div class="grid__item one-fifth">
                    <div class="statsChart__infoBox stats__clicks">
                        <span class="hint--top hint--text-wrap" data-hint="Your total clicks divided by total views.">
                            <h3 class="stats__icon"><i class="fa percent"></i></h3>
                            <h1 ng-if="SelfieManageCampaignStatsCtrl.hasViews" class="stats__infoNumber tk--hdr">{{(SelfieManageCampaignStatsCtrl.totalInteractions / stats.views) * 100 | number:2}}%</h1>
                            <h1 ng-if="!SelfieManageCampaignStatsCtrl.hasViews" class="stats__infoNumber tk--hdr">0%</h1>
                            <h3 class="stats__label">Interaction Rate</h3>
                        </span>
                    </div>
                </div>
            </div>
        </div><!--.grid__item .one-whole--><!--.grid__item .three-quarters-->
    </div>

    <!-- QUARTILES! -->
    <div class="grid quartiles">
        <h1 class="tk--hdr stats__hdr stats__quartiles">
            <span class="hint--top hint--text-wrap" data-hint="See how long viewers watched your ad.">Completion Quartiles</span>
        </h1>

        <div class="grid__item two-fifths interactions__group">
            <div class="grid">
                <div class="grid__item one-whole" ng-switch="SelfieManageCampaignStatsCtrl.hasDuration && SelfieManageCampaignStatsCtrl.hasViews">
                    <div class="stats__row stats__sub-hdr">
                        <h3 class="stats__label">Duration</h3>
                        <h3 class="stats__rowData">Percentage</h3>
                        <h3 class="stats__rowData">Views</h3>
                    </div>
                    <div class="stats__row">
                        <h3 class="stats__label">25%</h3>
                        <span ng-switch-when="false">
                            <h2 class="stats__rowData stats__rowViews">--</h2>
                            <h2 class="stats__rowData stats__rowViews">--</h2>
                        </span>
                        <span ng-switch-when="true">
                            <h2 ng-if="SelfieManageCampaignStatsCtrl.hasViews" class="stats__rowData stats__rowViews">{{(stats.quartile1 / stats.views) * 100 | number:1}}%</h2>
                            <h2 class="stats__rowData stats__rowViews">{{stats.quartile1}}</h2>
                        </span>
                    </div>
                    <div class="stats__row">
                        <h3 class="stats__label">50%</h3>
                        <span ng-switch-when="false">
                            <h2 class="stats__rowData stats__rowViews">--</h2>
                            <h2 class="stats__rowData stats__rowViews">--</h2>
                        </span>
                        <span ng-switch-when="true">
                            <h2 ng-if="SelfieManageCampaignStatsCtrl.hasViews" class="stats__rowData stats__rowViews">{{(stats.quartile2 / stats.views) * 100 | number:1}}%</h2>
                            <h2 class="stats__rowData stats__rowViews">{{stats.quartile2}}</h2>
                        </span>
                    </div>
                    <div class="stats__row">
                        <h3 class="stats__label">75%</h3>
                        <span ng-switch-when="false">
                            <h2 class="stats__rowData stats__rowViews">--</h2>
                            <h2 class="stats__rowData stats__rowViews">--</h2>
                        </span>
                        <span ng-switch-when="true">
                            <h2 ng-if="SelfieManageCampaignStatsCtrl.hasViews" class="stats__rowData stats__rowViews">{{(stats.quartile3 / stats.views) * 100 | number:1}}%</h2>
                            <h2 class="stats__rowData stats__rowViews">{{stats.quartile3}}</h2>
                        </span>
                    </div>
                    <div class="stats__row">
                        <h3 class="stats__label">100%</h3>
                        <span ng-switch-when="false">
                            <h2 class="stats__rowData stats__rowViews">--</h2>
                            <h2 class="stats__rowData stats__rowViews">--</h2>
                        </span>
                        <span ng-switch-when="true">
                            <h2 ng-if="SelfieManageCampaignStatsCtrl.hasViews" class="stats__rowData stats__rowViews">{{(stats.quartile4 / stats.views) * 100 | number:1}}%</h2>
                            <h2 class="stats__rowData stats__rowViews">{{stats.quartile4}}</h2>
                        </span>
                    </div>
                </div><!--
                --><div class="grid__item one-whole">
                    <h1 class="tk--hdr stats__hdr--tool">View Calculator</h1>

                    <div ng-class="{'stats__vidCalc--noData': !SelfieManageCampaignStatsCtrl.hasDuration || !SelfieManageCampaignStatsCtrl.hasViews}" class="stats__vidCalc">
                        <p>See how many people would see your whole video if it was shorter.</p>

                        <form action="" method="get" class="vidCalc__slider">
                            <input parse-as-int range-slider ng-model="SelfieManageCampaignStatsCtrl.duration.custom" type="range" name="seconds" min="10" max="{{SelfieManageCampaignStatsCtrl.duration.actual}}" default-value="{{SelfieManageCampaignStatsCtrl.duration.actual}}" ng-disabled="!SelfieManageCampaignStatsCtrl.hasDuration || !SelfieManageCampaignStatsCtrl.hasViews" class="slider__time">
                        </form>

                        <div class="slider__scale">
                            <span class="slider__range slider__range--min">10s</span>

                            <form action="" method="get" class="slider__range slider__range--input">
                                <fieldset class="form__item form__center form__item--miniInput">
                                    <input class="form__textBox form__textBox--units form__fillCheck" type="number" ng-model="SelfieManageCampaignStatsCtrl.duration.custom" min="10" max="{{SelfieManageCampaignStatsCtrl.duration.actual}}" ng-disabled="!SelfieManageCampaignStatsCtrl.hasDuration || !SelfieManageCampaignStatsCtrl.hasViews">
                                    <label class="slider-label">
                                        <i class="fa fa-times ui--error">Seconds</i> 
                                    </label>
                                    <div class="form__errorBox">
                                        <p class="form__errorMsg">
                                            <i class="fa fa-exclamation-triangle"></i> Error message goes here
                                        </p>
                                    </div>
                                </fieldset>
                            </form>

                            <span ng-if="SelfieManageCampaignStatsCtrl.hasDuration" class="slider__range slider__range--max">{{SelfieManageCampaignStatsCtrl.duration.actual}}s</span>
                            <span ng-if="!SelfieManageCampaignStatsCtrl.hasDuration" class="slider__range slider__range--max">30s</span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--
        --><div class="grid__item three-fifths">
            <div class="grid">
                <div class="grid__item one-whole">
                    <div quartile-bar-graph stats="stats" duration="SelfieManageCampaignStatsCtrl.duration" ng-class="{'chart__group--noData': !SelfieManageCampaignStatsCtrl.hasDuration || !SelfieManageCampaignStatsCtrl.hasViews }" class="chart__group">
                        <canvas id="bar__quartile" height="427px" width="763px" class="chart"></canvas>

                        <div class="chart__label">
                            <div class="grid">
                                <div class="grid__item one-quarter">
                                    <div class="chart__labelBox">
                                        <p class="chart__labelItem chart__labelItem--quartile">25%</p>
                                        <span class="chart__labelItem chart__labelItem--sec">{{SelfieManageCampaignStatsCtrl.duration.actual * 0.25 | number:0}}s</span><!--
                                        --><span class="chart__labelItem chart__labelItem--secCalc">{{SelfieManageCampaignStatsCtrl.duration.custom * 0.25 | number:0}}s</span>
                                    </div>
                                </div><!--
                                --><div class="grid__item one-quarter">
                                    <div class="chart__labelBox">
                                        <p class="chart__labelItem chart__labelItem--quartile">50%</p>
                                        <span class="chart__labelItem chart__labelItem--sec">{{SelfieManageCampaignStatsCtrl.duration.actual * 0.5 | number:0}}s</span><!--
                                        --><span class="chart__labelItem chart__labelItem--secCalc">{{SelfieManageCampaignStatsCtrl.duration.custom * 0.5 | number:0}}s</span>
                                    </div>
                                </div><!--
                                --><div class="grid__item one-quarter">
                                    <div class="chart__labelBox">
                                        <p class="chart__labelItem chart__labelItem--quartile">75%</p>
                                        <span class="chart__labelItem chart__labelItem--sec">{{SelfieManageCampaignStatsCtrl.duration.actual * 0.75 | number:0}}s</span><!--
                                        --><span class="chart__labelItem chart__labelItem--secCalc">{{SelfieManageCampaignStatsCtrl.duration.custom * 0.75 | number:0}}s</span>
                                    </div>
                                </div><!--
                                --><div class="grid__item one-quarter">
                                    <div class="chart__labelBox">
                                        <p class="chart__labelItem chart__labelItem--quartile">100%</p>
                                        <span class="chart__labelItem chart__labelItem--sec">{{SelfieManageCampaignStatsCtrl.duration.actual}}s</span><!--
                                        --><span class="chart__labelItem chart__labelItem--secCalc">{{SelfieManageCampaignStatsCtrl.duration.custom}}s</span>
                                    </div>
                                </div>
                            </div><!-- .grid -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid linksSummary">
        <div class="grid__item one-whole">
            <h1 class="tk--hdr stats__hdr stats__linksSummary"><span class="hint--top hint--text-wrap" data-hint="Total count of interactions with your website, share, and social links. Click-through rate (CTR) is the ratio of users who click on a specific link to the number of total users who view your ad.">Engagement</span></h1>
            <div class="stats__row stats__sub-hdr">
                <h3 class="stats__label">Type</h3>
                <h3 class="stats__rowData stats__rowGraph">Graph</h3>
                <h3 class="stats__rowData">CTR</h3>

                <h3 class="stats__rowData">Clicks</h3>
            </div>
            <div class="stats__row">
                <div class="stats__column stats__columnGraph">
                    <div ng-style="{'width': ((stats.linkClicks.action / stats.views) * 100 | number:2) + '%' }" class="stats__columnGraph--bar"></div>
                </div>
                <h3 class="stats__label">Call to Action</h3>
                <span ng-if="!stats.linkClicks.action || !SelfieManageCampaignStatsCtrl.hasViews">
                    <h2 class="stats__rowData stats__rowClicks">--</h2>
                    <h2 class="stats__rowData stats__rowClicks">--</h2>
                </span>
                <span ng-if="stats.linkClicks.action && SelfieManageCampaignStatsCtrl.hasViews">
                    <h2 class="stats__rowData stats__rowClicks">{{(stats.linkClicks.action / stats.views) * 100 | number:2}}%</h2>
                    <h2 class="stats__rowData stats__rowClicks">{{stats.linkClicks.action}}</h2>
                </span>
            </div>
            <div class="stats__row">
                <div class="stats__column stats__columnGraph">
                    <div ng-style="{'width': ((stats.linkClicks.website / stats.views) * 100 | number:2) + '%' }" class="stats__columnGraph--bar"></div>
                </div>
                <h3 class="stats__label">Website</h3>

                <span ng-if="!stats.linkClicks.website || !SelfieManageCampaignStatsCtrl.hasViews">
                    <h2 class="stats__rowData stats__rowClicks">--</h2>
                    <h2 class="stats__rowData stats__rowClicks">--</h2>
                </span>
                <span ng-if="stats.linkClicks.website && SelfieManageCampaignStatsCtrl.hasViews">
                    <h2 class="stats__rowData stats__rowClicks">{{(stats.linkClicks.website / stats.views) * 100 | number:2}}%</h2>
                    <h2 class="stats__rowData stats__rowClicks">{{stats.linkClicks.website}}</h2>
                </span>
            </div>

            <!-- <div ng-if="!SelfieManageCampaignStatsCtrl.hasViews" class="stats__row">
                <div class="stats__column stats__columnGraph">
                    <div class="stats__columnGraph--bar"></div>
                </div>
                <h3 class="stats__label">Share Total</h3>

                <span>
                    <h2 class="stats__rowData stats__rowClicks">--</h2>
                    <h2 class="stats__rowData stats__rowClicks">--</h2>
                </span>
            </div>

            <div ng-if="!SelfieManageCampaignStatsCtrl.hasViews" class="stats__row">
                <div class="stats__column stats__columnGraph">
                    <div class="stats__columnGraph--bar"></div>
                </div>
                <h3 class="stats__label">Social Total</h3>

                <span>
                    <h2 class="stats__rowData stats__rowClicks">--</h2>
                    <h2 class="stats__rowData stats__rowClicks">--</h2>
                </span>
            </div> -->

            <div ng-class="{'stats__row--open': showShareStats, 'stats__row--closed': !showShareStats, 'stats__row--noData': !SelfieManageCampaignStatsCtrl.hasViews }" class="stats__row stats__row--share">
                <div class="stats__column stats__columnGraph">
                    <div ng-style="{'width': ((SelfieManageCampaignStatsCtrl.totalShares / stats.views) * 100 | number:2) + '%' }" class="stats__columnGraph--bar"></div>
                </div>
                <button ng-click="showShareStats = !showShareStats" class="accordion__btn">
                    <i class="fa fa-chevron-right"></i>
                    <i class="fa fa-chevron-down"></i>
                    <h3 class="stats__label stats__label--total">Share Total</h3>
                </button>

                <span ng-if="!SelfieManageCampaignStatsCtrl.totalShares || !SelfieManageCampaignStatsCtrl.hasViews">
                    <h2 class="stats__rowData stats__rowClicks">--</h2>
                    <h2 class="stats__rowData stats__rowClicks">--</h2>
                </span>

                <span ng-if="SelfieManageCampaignStatsCtrl.totalShares && SelfieManageCampaignStatsCtrl.hasViews">
                    <h2 class="stats__rowData stats__rowClicks">{{(SelfieManageCampaignStatsCtrl.totalShares / stats.views) * 100 | number:2}}%</h2>
                    <h2 class="stats__rowData stats__rowClicks">{{SelfieManageCampaignStatsCtrl.totalShares}}</h2>
                </span>


                <div class="stats__subTable">
                    <div class="stats__row stats__sub-hdr">
                        <h3 class="stats__label">Type</h3>
                        <h3 class="stats__rowData stats__rowGraph">Graph</h3>
                        <h3 class="stats__rowData">Share Rate</h3>

                        <h3 class="stats__rowData">Clicks</h3>
                    </div>
                    <div class="stats__row stats__row--facebook">
                        <div class="stats__column stats__columnGraph">
                            <div ng-style="{'width': ((stats.shareClicks.facebook / stats.views) * 100 | number:2) + '%' }" class="stats__columnGraph--bar"></div>
                        </div>
                        <i class="fa fa-facebook"></i>
                        <h3 class="stats__label">Facebook</h3>
                        <span ng-if="!stats.shareClicks.facebook || !SelfieManageCampaignStatsCtrl.hasViews">
                            <h2 class="stats__rowData stats__rowClicks">--</h2>
                            <h2 class="stats__rowData stats__rowClicks">--</h2>
                        </span>
                        <span ng-if="stats.shareClicks.facebook && SelfieManageCampaignStatsCtrl.hasViews">
                            <h2 class="stats__rowData stats__rowClicks">{{(stats.shareClicks.facebook / stats.views) * 100 | number:2}}%</h2>
                            <h2 class="stats__rowData stats__rowClicks">{{stats.shareClicks.facebook}}</h2>
                        </span>
                    </div>
                    <div class="stats__row stats__row--twitter">
                        <div class="stats__column stats__columnGraph">
                            <div ng-style="{'width': ((stats.shareClicks.twitter / stats.views) * 100 | number:2) + '%' }" class="stats__columnGraph--bar"></div>
                        </div>
                        <i class="fa fa-twitter"></i>
                        <h3 class="stats__label">Twitter</h3>
                        <span ng-if="!stats.shareClicks.twitter || !SelfieManageCampaignStatsCtrl.hasViews">
                            <h2 class="stats__rowData stats__rowClicks">--</h2>
                            <h2 class="stats__rowData stats__rowClicks">--</h2>
                        </span>
                        <span ng-if="stats.shareClicks.twitter && SelfieManageCampaignStatsCtrl.hasViews">
                            <h2 class="stats__rowData stats__rowClicks">{{(stats.shareClicks.twitter / stats.views) * 100 | number:2}}%</h2>
                            <h2 class="stats__rowData stats__rowClicks">{{stats.shareClicks.twitter}}</h2>
                        </span>

                    </div>
                    <div class="stats__row stats__row--pinterest">
                        <div class="stats__column stats__columnGraph">
                            <div ng-style="{'width': ((stats.shareClicks.pinterest / stats.views) * 100 | number:2) + '%' }" class="stats__columnGraph--bar"></div>
                        </div>
                        <i class="fa fa-pinterest-p"></i>
                        <h3 class="stats__label">Pinterest</h3>
                        <span ng-if="!stats.shareClicks.pinterest || !SelfieManageCampaignStatsCtrl.hasViews">
                            <h2 class="stats__rowData stats__rowClicks">--</h2>
                            <h2 class="stats__rowData stats__rowClicks">--</h2>
                        </span>
                        <span ng-if="stats.shareClicks.pinterest && SelfieManageCampaignStatsCtrl.hasViews">
                            <h2 class="stats__rowData stats__rowClicks">{{(stats.shareClicks.pinterest / stats.views) * 100 | number:2}}%</h2>
                            <h2 class="stats__rowData stats__rowClicks">{{stats.shareClicks.pinterest}}</h2>
                        </span>

                    </div>
                </div>
            </div>

            <div ng-class="{'stats__row--open': showSocialStats, 'stats__row--closed': !showSocialStats, 'stats__row--noData': !SelfieManageCampaignStatsCtrl.hasViews }" class="stats__row stats__row--social">
                <div class="stats__column stats__columnGraph">
                    <div ng-style="{'width': ((SelfieManageCampaignStatsCtrl.totalSocialClicks / stats.views) * 100 | number:2) + '%' }" class="stats__columnGraph--bar"></div>
                </div>
                <button ng-click="showSocialStats = !showSocialStats" class="accordion__btn">
                    <i class="fa fa-chevron-right"></i>
                    <i class="fa fa-chevron-down"></i>
                    <h3 class="stats__label stats__label--total">Social Total</h3>
                </button>

                <span ng-if="!SelfieManageCampaignStatsCtrl.totalSocialClicks || !SelfieManageCampaignStatsCtrl.hasViews">
                    <h2 class="stats__rowData stats__rowClicks">--</h2>
                    <h2 class="stats__rowData stats__rowClicks">--</h2>
                </span>

                <span ng-if="SelfieManageCampaignStatsCtrl.totalSocialClicks && SelfieManageCampaignStatsCtrl.hasViews">
                    <h2 class="stats__rowData stats__rowClicks">{{(SelfieManageCampaignStatsCtrl.totalSocialClicks / stats.views) * 100 | number:2}}%</h2>
                    <h2 class="stats__rowData stats__rowClicks">{{SelfieManageCampaignStatsCtrl.totalSocialClicks}}</h2>
                </span>

                <div class="stats__subTable">
                    <div class="stats__row stats__sub-hdr">
                        <h3 class="stats__label">Type</h3>
                        <h3 class="stats__rowData stats__rowGraph">Graph</h3>
                        <h3 class="stats__rowData">CTR</h3>
                        <h3 class="stats__rowData">Clicks</h3>
                    </div>
                    <div class="stats__row stats__row--facebook">
                        <div class="stats__column stats__columnGraph">
                            <div ng-style="{'width': ((stats.linkClicks.facebook / stats.views) * 100 | number:2) + '%' }" class="stats__columnGraph--bar"></div>
                        </div>
                        <i class="fa fa-facebook"></i>
                        <h3 class="stats__label">Facebook</h3>
                        <span ng-if="!stats.linkClicks.facebook || !SelfieManageCampaignStatsCtrl.hasViews">
                            <h2 class="stats__rowClicks">--</h2>
                            <h2 class="stats__rowClicks">--</h2>
                        </span>
                        <span ng-if="stats.linkClicks.facebook && SelfieManageCampaignStatsCtrl.hasViews">
                            <h2 class="stats__rowData stats__rowClicks">{{(stats.linkClicks.facebook / stats.views) * 100 | number:2}}%</h2>
                            <h2 class="stats__rowData stats__rowClicks">{{stats.linkClicks.facebook}}</h2>
                        </span>
                    </div>
                    <div class="stats__row stats__row--twitter">
                        <div class="stats__column stats__columnGraph">
                            <div ng-style="{'width': ((stats.linkClicks.twitter / stats.views) * 100 | number:2) + '%' }" class="stats__columnGraph--bar"></div>
                        </div>
                        <i class="fa fa-twitter"></i>
                        <h3 class="stats__label">Twitter</h3>
                        <span ng-if="!stats.linkClicks.twitter || !SelfieManageCampaignStatsCtrl.hasViews">
                            <h2 class="stats__rowData stats__rowClicks">--</h2>
                            <h2 class="stats__rowData stats__rowClicks">--</h2>
                        </span>
                        <span ng-if="stats.linkClicks.twitter && SelfieManageCampaignStatsCtrl.hasViews">
                            <h2 class="stats__rowData stats__rowClicks">{{(stats.linkClicks.twitter / stats.views) * 100 | number:2}}%</h2>
                            <h2 class="stats__rowData stats__rowClicks">{{stats.linkClicks.twitter}}</h2>
                        </span>
                    </div>
                    <div class="stats__row stats__row--instagram">
                        <div class="stats__column stats__columnGraph">
                            <div ng-style="{'width': ((stats.linkClicks.instagram / stats.views) * 100 | number:2) + '%' }" class="stats__columnGraph--bar"></div>
                        </div>
                        <i class="fa fa-instagram"></i>
                        <h3 class="stats__label">Instagram</h3>
                        <span ng-if="!stats.linkClicks.instagram || !SelfieManageCampaignStatsCtrl.hasViews">
                            <h2 class="stats__rowData stats__rowClicks">--</h2>
                            <h2 class="stats__rowData stats__rowClicks">--</h2>
                        </span>
                        <span ng-if="stats.linkClicks.instagram && SelfieManageCampaignStatsCtrl.hasViews">
                            <h2 class="stats__rowData stats__rowClicks">{{(stats.linkClicks.instagram / stats.views) * 100 | number:2}}%</h2>
                            <h2 class="stats__rowData stats__rowClicks">{{stats.linkClicks.instagram}}</h2>
                        </span>
                    </div>
                    <div class="stats__row stats__row--youtube">
                        <div class="stats__column stats__columnGraph">
                            <div ng-style="{'width': ((stats.linkClicks.youtube / stats.views) * 100 | number:2) + '%' }" class="stats__columnGraph--bar"></div>
                        </div>
                        <i class="fa fa-youtube-play"></i>
                        <h3 class="stats__label">YouTube</h3>
                        <span ng-if="!stats.linkClicks.youtube || !SelfieManageCampaignStatsCtrl.hasViews">
                            <h2 class="stats__rowData stats__rowClicks">--</h2>
                            <h2 class="stats__rowData stats__rowClicks">--</h2>
                        </span>
                        <span ng-if="stats.linkClicks.youtube && SelfieManageCampaignStatsCtrl.hasViews">
                            <h2 class="stats__rowData stats__rowClicks">{{(stats.linkClicks.youtube / stats.views) * 100 | number:2}}%</h2>
                            <h2 class="stats__rowData stats__rowClicks">{{stats.linkClicks.youtube}}</h2>
                        </span>
                    </div>
                    <div class="stats__row stats__row--vimeo">
                        <div class="stats__column stats__columnGraph">
                            <div ng-style="{'width': ((stats.linkClicks.vimeo / stats.views) * 100 | number:2) + '%' }" class="stats__columnGraph--bar"></div>
                        </div>
                        <i class="fa fa-vimeo"></i>
                        <h3 class="stats__label">Vimeo</h3>
                        <span ng-if="!stats.linkClicks.vimeo || !SelfieManageCampaignStatsCtrl.hasViews">
                            <h2 class="stats__rowData stats__rowClicks">--</h2>
                            <h2 class="stats__rowData stats__rowClicks">--</h2>
                        </span>
                        <span ng-if="stats.linkClicks.vimeo && SelfieManageCampaignStatsCtrl.hasViews">
                            <h2 class="stats__rowData stats__rowClicks">{{(stats.linkClicks.vimeo / stats.views) * 100 | number:2}}%</h2>
                            <h2 class="stats__rowData stats__rowClicks">{{stats.linkClicks.vimeo}}</h2>
                        </span>
                    </div>
                    <div class="stats__row stats__row--pinterest">
                        <div class="stats__column stats__columnGraph">
                            <div ng-style="{'width': ((stats.linkClicks.pinterest / stats.views) * 100 | number:2) + '%' }" class="stats__columnGraph--bar"></div>
                        </div>
                        <i class="fa fa-pinterest-p"></i>
                        <h3 class="stats__label">Pinterest</h3>
                        <span ng-if="!stats.linkClicks.pinterest || !SelfieManageCampaignStatsCtrl.hasViews">
                            <h2 class="stats__rowData stats__rowClicks">--</h2>
                            <h2 class="stats__rowData stats__rowClicks">--</h2>
                        </span>
                        <span ng-if="stats.linkClicks.pinterest && SelfieManageCampaignStatsCtrl.hasViews">
                            <h2 class="stats__rowData stats__rowClicks">{{(stats.linkClicks.pinterest / stats.views) * 100 | number:2}}%</h2>
                            <h2 class="stats__rowData stats__rowClicks">{{stats.linkClicks.pinterest}}</h2>
                        </span>
                    </div>
                </div>
            </div>
        </div><!-- .grid__item .one-whole -->
    </div><!-- .grid -->

    <!--<div class="grid grid--center">
        <div class="grid__item one-whole grid--center" ng-if="SelfieManageCampaignCtrl.stats[0].summary">
            <h1 class="tk--hdr text--center">Interactions</h1>
            <div class="helpBox helpBox--center">
                <div class="formhelpText">
                    This table shows how many viewers watched what percentage of your video.
                </div>
            </div>
            <div interactions-piechart class="chart__wrap grid--right grid--middle" stats="SelfieManageCampaignCtrl.stats[0].summary">
                <div class="grid__item one-half">
                    <div class="grid">
                        <canvas width="800" height="600"></canvas>
                    </div>
                </div>--><!--
                --><!--<div class="grid__item one-quarter">
                    <div id="js-legend"></div>
                </div>
            </div>
        </div>
    </div><!--.grid .grid--center-->
</div>