<nav class="mainNav__group">
    <div class="mainNav__dashboard">
        <a c6-sref="Selfie:CampaignDashboard" title="Campaigns" class="mainNav__campaigns"><span class="rc__logo--square"><span class="ir">Reelcontent</span></span></a>
    </div>
    <!--<div class=" mainNav__item--active"><!-- add "mainNav__item--active" class to div to highlight current nav item-->
    <a c6-sref="Selfie:Pending:CampaignDashboard" c6-params="{pending: 'true'}" title="Pending Tasks" class="mainNav__campaigns mainNav__item"><i class="fa fa-clock-o mainNav__iconOnly"></i><span class="mainNav__label">Awaiting Approval</span></a>
    <a c6-sref="Selfie:All:CampaignDashboard" c6-params="{}" title="Campaigns" class="mainNav__campaigns mainNav__item"><i class="fa fa-flag mainNav__iconOnly"></i><span class="mainNav__label">Campaigns</span></a>
    <a c6-sref="Selfie:Account" c6-params="{}" title="Account Settings" class="mainNav__settings mainNav__item"><i class="fa fa-cog mainNav__iconOnly"></i><span class="mainNav__label">Account Settings</span></a>
    <a href="http://www.reelcontent.com/support/" target="_blank" c6-params="{}" title="Support" class="mainNav__settings mainNav__item"><i class="fa fa-question-circle mainNav__iconOnly"></i><span class="mainNav__label">Support</span></a>

    <!-- <a href="archives.html" title="Archives" class="mainNav__archives mainNav__item"><i class="fa fa-archive mainNav__iconOnly"></i><span class="mainNav__label">Archives</span></a> -->

    <div class="mainNav__logout mainNav__item" title="Logout">
        <button class="mainNav__btn" ng-click="SelfieCtrl.logout()"> <i class="fa fa-power-off mainNav__iconOnly"></i>Logout</button>
    </div>

</nav>
<c6-view></c6-view>
<confirm-dialog></confirm-dialog>
<selfie-login-dialog></selfie-login-dialog>
<selfie-campaign-summary></selfie-campaign-summary>
<spinner></spinner>
<!--Spinners on a button -->
<!-- add class "btnSpinner__waiting" to the button-->
