<nav class="mainNav__group">
    <div class="mainNav__dashboard">
        <img src="styles/selfie/img/c6-logo-square.png">
    </div>
    <!--<div class=" mainNav__item--active"><!-- add "mainNav__item--active" class to div to highlight current nav item-->
    <a c6-sref="#" title="Pending Tasks" class="mainNav__campaigns mainNav__item"><i class="fa fa-clock-o mainNav__iconOnly"></i><span class="mainNav__label">Waiting Approval</span></a>
    <a c6-sref="Selfie:CampaignDashboard" title="Campaigns" class="mainNav__campaigns mainNav__item"><i class="fa fa-flag mainNav__iconOnly"></i><span class="mainNav__label">Campaigns</span></a>

    <a href="archives.html" title="Archives" class="mainNav__archives mainNav__item"><i class="fa fa-archive mainNav__iconOnly"></i><span class="mainNav__label">Archives</span></a>
    

    <div c6-sref="Selfie:Account" c6-params="{}" class="mainNav__settings mainNav__item" title="Settings">
        <i class="fa fa-cog mainNav__iconOnly"></i>
        <span class="mainNav__label">Settings</span>
        <ul class="mainNav__dropDownGroup" style="list-style: none;">
            <li class="mainNav__dropDownItem"><a c6-sref="Selfie:Account" c6-params="{}">Settings</a></li>
            <li class="mainNav__dropDownItem"><button ng-click="SelfieCtrl.logout()">Logout</button></li>
            </ul>
    </div>

</nav>
<c6-view></c6-view>
<confirm-dialog></confirm-dialog>