<main c6-alias="SelfieCampaignsCtrl.model.items.value as campaigns">

<div class="pageHolder">


    <header class="pageHeader__group">
        <div class="mainHeader__group">
         <div class="grid">
            <div class="grid__item one-third">
            <h1 class="mainHeader__breadcrumbs tk--hdr">
                Campaigns 
            </h1>
            <span class="filterBtn__group" c6-click-outside="showDropdown = false">
                <button class="btn filterBtn btn--primary btn--small btn__nav" ng-click="showDropdown = !showDropdown" type="button"><span class="ui__clickDrop sortBar__btn--Dropdown"><i class="faa fa-filter"></i></span></button>
                <ul class="ui__clickDropMenu" ng-show="showDropdown">
                    <li ng-repeat="filter in SelfieCampaignsCtrl.filters" class="ui__clickDropBtn" type="button" title="Select All">
                        <label class="checkbox--inline"><input type="checkbox" class="checkbox__input" name="statusFilter" value="filter.name" ng-model="filter.checked" ng-change="SelfieCampaignsCtrl.toggleFilter($index)"> <span class="btn__label faa">{{filter.name}}</span></label>
                    </li>
                </ul>
            </span>
            </div><!--
        --><div class="grid__item one-third search__group text--center">
                <form ng-submit="SelfieCampaignsCtrl.doSearch(searchText)">
                    <input type="text" placeholder="Search" class="form__textBox" ng-model="searchText">
                    <button class="searchBtn action__btnSecondary action__btnSecondary--small" type="submit">Go</button>
                </form>
            </div><!--
        --><div class="grid__item one-third itemActions__group text--right">
               <button c6-sref="Selfie:NewCampaign" c6-params="{}" title="New Campaign" class="action__btn action__btn--small" type="button">
                <i class="fa fa-plus"></i>
                    New Campaign
                </button>
            </div>
        </div>
        </div><!--.mainHeader__group-->
        <div class="sortBar__group">
            <ul class="sortBar__list clearfix">
                <li class="sortBar__item sortBar__item--sortable column__status">
                    <button class="sortBar__btn" type="button" ng-click="SelfieCampaignsCtrl.toggleSort('lastUpdated')" ng-class="{ 'sortBar__btn--asc' : SelfieCampaignsCtrl.sort === 'lastUpdated,-1', 'sortBar__btn--desc' : SelfieCampaignsCtrl.sort === 'lastUpdated,1' }">Modified on</button>
                </li>
                <li class="sortBar__item sortBar__item--sortable column__sponsor">
                    <button class="sortBar__btn" type="button" ng-click="SelfieCampaignsCtrl.toggleSort('advertiserDisplayName')" ng-class="{ 'sortBar__btn--asc' : SelfieCampaignsCtrl.sort === 'advertiserDisplayName,1', 'sortBar__btn--desc' : SelfieCampaignsCtrl.sort === 'advertiserDisplayName,-1' }">Sponsor</button>
                </li>
                <li class="sortBar__item sortBar__item--sortable column__campaignName">
                    <button class="sortBar__btn" type="button" ng-click="SelfieCampaignsCtrl.toggleSort('name')" ng-class="{ 'sortBar__btn--asc' : SelfieCampaignsCtrl.sort === 'name,1', 'sortBar__btn--desc' : SelfieCampaignsCtrl.sort === 'name,-1' }">Campaign Name</button>
                </li>
                <li class="sortBar__item column__totalViews">
                    <button class="sortBar__colName" type="button">Total Views</button>
                </li>
                <li class="sortBar__item column__totalSpending">
                    <button class="sortBar__colName" type="button">Total Spending</button>
                </li>
                <li class="sortBar__item column__budget">
                    <button class="sortBar__colName" type="button">Budget</button>
                </li>
                <li class="sortBar__item column__summaryTotals">
                    <button class="sortBar__btn" type="button">Views</button> /
                    <button class="sortBar__btn" type="button">Spend</button> /
                    <button class="sortBar__btn" type="button">Budget</button>
                </li>
            </ul><!--.sortBar__list-->
        </div><!--.sortBar__group-->
    </header><!--.pageHeader__group-->



    <ul class="campaigns__list">

        <!-- empty campaign list message -->
        <li class="campaign__item--empty text--center" ng-if="!campaigns.length">
            <i class="fa fa-file-video-o huge--icon"></i>
            <h2 class="tk--hdr">You don't have any campaigns!</h2>
            <h1 class="tk--hdr">Let's get you started...</h1>
            <div>

            <button c6-sref="Selfie:NewCampaign" c6-params="{}" class="action__btn action__btn--small"><i class="fa fa-plus"></i> Create A Campaign</button><br>
            <!-- <a href="support.html">Need Help?</a> --> <!-- replace this link with actual support link -->
            </div>
        </li>
        <!-- empty campaign list message ends -->

        <li class="campaign__item campaign__item--{{$this.status}} clearfix"
        ng-repeat="$this in campaigns track by $this.id"
        c6-sref="{{SelfieCampaignsCtrl.editStateFor($this)}}" c6-models="[$this]" c6-params="{}">

            <!--popoverItem__group ends-->
            <div class="popoverItem__group budget__popover fade left in editable-container editable-popup" style="top: -20px; left: auto; right: 120px; display: none;">
               <div class="arrow"></div>
               <div class="popoverItem__groupContent budget__popoverContent">
                  <div class="form__items">
                     <form class="form-inline" style="">
                        <div class="control-group form-group budget__popoverItems">
                                 <div class="budget__popoverItem--edit"><fieldset class="form__item"><label>Campaign Budget<input type="text" name="city" class="input-small"><span class="input__unit">$</span></label></fieldset></div>
                                 <div class="budget__popoverItem--edit"><fieldset class="form__item"><label>Daily Max<input type="text" name="street" class="input-small"><span class="input__unit">$</span></label></fieldset></div>
                                 <button type="submit" class="action__btn action__btn--small editable-submit">Update</button>
                              <p style="margin: 0;">Your calculated cost per 1000 video plays is $50.00. A video must play for a minimum of 3 seconds to count as a play.</p>
                        </div>
                     </form>
                  </div>
               </div>
            </div><!--popoverItem__group ends-->

            <div class="campaign__column column__status">
                <span class="campaign__status">{{$this.status}}</span>
                <span class="campaign__date">{{$this.lastUpdated | date:'M/d/yyyy'}}</span>
            </div><!--.column__status-->

            <div class="campaign__column column__sponsor">
                <div class="thumbnail__box campaign__thumbnail" title="{{$this.name}}">
                    <span class="thumbnail">
                        <img class="thumbnail__img" ng-src="{{SelfieCampaignsCtrl.metaData[$this.id].thumb}}" alt="">
                    </span>
                </div>
                <div class="campaign__sponsorInfo">
                    <div class="thumbnail__box campaign__sponsorLogo">
                        <span class="thumbnail">
                            <img class="thumbnail__img" ng-src="{{SelfieCampaignsCtrl.metaData[$this.id].logo}}" alt="">
                        </span>
                    </div>
                    <div class="campaign__sponsorName">{{$this.advertiserDisplayName}}</div>
                </div>
            </div><!--.column__sponsor-->

            <div class="campaign__column column__campaignName">
                <h1 class="campaign__name tk--hdr">
                    {{$this.name}}
                </h1>
                <div ng-if="SelfieCampaignsCtrl.metaData[$this.id].user" class="campaign__owner text--small">by <em>{{SelfieCampaignsCtrl.metaData[$this.id].user.firstName}} {{SelfieCampaignsCtrl.metaData[$this.id].user.lastName}}</em> for <em>{{SelfieCampaignsCtrl.metaData[$this.id].user.company}}</em></div>
                <span ng-if="$this.rejectionReason"><span class="alertLabel alertLabel__failure alertLabel--small">Rejected</span> We're sorry, this campaign has been rejected. {{$this.rejectionReason}}</span>
                <span ng-if="$this.updateRequest"><span class="alertLabel alertLabel__warning alertLabel--small">Pending</span> Your update request is being processed...</span>
            </div><!--.column__campaignName-->

            <div class="campaign__column column__totalViews">
                <span class="campaign__viewTotal">
                    <span ng-if="SelfieCampaignsCtrl.metaData[$this.id].stats.views"><i class="fa fa-play-circle"></i> {{SelfieCampaignsCtrl.metaData[$this.id].stats.views | number}}</span>
                    <span ng-if="!SelfieCampaignsCtrl.metaData[$this.id].stats.views">--</span>
                </span>
                <!--<span class="campaign__viewDelta">
                    <i class="fa fa-arrow-circle-up"></i> 4,587
                </span>
                <div class="campaign__viewChart">&nbsp;</div>-->
            </div><!--.column__totalViews-->

            <div class="campaign__column column__totalSpending">
                <span class="campaign__spendTotal">
                    <span ng-if="SelfieCampaignsCtrl.metaData[$this.id].stats.spend"><strong>$</strong> {{SelfieCampaignsCtrl.metaData[$this.id].stats.spend | number}}</span>
                    <span ng-if="!SelfieCampaignsCtrl.metaData[$this.id].stats.spend">--</span>
                </span>
                <!--<span class="campaign__spendDelta">
                    <i class="fa fa-arrow-circle-up"></i> $1,239.25
                </span>
                <div class="campaign__viewChart">&nbsp;</div>-->
            </div><!--.column__totalSpending-->

            <div class="campaign__column column__budget">
                <div class="campaign__budgetInfo">
                    <span class="campaign__budgetNumbers">
                        <span class="budget__label">T<span class="fullText">otal</span>:</span>
                        <span ng-if="$this.pricing.budget" class="campaign__budgetEdit"><strong>$</strong> {{$this.pricing.budget | number}}</span>
                        <span ng-if="!$this.pricing.budget">--</span>
                    </span>
                    <span class="campaign__budgetNumbers">
                        <span class="budget__label">D<span class="fullText">aily</span>:</span>
                        <span ng-if="$this.pricing.dailyLimit" class="campaign__budgetEdit"><strong>$</strong> {{$this.pricing.dailyLimit | number}}</span>
                        <span ng-if="!$this.pricing.dailyLimit">--</span>
                    </span>
                </div>
            </div><!--.column__budget-->

            <div class="campaign__column column__summaryTotals">
                <div class="campaign__budgetInfo">
                    <span class="campaign__budgetNumbers">
                        <span class="budget__label">Views:</span>
                        <span ng-if="SelfieCampaignsCtrl.metaData[$this.id].stats.views"><i class="fa fa-play-circle"></i> {{SelfieCampaignsCtrl.metaData[$this.id].stats.views}}</span>
                        <span ng-if="!SelfieCampaignsCtrl.metaData[$this.id].stats.views">--</span>
                    </span>
                    <span class="campaign__budgetNumbers">
                        <span class="budget__label">Spend:</span>
                        <span ng-if="SelfieCampaignsCtrl.metaData[$this.id].stats.spend"><strong>$</strong> {{SelfieCampaignsCtrl.metaData[$this.id].stats.spend}}</span>
                        <span ng-if="!SelfieCampaignsCtrl.metaData[$this.id].stats.spend">--</span>
                    </span>
                    <span class="campaign__budgetNumbers">
                        <span class="budget__label">Budget:</span>
                        <span ng-if="$this.pricing.budget"><strong>$</strong> {{$this.pricing.budget | number}}</span>
                        <span ng-if="!$this.pricing.budget">--</span>
                    </span>
                </div>
            </div><!--.column__summaryTotals-->

        </li><!--.campaign__item-->

    </ul><!--.campaigns__list-->


    <footer class="dockedFooter__group">
        <div class="paginator__group clearfix">
 <paginator-controls page="SelfieCampaignsCtrl.page" limit="SelfieCampaignsCtrl.limit" limits="SelfieCampaignsCtrl.limits" total="SelfieCampaignsCtrl.model.items.page.total"></paginator-controls>
             <div class="paginator__readout" c6-alias="SelfieCampaignsCtrl.model.items.value.meta.items as items">
                <span ng-show="campaigns.length">Displaying <strong>{{items.start}} &ndash; {{items.end}}</strong> &nbsp;of&nbsp; {{items.total}} Campaigns</span>
                <span ng-show="!campaigns.length">0 Campaigns</span>
            </div><!--.paginator__readout-->


        </div><!--.paginator__group-->
    </footer><!--.dockedFooter__group-->

</main>
<c6-view></c6-view>


</div><!--.pageHolder-->