<main c6-alias="SelfieCampaignsCtrl.model.items.value as campaigns">

<nav class="mainNav__group">
    
</nav>

<div class="pageHolder">
    

    <header class="pageHeader__group">
        <div class="mainHeader__group">
            <h1 class="mainHeader__breadcrumbs tk--hdr">
                Campaigns
            </h1>
            <div class="pageHeader__actions">
                <button c6-sref="Selfie:NewCampaign" title="New Campaign" class="action__btn action__btn--small" type="button">
                    <i class="fa fa-plus"></i>
                    New Campaign
                </button>
            </div>
        </div><!--.mainHeader__group-->
        <div class="sortBar__group">
            <ul class="sortBar__list clearfix">
                <li class="sortBar__item column__status">
                    <button class="sortBar__btn sortBar__btn--asc" type="button">Status</button>
                </li>
                <li class="sortBar__item column__sponsor">
                    <button class="sortBar__btn" type="button">Sponsor</button>
                </li>
                <li class="sortBar__item column__campaignName">
                    <button class="sortBar__btn" type="button">Campaign Name</button>
                </li>
                <li class="sortBar__item column__totalViews">
                    <button class="sortBar__colName" type="button">Total Views</button>
                </li>
                <li class="sortBar__item column__totalSpending">
                    <button class="sortBar__colName" type="button">Total Spending</button>
                </li>
                <li class="sortBar__item column__budget">
                    <button class="sortBar__colName" type="button">Budget</button>
                </li>
                <li class="sortBar__item column__summaryTotals">
                    <button class="sortBar__btn" type="button">Views</button> /
                    <button class="sortBar__btn" type="button">Spend</button> /
                    <button class="sortBar__btn" type="button">Budget</button>
                </li>
            </ul><!--.sortBar__list-->
        </div><!--.sortBar__group-->
    </header><!--.pageHeader__group-->



    <ul class="campaigns__list">
        
        <li class="campaign__item campaign__item--{{$this.status}} clearfix" 
        ng-repeat="$this in campaigns track by $this.id"
        c6-sref="Selfie:EditCampaign" c6-models="[$this]" c6-params="{}" >
            
            <div class="campaign__column column__status">
                <span class="campaign__status">{{$this.status}}</span>
                <span class="campaign__date">{{$this.created | date:'M/d/yyyy'}}</span>
            </div><!--.column__status-->
            
            <div class="campaign__column column__sponsor">
                <div class="thumbnail__box campaign__thumbnail" title="CAMPAIGN NAME">
                    <span class="thumbnail">
                        <img class="thumbnail__img" src="http://www.lorempixel.com/300/300/" alt="CAMPAIGN NAME">
                    </span>
                </div>
                <div class="campaign__sponsorInfo">
                    <div class="thumbnail__box campaign__sponsorLogo">
                        <span class="thumbnail">
                            <img class="thumbnail__img" src="http://www.lorempixel.com/50/50/" alt="SPONSOR NAME">
                        </span>
                    </div>
                    <div class="campaign__sponsorName">Walt Disney Animation Studios</div>
                </div>
            </div><!--.column__sponsor-->
            
            <div class="campaign__column column__campaignName">
                <h1 class="campaign__name tk--hdr">
                    {{$this.name}}
                </h1>
            </div><!--.column__campaignName-->

            <div class="campaign__column column__totalViews">
                <span class="campaign__viewTotal">
                    <i class="fa fa-play-circle"></i> 1,235,032
                </span>
                <span class="campaign__viewDelta">
                    <i class="fa fa-arrow-circle-up"></i> 4,587
                </span>
                <div class="campaign__viewChart">&nbsp;</div>
            </div><!--.column__totalViews-->
            
            <div class="campaign__column column__totalSpending">
                <span class="campaign__spendTotal">
                    <strong>$</strong> 361,051.39
                </span>
                <span class="campaign__spendDelta">
                    <i class="fa fa-arrow-circle-up"></i> $1,239.25
                </span>
                <div class="campaign__viewChart">&nbsp;</div>
            </div><!--.column__totalSpending-->
            
            <div class="campaign__column column__budget">
                <div class="campaign__budgetInfo">
                    <span class="campaign__budgetNumbers">
                        <span class="budget__label">T<span class="fullText">otal</span>:</span>
                        <strong>$</strong> 950,000.00
                    </span>
                    <span class="campaign__budgetNumbers">
                        <span class="budget__label">D<span class="fullText">aily</span>:</span>
                        <strong>$</strong> 500.00
                    </span>
                </div>
            </div><!--.column__budget-->

            <div class="campaign__column column__summaryTotals">
                <div class="campaign__budgetInfo">
                    <span class="campaign__budgetNumbers">
                        <span class="budget__label">Views:</span>
                        <i class="fa fa-play-circle"></i> 1,235,032
                    </span>
                    <span class="campaign__budgetNumbers">
                        <span class="budget__label">Spend:</span>
                        <strong>$</strong> 361,051.39
                    </span>
                    <span class="campaign__budgetNumbers">
                        <span class="budget__label">Budget:</span>
                        <strong>$</strong> 950,000.00
                    </span>
                </div>
            </div><!--.column__summaryTotals-->

        </li><!--.campaign__item-->

    </ul><!--.campaigns__list-->



    <footer class="dockedFooter__group">
        <div class="paginator__group clearfix">

            
            <div class="paginator__readout" c6-alias="SelfieCampaignsCtrl.model.items.value.meta.items as items">
                <span ng-show="campaigns.length">Viewing <strong>{{items.start}} &ndash; {{items.end}}</strong> &nbsp;of&nbsp; {{items.total}} Campaigns</span>
                <span ng-show="!campaigns.length">0 Campaigns</span>
            </div><!--.paginator__readout-->


        </div><!--.paginator__group-->
    </footer><!--.dockedFooter__group-->




<section class="container">
    <header class="tableHeader__group clearfix">
        <paginator-controls page="SelfieCampaignsCtrl.page" limit="SelfieCampaignsCtrl.limit" limits="SelfieCampaignsCtrl.limits" total="SelfieCampaignsCtrl.model.items.page.total"></paginator-controls>
        <nav class="selectorActions__group">
            <div class="selectorActions__selector">
                <label class="checkbox--inline selectorActions__selectorCheckBox">
                    <input type="checkbox" ng-model="SelfieCampaignsCtrl.allAreSelected" class="checkbox__input">
                    <span class="btn__label faa">&nbsp;</span>
                </label>
                <button ng-click="SelfieCampaignsCtrl.dropDowns.select.toggle()" c6-click-outside="SelfieCampaignsCtrl.dropDowns.select.hide()" class="btn faa fa-caret-down ui__clickDrop">&nbsp;</button>
                <div ng-show="SelfieCampaignsCtrl.dropDowns.select.shown" class="pager__itemsPerPage ui__clickDropMenu">
                    <button class="ui__clickDropBtn" type="button" 
                    title="Select All" 
                    ng-show="!SelfieCampaignsCtrl.allAreSelected" 
                    ng-click="SelfieCampaignsCtrl.model.selectAll()">
                        Select All
                    </button>
                    <button class="ui__clickDropBtn" type="button" 
                    title="Select None" 
                    ng-show="SelfieCampaignsCtrl.model.getSelected().length > 0"
                    ng-click="SelfieCampaignsCtrl.model.selectNone()">
                        Select None
                    </button>
                </div>
            </div>
            <div class="btnGroup__animator">
                <div class="btnGroup clearfix" 
                ng-show="SelfieCampaignsCtrl.model.getSelected().length > 0">
                    <button class="btn btn--primary" type="button" title="Delete" ng-click="SelfieCampaignsCtrl.remove(SelfieCampaignsCtrl.model.getSelected())">
                        <span class="btn__label">Delete</span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <div class="tableBody__group">
        <ul class="miniReels__list grid">
            <li class="miniReels__item grid__item" ng-show="!campaigns.length">
                <article class="miniReels__welcomeMsg">
                    <p><a c6-sref="Selfie:NewCampaign" class="btnAction btnAction--primary">Create Campaign</a></p>
                </article>
            </li>

            
        </ul>
    </div>
    <footer class="tableFooter__group">
        <paginator-controls page="SelfieCampaignsCtrl.model.page" limit="SelfieCampaignsCtrl.limit" limits="SelfieCampaignsCtrl.limits" total="SelfieCampaignsCtrl.model.items.page.total"></paginator-controls>
        <p class="tableFooter__displayText" c6-alias="SelfieCampaignsCtrl.model.items.value.meta.items as items">
            <span ng-show="campaigns.length">Displaying <strong>{{items.start}}-{{items.end}}</strong> of {{items.total}} Campaigns</span>
            <span ng-show="!campaigns.length">0 Campaigns</span>
        </p>
    </footer>
</section>
</main>
<c6-view></c6-view>


</div><!--.pageHolder-->