<div class="prelogin__gridHolder">
    <div class="grid grid--center">
        <form class="forgotpass__form" ng-submit="ForgotPasswordCtrl.submit()">
        <div class="grid__item one-whole">
        <div class="brandingHead">
            <h1 class="text--center tk--hdr"><img src="styles/selfie/img/cinema6-logo.png" /><span class="ir">Cinema6</span></h1>
        </div>
         <p class="subAction text--center">Enter your email to reset password</p>
            <div class="form__items">
                <fieldset class="form__item">
                    <input class="form__textBox form__fillCheck" type="email" id="c6-username" name="email" ng-model="ForgotPasswordCtrl.model.email" autofocus autocomplete="off">
                    <label class="form__label" for="c6-username">
                        <i class="fa fa-times ui--error"></i> 
                        Email
                    </label>
                    <div class="form__helpBox form__helpBox--right">
                        <div class="form__helpText">
                            Please enter your email associated with the account
                        </div>
                    </div>
                    <div class="form__errorBox" ng-show="ForgotPasswordCtrl.wasSuccessful === false">
                        <p class="form__errorMsg">
                            <i class="fa fa-exclamation-triangle"></i> {{ForgotPasswordCtrl.errorMessage}}
                        </p>
                    </div>
                </fieldset>
                <div class="ui__btnHolder">
                    <button class="action__btn action__btn--full">Reset Password</button>
                </div>
                <div class="subActions__box">
                    <p class="subAction text--center">Don't need to reset? <a c6-sref="Selfie:Login">Back to login</a></p>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>