<div class="prelogin__gridHolder">
    <div class="grid grid--center">
        <form class="forgotpass__form" name="form" ng-submit="ResetPasswordCtrl.submit()" c6-alias="ResetPasswordCtrl.model.passwords as passwords">
        <div class="grid__item one-half">
        <div class="brandingHead">
            <h1 class="text--center tk--hdr"><span class="rc__logo logo--center"></span><span class="ir">Reelcontent</span></h1>
        </div>
         <p class="subAction text--center">New password</p>
            <div class="form__items">
                <fieldset class="form__item" blur-validate="password1" ng-class="{'ui--hasError': !form.password1.$valid }">
                    <input c6-fill-check class="form__textBox form__fillCheck" id="password1" type="password" name="password1" ng-model="passwords[0]" autocomplete="off" ng-minlength="8" ng-maxlength="128" ng-pattern="ResetPasswordCtrl.pattern" ng-trim="false">
                    <label class="form__label" for="password1">
                        <i class="fa fa-times ui--error"></i>
                        New password
                    </label>
                    <div class="form__helpBox form__helpBox--right">
                        <div class="form__helpText">
                            Please enter your new password
                        </div>
                    </div>
                    <div class="form__errorBox">
                        <p class="form__errorMsg">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span class="typo--danger" ng-show="form.password1.$valid"> Required </span>
                            <span class="typo--danger" ng-show="form.password1.$error.minlength"> Must be at least 8 numbers or letters </span>
                            <span class="typo--danger" ng-show="form.password1.$error.maxlength"> Too long </span>
                            <span class="typo--danger" ng-show="form.password1.$error.pattern"> Spaces not allowed</span>
                        </p>
                    </div>
                </fieldset>
                <fieldset class="form__item" ng-class="{'ui--hasError': (passwords[1].length) && (passwords[0] !== passwords[1]) }">
                    <input c6-fill-check class="form__textBox form__fillCheck" id="password2" type="password" name="password2" ng-model="passwords[1]" autocomplete="off" ng-required="form.password1.$error.required" ng-trim="false">
                    <label class="form__label" for="password2">
                        <i class="fa fa-times ui--error"></i>
                        Confirm password
                    </label>
                    <div class="form__helpBox form__helpBox--right">
                        <div class="form__helpText">
                            Please confirm your new password
                        </div>
                    </div>
                    <div class="form__errorBox">
                        <p class="form__errorMsg">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span class="typo--danger" ng-show="(passwords[1].length) && (passwords[0] !== passwords[1])"> Do not match </span>
                        </p>
                    </div>
                </fieldset>
                <div class="ui__btnHolder">
                    <button class="action__btn action__btn--full" ng-disabled="!form.$valid || (passwords[1].length) && (passwords[0] !== passwords[1])">Reset Password</button>
                </div>
                <div class="subActions__box">
                    <p class="subAction text--center"> <a c6-sref="Selfie:Login">Return to login screen</a></p>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>