<div class="prelogin__gridHolder">
    <div class="grid grid--center grid--middle">
        <div class="grid__item one-whole">
        <div class="brandingHead">
            <h1 class="text--center tk--hdr"><img src="styles/selfie/img/reelcontent-logo.png" /><span class="ir">Reelcontent</span></h1>
        </div>
        <h2 class="tk--hdr text--center">Please Activate Your Account</h2>
        <p class="subAction text--center">Please check your email for activation link.</p>
        <p class="subAction text--center">Didn't get the email? <a ng-click="SelfieResendActivationCtrl.resend()">Resend Account Activation link</a>.</p>

        <p>
        {{SelfieResendActivationCtrl.model}}
        </p>

        <p class="subAction text--center">
            <button ng-click="SelfieResendActivationCtrl.logout()">Return to login screen</button>
        </p>
        </div>
    </div>
</div>