<div class="prelogin__gridHolder">
    <div class="grid grid--center grid--middle">
        <div class="grid__item one-whole">
            <div class="brandingHead">
                <h1 class="text--center tk--hdr"><img src="styles/selfie/img/cinema6-logo.png" /><span class="ir">Cinema6</span></h1>
            </div>
            <h2 class="tk--hdr text--center">Activate Your Account</h2>
            <p ng-show="SelfieSignUpSuccessCtrl.model.email" class="subAction text--center">Thank you for signing up for the Selfie Platform!<br>Please check <b>{{SelfieSignUpSuccessCtrl.model.email}}</b> for activation link.</p>
            <p class="subAction text--center">Didn't get the email?<br><a ng-click="SelfieSignUpSuccessCtrl.logout()">Login</a> in order to resend the confirmation link.</p>
        </div>
    </div>
</div>