<div class="signup__gridHolder">
    <div class="grid one-whole">
        <div class="grid__item">
            <h1 class="tk--hdr"><img src="styles/selfie/img/cinema6-logo.png" /><span class="ir">Cinema6</span></h1>
        </div>
        <div class="grid__item one-half">
            <h2 class="tk--hdr">Sign up</h2>
            <div class="grid grid--center">
                <div class="form__items form--narrow">
                    <fieldset class="form__item">
                        <input class="form__textBox form__fillCheck" type="text" id="c6-name">
                        <label class="form__label" for="c6-password">
                            <i class="fa fa-times ui--error"></i>
                            Name
                        </label>
                        <div class="form__helpBox form__helpBox--right">
                            <div class="form__helpText">
                                Please enter your First and Last name
                            </div>
                        </div>
                        <div class="form__errorBox">
                            <p class="form__errorMsg">
                                <i class="fa fa-exclamation-triangle"></i> Error message goes here
                            </p>
                        </div>
                    </fieldset>
                    <fieldset class="form__item">
                        <input class="form__textBox form__fillCheck" type="text" id="c6-company">
                        <label class="form__label" for="c6-company">
                            <i class="fa fa-times ui--error"></i>
                            Company
                        </label>
                        <div class="form__helpBox form__helpBox--right">
                            <div class="form__helpText">
                                Please enter the name of your Business
                            </div>
                        </div>
                        <div class="form__errorBox">
                            <p class="form__errorMsg">
                                <i class="fa fa-exclamation-triangle"></i> Error message goes here
                            </p>
                        </div>
                    </fieldset>
                    <fieldset class="form__item">
                        <input class="form__textBox form__fillCheck" type="telephone" id="c6-phone">
                        <label class="form__label" for="c6-phone">
                            <i class="fa fa-times ui--error"></i>
                            Phone
                        </label>
                        <div class="form__helpBox form__helpBox--right">
                            <div class="form__helpText">
                                Please enter your contact number
                            </div>
                        </div>
                        <div class="form__errorBox">
                            <p class="form__errorMsg">
                                <i class="fa fa-exclamation-triangle"></i> Error message goes here
                            </p>
                        </div>
                    </fieldset>
                    <fieldset class="form__item">
                        <input class="form__textBox form__fillCheck" type="email" id="c6-username">
                        <label class="form__label" for="c6-username">
                            <i class="fa fa-times ui--error"></i>
                            Email
                        </label>
                        <div class="form__helpBox form__helpBox--right">
                            <div class="form__helpText">
                                Email will also be your username
                            </div>
                        </div>
                        <div class="form__errorBox">
                            <p class="form__errorMsg">
                                <i class="fa fa-exclamation-triangle"></i> Error message goes here
                            </p>
                        </div>
                    </fieldset>
                    <fieldset class="form__item">
                        <input class="form__textBox form__fillCheck" type="password" id="c6-password">
                        <label class="form__label" for="c6-password">
                            <i class="fa fa-times ui--error"></i>
                            Password
                        </label>
                        <div class="form__helpBox form__helpBox--right">
                            <div class="form__helpText">
                                Your password must have minimum 8 characters and include letters and at least 1 number
                            </div>
                        </div>
                        <div class="form__errorBox">
                            <p class="form__errorMsg">
                                <i class="fa fa-exclamation-triangle"></i> Error message goes here
                            </p>
                        </div>
                    </fieldset>
                    <div class="ui__btnHolder">
                        <button class="action__btn action__btn--full">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__item one-half pull-right">
            <div class="subActions__box pull-right">
                <p class="subAction text--right">Existing user? <a href="#">Login now</a></p>
            </div>
            <section class="productFeatures border--left">
                <ul class="productFeatures_list">
                    <li class="productFeatured_item"><div class="productFeatured_itemIcon"><img src="http://placehold.it/60x60/f5f5f5/ccc/" /></div><div class="productFeatured_itemInfo"><h2 class="productFeatured_item--header">Feature Heading</h2><ul><li>Item line one over here</li><li>Item line two</li></ul></div></li>
                    <li class="productFeatured_item"><div class="productFeatured_itemIcon"><img src="http://placehold.it/60x60/f5f5f5/ccc/" /></div><div class="productFeatured_itemInfo"><h2 class="productFeatured_item--header">Feature Heading</h2><ul><li>Item line one over here</li><li>Item line two</li></ul></div></li>
                    <li class="productFeatured_item"><div class="productFeatured_itemIcon"><img src="http://placehold.it/60x60/f5f5f5/ccc/" /></div><div class="productFeatured_itemInfo"><h2 class="productFeatured_item--header">Feature Heading</h2><ul><li>Item line one over here</li><li>Item line two</li></ul></div></li>
                </ul>
            </section>
        </div>
    </div>
</div>
