<header class="signup__header grid" ng-if="!SelfieSignUpCtrl.formOnly">
    <div class="signup__gridHolder grid grid--middle">
        <div class="grid__item one-quarter">
            <span class="rc__logo"></span><span class="ir">Reelcontent</span></h1>
        </div><!--
        --><div class="grid__item three-quarters text--right">
            <ul class="header__nav">
                <li><a href="http://reelcontent.com/#features">Features</a></li>
                <li><a href="http://reelcontent.com/#testimonials">Testimonials</a></li>
                <li><a href="http://reelcontent.com/#about-us">About</a></li>
                <li><a c6-sref="Selfie:Login">Sign In</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="signup__gridHolder" c6-alias="SelfieSignUpCtrl.model as user">
    <div class="grid one-whole" ng-if="!SelfieSignUpCtrl.formOnly">
        <div class="grid__item grid--center">
            <h1 class="signup__headline tk--hdr">Video Ads Made Easy</h1>
            <h2 class="tk--hdr signup__tagline">Reelcontent. Real Results.</h2>
        </div>
    </div>
    <div class="grid one-whole">
        <div class="grid__item one-half">
            <h2 class="tk--hdr signup__pagetitle">Create a FREE account</h2>
            <div class="grid grid--center">
                <div class="form__items form--narrow">
                    <form name="signup">

                        <fieldset blur-validate="c6-firstName" ng-class="{ 'ui--hasError': SelfieSignUpCtrl.errors.firstName }" class="form__item">
                            <input c6-fill-check class="form__textBox form__fillCheck" type="text" id="c6-firstName" ng-model="user.firstName">
                            <label class="form__label" for="c6-firstName">
                                <i class="fa fa-times ui--error"></i>
                                First Name*
                            </label>
                            <!--<div class="form__helpBox form__helpBox--right">
                                <div class="form__helpText">
                                    Please enter your first name
                                </div>
                            </div>-->
                            <div class="form__errorBox">
                                <p class="form__errorMsg">
                                    <i class="fa fa-exclamation-triangle"></i> First name is required
                                </p>
                            </div>
                        </fieldset>
                        <fieldset blur-validate="c6-lastName" ng-class="{ 'ui--hasError': SelfieSignUpCtrl.errors.lastName }" class="form__item">
                            <input c6-fill-check class="form__textBox form__fillCheck" type="text" id="c6-lastName" ng-model="user.lastName">
                            <label class="form__label" for="c6-lastName">
                                <i class="fa fa-times ui--error"></i>
                                Last Name*
                            </label>
                            <!--<div class="form__helpBox form__helpBox--right">
                                <div class="form__helpText">
                                    Please enter your last name
                                </div>
                            </div>-->
                            <div class="form__errorBox">
                                <p class="form__errorMsg">
                                    <i class="fa fa-exclamation-triangle"></i> Last name is required
                                </p>
                            </div>
                        </fieldset>
                        <fieldset blur-validate="c6-company" ng-class="{ 'ui--hasError': SelfieSignUpCtrl.errors.company }" class="form__item">
                            <input c6-fill-check class="form__textBox form__fillCheck" type="text" id="c6-company" ng-model="user.company">
                            <label class="form__label" for="c6-company">
                                <i class="fa fa-times ui--error"></i>
                                Company*
                            </label>
                            <!--<div class="form__helpBox form__helpBox--right">
                                <div class="form__helpText">
                                    Please enter the name of your Business
                                </div>
                            </div>-->
                            <div class="form__errorBox">
                                <p class="form__errorMsg">
                                    <i class="fa fa-exclamation-triangle"></i> Company is required
                                </p>
                            </div>
                        </fieldset>
                        <!--<fieldset class="form__item">
                            <input class="form__textBox form__fillCheck" type="tel" id="c6-phone" ng-model="user.phone">
                            <label class="form__label" for="c6-phone">
                                <i class="fa fa-times ui--error"></i>
                                Phone
                            </label>
                            <div class="form__helpBox form__helpBox--right">
                                <div class="form__helpText">
                                    Please enter your contact number
                                </div>
                            </div>
                            <div class="form__errorBox">
                                <p class="form__errorMsg">
                                    <i class="fa fa-exclamation-triangle"></i> Error message goes here
                                </p>
                            </div>
                        </fieldset>-->
                        <fieldset blur-validate="c6-username" ng-class="{ 'ui--hasError': SelfieSignUpCtrl.errors.email }" class="form__item">
                            <input c6-fill-check check-view="true" class="form__textBox form__fillCheck" type="email" id="c6-username" ng-model="user.email">
                            <label class="form__label" for="c6-username">
                                <i class="fa fa-times ui--error"></i>
                                Email*
                            </label>
                            <div class="form__helpBox" ng-class="{ 'form__helpBox--center' : SelfieSignUpCtrl.formOnly, 'form__helpBox--right' :  !SelfieSignUpCtrl.formOnly }">
                                <div class="form__helpText">
                                    This will also be your username
                                </div>
                            </div>
                            <div class="form__errorBox">
                                <p class="form__errorMsg">
                                    <i class="fa fa-exclamation-triangle"></i> Valid email is required
                                </p>
                            </div>
                        </fieldset>
                        <fieldset blur-validate="c6-password" ng-class="{ 'ui--hasError': SelfieSignUpCtrl.errors.show && (SelfieSignUpCtrl.errors.password || signup['c6-password'].$error.pattern || signup['c6-password'].$error.minlength) }" class="form__item">
                            <input c6-fill-check check-view="true" class="form__textBox form__fillCheck" type="password" id="c6-password" name="c6-password" ng-minlength="8" ng-pattern="/\d/" ng-model="user.password" ng-blur="SelfieSignUpCtrl.errors.show = true">
                            <label class="form__label" for="c6-password">
                                <i class="fa fa-times ui--error"></i>
                                Password*
                            </label>
                            <div class="form__helpBox" ng-class="{ 'form__helpBox--center' : SelfieSignUpCtrl.formOnly, 'form__helpBox--right' :  !SelfieSignUpCtrl.formOnly }">
                                <div class="form__helpText">
                                    Your password must be at least 8 characters and include 1 number
                                </div>
                            </div>
                            <div class="form__errorBox">
                                <p class="form__errorMsg">
                                    <i class="fa fa-exclamation-triangle"></i> Please enter a valid password
                                </p>
                            </div>

                        </fieldset>
                    </form>
                    <div class="ui__btnHolder">
                        <button class="action__btn action__btn--full" ng-click="SelfieSignUpCtrl.submit()">Sign up</button>
                        <div ng-if="SelfieSignUpCtrl.message" class="alertMessage alert__failure">
                            <span>{{SelfieSignUpCtrl.message}}</span>
                        </div>
                    <div class="subActions__box text--center" ng-if="!SelfieSignUpCtrl.formOnly">
                        <p class="subAction">Existing user? <a c6-sref="Selfie:Login">Login now</a></p>
                    </div>
                    <div class="subActions__box text--center">
                        <div class="signup__secured">
                            <span class="signup__secured--icon"><i class="fa fa-shield"></i></span>
                            <span class="signup__secured--label" title="RSA 2048bit security">Secured Platform</span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div><!--
        --><div class="grid__item one-half" ng-if="!SelfieSignUpCtrl.formOnly">
            <section class="productFeatures border--left">
                <div class="productFeatures__placement">
                    <span class="placement__img"><img src="styles/selfie/img/about_video_card.png" /> </span>
                </div>
                <p class="productFeatured_itemText">Reelcontent makes it real simple for you to get your video in front of customers.</p>
                <p class="productFeatured_itemText">It's as easy as:</p>
                <ul class="productFeatures_list">
                    <li class="productFeatured_item"><div class="productFeatured_itemIcon">1</div><div class="productFeatured_itemInfo"><h2 class="productFeatured_item--header tk--hdr">Add your video</h2></div></li>
                    <li class="productFeatured_item"><div class="productFeatured_itemIcon">2</i></div><div class="productFeatured_itemInfo"><h2 class="productFeatured_item--header tk--hdr">Add text description and social links</h2></div></li>
                    <li class="productFeatured_item"><div class="productFeatured_itemIcon">3</div><div class="productFeatured_itemInfo"><h2 class="productFeatured_item--header tk--hdr">Choose your audience and submit</h2></div></li>
                </ul>
            </section>
        </div>
    </div>
</div>
<footer class="signup__footer" ng-if="!SelfieSignUpCtrl.formOnly">
    <div class="signup__gridHolder">
        <ul class="customer__links">
            <li><span class="microsoft-logo"></span></li>
            <li><span class="callaway-logo"></span></li>
            <li><span class="oldnavy-logo"></span></li>
            <li><span class="wistia-logo"></span></li>
            <li><span class="aus-tourism-logo"></span></li>
        </ul>
    </div>
</footer>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '202344783438882');
fbq('track', 'ViewContent');</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=202344783438882&ev=PageView&noscript=1"

/></noscript>
<!-- End Facebook Pixel Code -->