<div class="prelogin__gridHolder">
    <div class="grid grid--center grid--middle">
        <div class="grid__item one-whole">
            <div class="brandingHead">
                <h1 class="text--center tk--hdr"><img src="styles/selfie/img/reelcontent-logo.png" /><span class="ir">Reelcontent</span></h1>
            </div>
            <h2 class="tk--hdr text--center">Please Activate Your Account</h2>
            <p>Thank you for registering for Reelcontent Self-Serve Video Ads!</p>
            <p ng-show="SelfieSignUpSuccessCtrl.model.email" class="subAction alertMessage alert__success text--center">Before you can continue, you must activate your account.<br><strong>Please check your email {{SelfieSignUpSuccessCtrl.model.email}} for an activation link.</strong></p>
            <p class="subAction text--center">Didn't get the email?<br>
                <a c6-sref="Selfie:Login">Login</a> in order to resend the confirmation link.</p>
        </div>
    </div>
</div>