<!-- sign up form with modal wrapper -->
<div ng-if="currentState.indexOf('Selfie:Demo:Preview') !== -1" class="modalDialog__group modalDialog__group--confirm modalBody__group--tall modalBody__group--narrow modalBody__one-col selfieModal bgClear">
    <header class="modalHeader__group">
        <button class="modal__closeBtn btnInvis" ng-click="SelfieSignUpCtrl.cancel()"><span class="ir">Close</span>
            <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" d="M16.5,0L9,7.5L1.5,0L0,1.5L7.5,9L0,16.5L1.5,18L9,10.5l7.5,7.5l1.5-1.5L10.5,9
            L18,1.5L16.5,0z"></path>
            </svg>
        </button>
    </header>

    <div class="modalBody__group typo--centered">
        <div ng-include="'views/selfie/sign_up.html'"></div>
    </div>
</div>
<div ng-if="currentState.indexOf('Selfie:Demo:Preview') !== -1" class="modal__overlay modal__overlay--confirm">&nbsp;</div>

<!-- sign up form without modal wrapper -->
<div ng-if="currentState.indexOf('Selfie:Demo:Preview') === -1" ng-include="'views/selfie/sign_up.html'"></div>