<div class="ui__modal" c6-alias="EditorSplashCtrl.model as minireel">
    <navigation class="tabNav__group clearfix">
        <h1 class="tabNav__title">Thumbnail Settings</h1>
        <ul class="tabNav__list clearfix">
            <li class="tabNav__item">
                <a c6-sref="{{NewCtrl.baseState}}.general"
                    class="tabNav__link"
                    title="Video Content">
                    <span class="tabNav__icon">
                        <span class="ui__checkSmall sprite--alpha">&nbsp;</span>
                    </span>
                    <span class="tabNav__tabName">Source Type</span>
                </a>
            </li>
            <li class="tabNav__item">
                <a c6-sref="{{NewCtrl.baseState}}.general"
                    class="tabNav__link" 
                    title="Editorial Content">
                    <span class="tabNav__icon">!</span>
                    <span class="tabNav__tabName">Image Settings</span>
                </a>
            </li>
        </ul>
        <button class="modal__closeBtn sprite--alpha" c6-sref="editor"><span class="ir">Close</span></button>
    </navigation>

    <div class="modal__viewHolder">
        <c6-view></c6-view>
    </div>

    <footer class="modal__btnFooter">
        <button class="modal__btn modal__btn--first toolbar__delete" title="Cancel" c6-sref="editor">Cancel</button>
        <button class="modal__btn modal__btn--last" title="Save">Next Step</button>
    </footer>
</div>
<div class="ui__overlay">&nbsp;</div>
