<c6-drag-space class="table__group" controller-as="DragCtrl" id="drag-space">
    <c6-alias model="EditorCtrl.model.data.deck" as="deck">
        <button class="btn tableNav__btn tableNav__btn--prev" title="Previous" type="button" ng-click="CardTableCtrl.scroll('left')">
            <span class="btn__label faa fa-chevron-left">
                <span class="ir">Previous</span>
            </span>
        </button>
        <button class="btn tableNav__btn tableNav__btn--next" title="Next" type="button" ng-click="CardTableCtrl.scroll('right')">
            <span class="btn__label faa fa-chevron-right">
                <span class="ir">Next</span>
            </span>
        </button>
        <div class="table__left-zone" id="scroll-left" c6-drag-zone>&nbsp;</div>
        <ul id="card-scroller" class="card__list" c6-bind-scroll="CardTableCtrl.position">
            <li class="card__list-item js-card-list-item">
                <div id="drop-zone-0" c6-drag-zone class="card__drop-zone">&nbsp;</div><!--
                --><div class="new__container" ng-hide="DragCtrl.currentDrags.length" ng-if="deck.length > 1">
                    <button ng-click="EditorCtrl.newCard(0, $event)" class="new__button ui__add c6studioSprite--alpha"><span class="ir">Add Here</span></button>
                </div>
            </li>
            <li class="card__list-item js-card-list-item" render-deck="deck">
                <div id="new-slide" class="card__container card--createNew" ng-if="$index === (EditorCtrl.lastEditableIndex + 1)">
                    <h4 class="card__type">&nbsp;</h4>
                    <div class="card__item">
                        <button ng-click="EditorCtrl.newCard($index, $event)" class="createNew__button">
                            <span class="ui__add c6studioSprite--alpha"><span class="ir">Add Here</span></span>
                        </button>
                        <h1 class="card__title"><span class="card__titleText">Create A New Slide</span></h1>
                    </div>
                </div><!--
             --><div class="new__container new__container--spacer"
                    ng-if="$index === (EditorCtrl.lastEditableIndex + 1)"
                    ng-hide="DragCtrl.currentDrags.length">
                    <div class="no__button">&nbsp;</div>
                    <button ng-click="EditorCtrl.newCard($index + 1, $event)" class="new__button ui__add c6studioSprite--alpha" id="zone-{{$this.id}}" data-index={{$index}}><span class="ir">Add Here</span></button>
                </div><!--
             --><div class="card__container card--{{$this.type}}"
                    ng-class="{
                        'card__container--dragging': DragCtrl.currentDrags[0] === DragCtrl.draggables[$this.id]
                    }"
                    id="container-{{$this.id}}"
                    c6-drag-zone>
                    <span ng-show="DragCtrl.currentDrags[0] !== DragCtrl.draggables[$this.id]">
                        <h4 class="card__type">{{$index + 1}}. {{$this.label}}</h4>
                        <button ng-show="EditorCtrl.canEditCard($this)" ng-click="EditorCtrl.deleteCard($this, $event)" class="card__deleteBtn" type="button" title="Delete Card">
                            <span class="ui__xSmall ui__xSmall--white c6studioSprite--alpha"><span class="ir">Delete Card</span></span>
                        </button>
                    </span>
                    <div id="{{$this.id}}" data-title="{{$this.title}}" c6-draggable="EditorCtrl.canEditCard($this)" ng-click="EditorCtrl.editCard($this)" class="card__item">
                         <ng-include src="'views/minireel/cards/' + $this.view + '.html'"></ng-include>
                    </div>
                    <div ng-show="DragCtrl.currentDrags[0] !== DragCtrl.draggables[$this.id]" class="card__contextBar">
                        <a href="" title="Preview This Slide" ng-click="EditorCtrl.previewMode($this, $event)">Preview This Slide</a>
                    </div>
                </div><!--
             --><div id="drop-zone-{{$this.id}}" data-title="{{$this.title}}" ng-show="DragCtrl.currentDrags[0] !== DragCtrl.draggables[$this.id] && $index <= EditorCtrl.lastEditableIndex" c6-drag-zone="CardTableCtrl.enableDrop" class="card__drop-zone">&nbsp;</div><!--
             --><div data-title="{{$this.title}}" ng-show="$index > EditorCtrl.lastEditableIndex" class="card__drop-zone">&nbsp;</div><!--
             --><div class="new__container"
                    ng-class="{'new__container--spacer': $index >= EditorCtrl.lastEditableIndex}"
                    ng-hide="DragCtrl.currentDrags.length"
                    ng-style="{ visibility: $index === (deck.length - 1) ? 'hidden' : '' }">
                    <div class="no__button">&nbsp;</div>
                    <button ng-click="EditorCtrl.newCard($index + 1, $event)" class="new__button ui__add c6studioSprite--alpha" id="zone-{{$this.id}}" data-index={{$index}}><span class="ir">Add Here</span></button>
                </div>
            </li>
        </ul>
        <div class="table__right-zone" id="scroll-right" c6-drag-zone>&nbsp;</div>
    <c6-alias model="EditorCtrl.model.data.deck" as="deck">
</c6-drag-space>

<card-table-paginator
    deck="EditorCtrl.model.data.deck"
    on-scroll="CardTableCtrl.scrollTo(position)"
    scroller-view-ratio="CardTableCtrl.scrollerViewRatio"
    scroller-view-position="CardTableCtrl.scrollerViewPosition">
        <ul id="paginator-list" class="pageMap__list">
            <li style="width:25px;background-color:#fff;text-align:center;" ng-repeat="card in EditorCtrl.model.data.deck" class="pageMap__item" ng-if="($index !== EditorCtrl.model.data.deck.length - 1)" card-table-paginator-item>
                <button class="btnInvis pageMap__page"
                ng-class="{'pageMap__page--error' : EditorCtrl.errorForCard(card)}"
                ng-click="CardTableCtrl.scrollToCard(card)">
                    <span class="btn__label">{{$index + 1}}</span>
                </button>
            </li>
            <li style="width:25px;background-color:#fff;text-align:center;" class="pageMap__item">
                <button class="btnInvis pageMap__page"
                ng-click="CardTableCtrl.scrollToCard(EditorCtrl.model.data.deck[EditorCtrl.model.data.deck.length - 1])">
                    <span class="btn__label">+</span>
                </button>
            </li>
            <li style="width:25px;background-color:#fff;text-align:center;" class="pageMap__item" card-table-paginator-item>
                <button class="btnInvis pageMap__page"
                ng-class="{'pageMap__page--error' : EditorCtrl.errorForCard(EditorCtrl.model.data.deck[EditorCtrl.model.data.deck.length - 1])}"
                ng-click="CardTableCtrl.scrollToCard(EditorCtrl.model.data.deck[EditorCtrl.model.data.deck.length - 1])">
                    <span class="btn__label">{{EditorCtrl.model.data.deck.length}}</span>
                </button>
            </li>
        </ul>
</card-table-paginator>