<div ng-if="model.dialog">
    <div c6-alias="model.dialog as dialog" class="modalDialog__group modalDialog__group--confirm selfieModal">
        <header class="modalHeader__group">
            <h1 class="modal__title">Please Confirm</h1>
            <button class="modal__closeBtn btnInvis" ng-click="dialog.onCancel()"><span class="ir">Close</span>
                <svg class="ui__iconHolder18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                    <path class="ui__icon" fill-rule="evenodd" clip-rule="evenodd" d="M16.5,0L9,7.5L1.5,0L0,1.5L7.5,9L0,16.5L1.5,18L9,10.5l7.5,7.5l1.5-1.5L10.5,9
                    L18,1.5L16.5,0z"/>
                </svg>
            </button>
        </header>

        <div class="modalBody__group typo--centered">
            <h1 ng-show="dialog.prompt" class="modalBody__title">{{dialog.prompt}}</h1>
            <p ng-show="dialog.message" class="modalBody__message">
                Message here {{dialog.message}}
            </p>
        </div>

        <footer class="modalFooter__group">
            <button class="btnAction btnAction btnAction--first" ng-show="!!dialog.cancel" ng-click="dialog.onCancel()" title="{{dialog.cancel}}">{{dialog.cancel}}</button>
            <button ng-click="dialog.onAffirm()" title="{{dialog.affirm}}" ng-class="{ 'btnSpinner__waiting' : model.pending }" class="btnAction btnAction--success btnAction--last" type="button">{{dialog.affirm}}</button>
        </footer>
    </div>
    <div class="modal__overlay modal__overlay--confirm">&nbsp;</div>
</div>