<div class="videoPlayer">
    <div id="videoEmbedPlayer" ng-switch="service" ng-if="!!videoid">
        <youtube-player ng-switch-when="youtube" videoid="{{videoid}}" controls></youtube-player>
        <vimeo-player ng-switch-when="vimeo" id="preview" videoid="{{videoid}}" controls></vimeo-player>
        <dailymotion-player ng-switch-when="dailymotion" id="preview" videoid="{{videoid}}" controls></dailymotion-player>
        <jw-player ng-switch-when="jwplayer" id="preview" videoid="{{videoid}}"></jw-player>
        <vidyard-player ng-switch-when="vidyard" id="preview" videoid="{{videoid}}"></vidyard-player>
        <instagram-player ng-switch-when="instagram" id="preview" videoid="{{videoid}}"></instagram-player>
        <brightcove-player ng-switch-when="brightcove" id="preview" videoid="{{videoid}}" accountid="{{videodata.accountid}}" playerid="{{videodata.playerid}}" embedid="{{videodata.embedid}}"></brightcove-player>
        <embedded-player class="embeddedPlayer--{{service}}" ng-switch-default code="{{embedCode}}" controls></embedded-player>
    </div>
</div>
<video-trimmer ng-show="!disableTrimmer()"
    start="start"
    end="end"
    duration="{{video.duration}}"
    current-time="currentTime"
    on-start-scan="onMarkerSeek(promise)"
    on-end-scan="onMarkerSeek(promise)">
</video-trimmer>
