<div class="modalBody__group modalBody__group--sideTabs mrConfigure__autoplay">
    <form c6-alias="NewCtrl.mode as config">
        <h1 class="forms__name--title">Do you want to play videos continuously?</h1>
        <label class="checkbox--inline">
            <input id="hasAutoplay" type="checkbox" ng-model="NewCtrl.autoplay" ng-disabled="!config.autoplayable" class="checkbox__input">
            <span class="btn__label faa">&nbsp;</span>
        </label>
        <label for="hasAutoplay">
            <span ng-show="config.autoplayable">Yes, <strong>all</strong> videos should play continuously.</span>
            <span ng-show="!config.autoplayable">The <strong class="typo--attention">{{config.name}}</strong> MiniReel Type does not support continuous playing videos.</span>
        </label>
    </form>
    <p class="modalBody__fineprint typo--warning">
        <strong>!</strong> These changes affect desktop experiences only.
    </p>
</div>
<footer class="modalFooter__group">
    <button class="btnAction btnAction--first" ng-click="NewCtrl.prevTab()" title="Previous Step">Prev Step</button>
    <button ng-show="!!NewCtrl.tabs[NewCtrl.tabs.indexOf(NewCtrl.currentTab) + 1]" ng-click="NewCtrl.nextTab()" class="btnAction btnAction--primary btnAction--last" type="button" title="Next Step">Next Step</button>
    <button ng-show="!NewCtrl.tabs[NewCtrl.tabs.indexOf(NewCtrl.currentTab) + 1]" ng-click="NewCtrl.save()" class="btnAction btnAction--success btnAction--last" type="button" title="Done!" ng-disabled="!NewCtrl.title">I&rsquo;m Done!</button>
    <p class="modalFooter__guideText">Step {{NewCtrl.tabs.indexOf(NewCtrl.currentTab) + 1}} of {{NewCtrl.tabs.length}}</p>
</footer>
