<div class="modalBody__group modalBody__group--sideTabs mrConfigure__autoplay">
    <form c6-alias="NewCtrl.mode as config">
        <label class="forms__pair forms__pair--spacer clearfix">
            <span class="forms__name forms__name--extended" >End Date: </span>
            <span class="forms__inputHolder--short">
                <input type="date" ng-model="NewCtrl.endDate" name="endDate" placeholder="yyyy-mm-dd" />
                <span ng-show="form.endDate.$error.valid">Invalid date.</span>
            </span>
        </label>
    </form>
    <p class="modalBody__fineprint typo--warning">
        <strong>!</strong> These changes affect desktop experiences only.
    </p>
</div>
<footer class="modalFooter__group">
    <button class="btnAction btnAction--first" ng-click="NewCtrl.prevTab()" title="Previous Step">Prev Step</button>
    <button ng-click="NewCtrl.save()" class="btnAction btnAction--success btnAction--last" type="button" title="Done!" ng-disabled="!NewCtrl.title">I&rsquo;m Done!</button>
    <p class="modalFooter__guideText">Step {{NewCtrl.tabs.indexOf(NewCtrl.currentTab) + 1}} of {{NewCtrl.tabs.length}}</p>
</footer>
