<div class="modalBody__group modalBody__group--sideTabs mrConfigure__general">
    <form>
        <label class="forms__pair forms__pair--spacer clearfix" c6-alias="NewCategoryCtrl.model as categories">
            <span class="forms__name forms__name--extended" > Categories:</span>
            <span class="forms__inputHolder--med">
                <select multiple ng-model="NewCtrl.categories" 
                class="selector__multiSelect"
                ng-options="category.name as category.label for category in categories"></select>
                <p class="typo--warning" style="font-size:0.875em;">Use 'Ctl/Cmd' or 'Shift' to select multiple items</p>
            </span>
        </label>
    </form>
    <p class="modalBody__fineprint typo--danger"><strong>*</strong> Indicates required field.</p>
</div>
<footer class="modalFooter__group">
    <button ng-show="NewCtrl.currentTab !== NewCtrl.tabs[0]" ng-click="NewCtrl.prevTab()" class="btnAction btnAction--first" title="Previous Step">Prev Step</button>
    <button ng-show="NewCtrl.currentTab === NewCtrl.tabs[0]" class="btnAction btnAction--first" c6-sref="{{NewCtrl.returnState}}" title="Cancel">Cancel</button>
    <button ng-show="!!NewCtrl.tabs[NewCtrl.tabs.indexOf(NewCtrl.currentTab) + 1]" ng-click="NewCtrl.nextTab()" class="btnAction btnAction--primary btnAction--last" type="button" title="Next Step">Next Step</button>
    <button ng-show="!NewCtrl.tabs[NewCtrl.tabs.indexOf(NewCtrl.currentTab) + 1]" ng-click="NewCtrl.save()" class="btnAction btnAction--success btnAction--last" type="button" title="Done!" ng-disabled="!NewCtrl.title">I&rsquo;m Done!</button>
    <p class="modalFooter__guideText">Step {{NewCtrl.tabs.indexOf(NewCtrl.currentTab) + 1}} of {{NewCtrl.tabs.length}}</p>
</footer>
