<div class="modalBody__group modalBody__group--sideTabs mrConfigure__general">
    <form c6-alias="NewCtrl.mode as config">
        <label>
            <span class="forms__name--title">Please provide a title for your MiniReel <strong class="typo--danger">*</strong></span>
            <input type="text" class="forms__textField forms__textField--title" ng-model="NewCtrl.title">
        </label>
    </form>
    <p class="modalBody__fineprint typo--danger"><strong>*</strong> Indicates required field.</p>
</div>
<footer class="modalFooter__group">
    <button class="btnAction btnAction--first" c6-sref="{{NewCtrl.returnState}}" title="Cancel">Cancel</button>
    <ng-switch on="NewCtrl.tabs.length">
        <button ng-switch-when="1" ng-click="NewCtrl.save()" class="btnAction btnAction--success btnAction--last" type="button" title="Done!" ng-disabled="!NewCtrl.title">I&rsquo;m Done!</button>
        <button ng-switch-default ng-click="NewCtrl.nextTab()" ng-disabled="!NewCtrl.title" class="btnAction btnAction--primary btnAction--last" type="button" title="Next Step">Next Step</button>
    </ng-switch>
    <p class="modalFooter__guideText">Step {{NewCtrl.tabs.indexOf(NewCtrl.currentTab) + 1}} of {{NewCtrl.tabs.length}}</p>
</footer>