<div class="modalBody__group modalBody__group--sideTabs mrConfigure__mode">
    <ul class="wizard__group">
        <li ng-repeat="$this in NewCtrl.modes" 
            class="wizard__choice"
            ng-class="{'wizard__choice--disabled': $this.disabled}">
            <label class="radiobox radiobox--large wizard__hitarea" for="mode-{{$this.value}}">
                <input id="mode-{{$this.value}}" type="radio" 
                    ng-disabled="$this.disabled"
                    name="minireel-mode" ng-value="$this"
                    class="radiobox__input" ng-model="NewCtrl.mode"/>
                <span class="btn__icon faa fab">&nbsp;</span>
                <span class="wizard__diagram c6studioSprite--fff diagram__{{$this.value}}">&nbsp;</span>
                <span class="wizard__copy">
                    <span class="wizard__title">{{$this.name}}</span>
                    <span class="wizard__description">{{$this.description}}</span>
                </span>
            </label>
        </li>
    </ul>
    <p class="modalBody__fineprint typo--warning">
        <strong>!</strong> These changes affect desktop experiences only.
    </p>
</div>
<footer class="modalFooter__group">
    <button ng-show="NewCtrl.currentTab !== NewCtrl.tabs[0]" ng-click="NewCtrl.prevTab()" class="btnAction btnAction--first" title="Previous Step">Prev Step</button>
    <button ng-show="NewCtrl.currentTab === NewCtrl.tabs[0]" class="btnAction btnAction--first" c6-sref="{{NewCtrl.returnState}}" title="Cancel">Cancel</button>
    <button ng-click="NewCtrl.nextTab()" class="btnAction btnAction--primary btnAction--last" type="button" title="Next Step">Next Step</button>
    <p class="modalFooter__guideText">Step {{NewCtrl.tabs.indexOf(NewCtrl.currentTab) + 1}} of {{NewCtrl.tabs.length}}</p>
</footer>