/*.videoPlayer {
    height:400px;
}

.youtube-player {
    display: block;
}*/

.videoPlayer,
youtube-player,
vimeo-player,
dailymotion-player,
rumble-player,
vast-player {
    height: 304px;
    width:100%;
}
vast-player {
    height: 280px;
    width:100%;
}

#videoEmbedPlayer {
    height: inherit;
}

.grid--center .grid__item {
    text-align: left;
}

.thumbnail__group .grid__item {
    float: left;
}

.ctaPreview__container--button
.ctaPreview__link,
.ctaPreview__container--link
.ctaPreview__button {
    display: block;
}

.adPreview__button.selected {
    border-top:2px solid #00c0ff;
    background-color:#fff;
    border-bottom: none;
}

.preview__embedHolder.mobile {
    height: 33em;
    width: 20em;
    margin: 0 auto;
}

.thumbnail__uploadBox .thumbnail__img {
    transform: translateY(-100%);
}