/*  ==========================================================================
    .miniReels__group
    ========================================================================== */
    .miniReels__group {
        margin-top:1.25em;
    }
    .selectorActions__group {
        float:left;
    }
    .pager__group {
        float:right;
    }
        .pager__pageIndicator:hover,
        .pager__pageIndicator:active {
            border-color:#ddd;
            background:#eee;
        }
        .pager__pageIndicator .textField {
            width:2em; margin:-0.25em 0 0 0;
            text-align: center;
        }
/*  ==========================================================================
    .miniReel__group
    ========================================================================== */
    .miniReel__group {
        padding:0.75em 0;
        position: relative;
    }
        .miniReel__selector { 
            position: absolute;
        }
            .miniReel__selector .checkbox__input {
                padding:0 1.375em 1em 1.5em;
            }
        .miniReel__imgBox {
            position: absolute; left:3.75em;
            width:3.75em; height:3em;
            background:50% 50% / cover no-repeat;
            margin:0 0.75em 0 0;
        }
        .miniReel__titleBox {
            float:left;
            margin:0 1.5em 0 8.25em;
            width:28.7%;
        }
            .miniReel__title {
                margin:0.1875rem 0 0 0; font-size:0.875em;
            }
            .miniReel__metaData {
                color:#929292; 
                font-size:0.75em; line-height: 1;
                margin:0.125rem 0 0 0; 
            }
                .miniReel__metaData span {
                    color:#626262;
                }
        .miniReel__status {
            font-size:0.75em;
            color:#929292;
            margin-top:0.3125rem;
        }
            .miniReel__statusText--active {
                color:#3dc667;
            }
            .miniReel__statusText--pending {
                color:#626262;
            }
            .miniReel__date {
                color:#626262;
            }
            .miniReel__count {
                line-height: 1;
                margin:0.125rem 0 0 0; 
            }


/*  ==========================================================================
    preloader animation
    ========================================================================== */
    .c6mr-preloader__group {
        text-align: center;
        position:absolute; left:0; top:0; bottom:0; right:0; z-index: 10;
        background:rgba(0,0,0,0.5);
        -webkit-transition:opacity 0.5s; transition:opacity 0.5s;
        -webkit-transition-delay:0.25s; transition-delay:0.25s;
        opacity:1; display:block;
    }
        .c6mr-preloader {
            position:absolute;
            margin:-14px 0 0 -14px;
            top:50%; left:50%;
        }
        .c6mr-preloader__ring {
            position:absolute;
            width:24px; height:24px;
            border:2px solid #fff;
            border-radius:6em; 
        }
        .c6mr-preloader__orbit {
            position:absolute; left:0; top:0;
            width:24px; height:24px;
            -webkit-animation-name:c6DoSpinner;
            -webkit-animation-duration:1.5s;
            -webkit-animation-iteration-count:infinite;
            -webkit-animation-timing-function:linear;
            animation-name:c6DoSpinner;
            animation-duration:1.5s;
            animation-iteration-count:infinite;
            animation-timing-function:linear;
        }
            .c6mr-preloader__ball {
                position:absolute; left:0; top:0;
                width:6px; height:6px;
                background:#fff;
                border-radius:96px;
            }
        @-webkit-keyframes c6DoSpinner {
            0%{
                -webkit-transform:rotate(0deg)
            }
            100%{
                -webkit-transform:rotate(360deg)
            }
        }
        @keyframes c6DoSpinner {
            0%{
                transform:rotate(0deg)
            }
            100% {
                transform:rotate(360deg)
            }
        }
