<div class="modal__content modal__editor-slide clearfix" c6-alias="NewCtrl.mode as config" >
    <form ng-class="{form__adSettings : config.value === 'lightbox-ads'}">
        Video Ad Settings
        <ul class="wizard__group">
            <li ng-repeat="choice in NewAdsCtrl.adChoices.video" class="wizard__choice wizard__choice--textOnly wizard__choice--ads">
                <input id="videoAd_{{choice.value}}" type="radio"
                    name="minireel-category" ng-model="NewCtrl.videoAdSource" ng-value="choice.value"
                    class="modal__radioBtn" />
                <label class="wizard__hitarea" for="videoAd_{{choice.value}}"><span class="ir">{{choice.name}}</span></label>
                <div class="wizard__copy">
                    <h2 class="wizard__title">{{choice.name}}</h2>
                    <p class="wizard__p">{{choice.description}}</p>
                </div>
            </li>
        </ul>
    </form>
    <form class="form__adSettings" ng-if="config.value === 'lightbox-ads'">
        Display Ad Settings
        <ul class="wizard__group">
            <li ng-repeat="choice in NewAdsCtrl.adChoices.display" class="wizard__choice wizard__choice--textOnly wizard__choice--ads">
                <input id="displayAd_{{choice.value}}" type="radio"
                    name="minireel-category" ng-model="NewCtrl.displayAdSource" ng-value="choice.value"
                    class="modal__radioBtn" />
                <label class="wizard__hitarea" for="displayAd_{{choice.value}}"><span class="ir">{{choice.name}}</span></label>
                <div class="wizard__copy">
                    <h2 class="wizard__title">{{choice.name}}</h2>
                    <p class="wizard__p">{{choice.description}}</p>
                </div>
            </li>
        </ul>
    </form>
</div>
<footer class="modal__btnFooter">
    <button class="modal__btn modal__btn--first" ng-click="NewCtrl.prevTab()" title="Previous Step">Prev Step</button>
    <button class="modal__btn modal__btn--last" type="button" ng-click="NewCtrl.nextTab()" title="Next Step">Next Step</button>
    <div class="guideText">Step {{NewCtrl.tabs.indexOf(NewCtrl.currentTab) + 1}} of {{NewCtrl.tabs.length}}</div>
</footer>
