<div class="pageHolder">

    <div class="pageHeader__group">
        <div class="mainHeader__group">
            <h1 class="mainHeader__breadcrumbs tk--hdr">
                <a c6-sref="Selfie:Account" title="Settings">Settings</a> &nbsp;/&nbsp; Change Password
            </h1>
        </div><!--.mainHeader__group-->
    </div><!--.pageHeader__group-->

     <header class="settingsContent__header">
        <h2 class="settingsContent__title tk--hdr">Change Password</h2>
    </header>

    <div class="gridHolder">

        <div class="grid grid--center">
            <div class="grid__item one-half">
                <div class="form__items form--narrow">
                    <form name="theForm" ng-submit="PasswordCtrl.submit()">
                        <fieldset class="form__item" blur-validate="c6-password">
                            <input c6-fill-check class="form__textBox form__fillCheck" type="password" id="c6-password" type="password" name="password0" ng-model="PasswordCtrl.passwords[0]" autocomplete="off" ng-trim="false">
                            <label class="form__label" for="c6-password">
                                <i class="fa fa-times ui--error"></i>
                                Current Password
                            </label>
                            <div class="form__helpBox form__helpBox--right">
                                <div class="form__helpText">
                                    Your password must have minimum 8 characters and include letters and at least 1 number
                                </div>
                            </div>
                            <div class="form__errorBox">
                                <p class="form__errorMsg">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    <span ng-show="theForm.password0.$valid">Your current password is required</span>
                                    <span ng-show="theForm.password0.$error.maxlength">Too long</span>
                                    <span ng-show="theForm.password0.$error.minlength">Too short</span>
                                </p>
                            </div>
                        </fieldset>

                        <fieldset class="form__item" ng-class="{'ui--hasError': (!theForm.password1.$valid || (PasswordCtrl.passwords[1].length && (PasswordCtrl.passwords[0] === PasswordCtrl.passwords[1])))}">
                            <input c6-fill-check check-view="true" class="form__textBox form__fillCheck" type="password" id="c6-password-new" type="password" name="password1" ng-model="PasswordCtrl.passwords[1]" autocomplete="off" ng-minlength="8" ng-maxlength="128" ng-pattern="/\d/" ng-trim="false">
                            <label class="form__label" for="c6-password-new">
                                <i class="fa fa-times ui--error"></i>
                                New Password
                            </label>
                            <div class="form__helpBox form__helpBox--right">
                                <div class="form__helpText">
                                    Your password must have minimum 8 characters and include letters and at least 1 number
                                </div>
                            </div>
                            <div class="form__errorBox">
                                <p class="form__errorMsg">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    <span ng-show="theForm.password1.$valid">A new password is required. </span>
                                    <span ng-show="theForm.password1.$error.maxlength">Too long</span>
                                    <span ng-show="theForm.password1.$error.minlength || theForm.password1.$error.pattern">Must be at least 8 characters and include 1 number</span>
                                    <span ng-show="PasswordCtrl.passwords[1].length && (PasswordCtrl.passwords[0] === PasswordCtrl.passwords[1])">Cannot be the same as your current password</span>
                                </p>
                            </div>
                        </fieldset>

                        <fieldset class="form__item" ng-class="{'ui--hasError': (!theForm.password2.$valid || (PasswordCtrl.passwords[2].length && (PasswordCtrl.passwords[1] !== PasswordCtrl.passwords[2])))}">
                            <input c6-fill-check check-view="true" class="form__textBox form__fillCheck" type="password" id="c6-password-confirm" type="password" name="password2" ng-model="PasswordCtrl.passwords[2]" autocomplete="off" ng-trim="false">
                            <label class="form__label" for="c6-password-confirm">
                                <i class="fa fa-times ui--error"></i>
                                Repeat New Password
                            </label>
                            <div class="form__helpBox form__helpBox--right">
                                <div class="form__helpText">
                                    Your password must be at least 8 characters and include 1 number
                                </div>
                            </div>
                            <div class="form__errorBox">
                                <p class="form__errorMsg">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    <span ng-show="(PasswordCtrl.passwords[1] !== PasswordCtrl.passwords[2])">Passwords do not match</span>
                                </p>
                            </div>
                        </fieldset>


                        <div class="ui__btnHolder">
                            <button ng-disabled="!theForm.$valid || !PasswordCtrl.passwords[0] || !PasswordCtrl.passwords[1] || (PasswordCtrl.passwords[1].length && (PasswordCtrl.passwords[1] !== PasswordCtrl.passwords[2]))" class="action__btn action__btn--wide">Update Password</button>
                        </div>

                        <div>
                            <span class="subAction alertMessage alert__success text--center">{{PasswordCtrl.lastMessage}}</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>